[2020-03-07 02:17] mbthales opened #1 "CORS"
Hey man, i want use your api for a personal project and learning, but i don't have success for CORS reasons.

[2020-03-07 09:13] marbysneaker commented on #1
got the same issue with CORS

[2020-03-07 21:06] jonas-thuvesson-winberg commented on #1
same

[2020-03-07 21:12] marbysneaker commented on #1
I got it to work I downloaded an extension on chrome that allows CORS

[2020-03-09 07:55] radun2 opened #2 "Method countries retrieves empty array"
First of all nice job.

I was trying to calculate more data for example Death Percentage and Recovered percentage but it seems that something updated in the website and is not parsing properly anymore.

BTW if someone is interested for more data: https://github.com/CSSEGISandData/COVID-19

[2020-03-09 08:39] #2 closed

[2020-03-12 14:33] adamwojt opened #3 "Data source"
What's is your data source ? Do you store data and could you share it ? Are you scraping some website to get it ?

[2020-03-12 14:43] ericzlmd commented on #3
He's using GHO's datat API, which is WHO's

https://www.programmableweb.com/api/world-health-organization-gho-odata-rest-api-v10

[2020-03-12 16:52] KBPsystem777 commented on #1
Got same issue but hope this will somehow help you guys: [3 Ways to Fix the CORS Error](https://medium.com/@dtkatz/3-ways-to-fix-the-cors-error-and-how-access-control-allow-origin-works-d97d55946d9)

[2020-03-12 19:46] fqriss opened #4 "(node:469) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'children' of null"
Full error:
`(node:469) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'children' of null
at Timeout.setInterval [as _onTimeout] (/app/server.js:10:556)
    at process._tickCallback (internal/process/next_tick.js:68:7)
(node:469) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch blo

[2020-03-12 21:48] gabrielcosi commented on #3
What is the endpoint to get covid-19 stats? That api is huge

[2020-03-13 00:29] shikwambana commented on #1
I have being trying to solve this for 4 hours. I want to build an angular app that shows the number of cases in each country. Has anyone had any luck in solving this?

[2020-03-14 11:21] decoresin commented on #1
This API service works only Server To Server service !!!

[2020-03-14 12:30] Suraj975 commented on #1
Please refer this link as it worked for me. Explanations is really good and it might work for you guys.

https://stackoverflow.com/questions/43262121/trying-to-use-fetch-and-pass-in-mode-no-cors

[2020-03-14 14:45] javieraviles commented on #3
The api is scraping this website each 10 minutes:
https://www.worldometers.info/coronavirus/

[2020-03-14 14:48] javieraviles commented on #1
I forked the project, added CORS to express and deployed in Heroku, if anybody wants to use it, you should not have any CORS issues:

endpoints:
https://coronavirus-19-api.herokuapp.com/all
https://coronavirus-19-api.herokuapp.com/countries

the project is here if wanna see the code:
https://github.com/javieraviles/covidAPI

also in the root (https://coronavirus-19-api.herokuapp.com/) I added an i

[2020-03-14 14:49] javieraviles commented on #1
Will create a PR here to add CORS and see if author wants it... but also I think he modified the code under the hood, because the indexes to scrap cells from https://www.worldometers.info/coronavirus/ were broken

[2020-03-14 14:54] javieraviles commented on #4
To fix it go to `unminified.js`, lines 69-76, and change to

`  const totalColumns = 9;
  const countryColIndex = 0;
  const casesColIndex = 1;
  const todayCasesColIndex = 2;
  const deathsColIndex = 3;
  const todayDeathsColIndex = 4;
  const curedColIndex = 5;
  const activeColIndex = 6;
  const criticalColIndex = 7;`

Web from were the api scraps changed

[2020-03-14 15:01] sunil-sandhu commented on #1
Great work @javieraviles - I was literally considering doing the same thing, so thank you for taking the time to do this! :)

[2020-03-14 15:07] mbthales commented on #1
Thanks man. It works! @javieraviles

[2020-03-14 15:40] fqriss commented on #4
Still returning the same error.

[2020-03-14 16:07] meetmrkoushik opened #5 "How could we get data city wise ?"
How could we get data city wise ?

[2020-03-14 16:23] javieraviles commented on #4
Checkout my fork, there is surely working:
https://github.com/javieraviles/covidAPI

I fixed the indexes.

[2020-03-14 17:28] #4 closed

[2020-03-14 20:43] alpeza opened #6 "Good job man!"
Good job man!

[2020-03-14 20:44] #6 closed

[2020-03-15 15:10] EliteDaMyth commented on #1
I fixed it on the backend but forgot to update the code here! i have updated it so as for the CORS issues if you want you can open a pull request but its not that big of an issue because it can be fixed on the client side great work though!

[2020-03-15 15:12] EliteDaMyth commented on #1
@javieraviles also i would totally welcome your pull request for the frontend looks dope! I can host it on my server heroku seems to be a little slower. LMK on discord im more active there EliteDaMyth#0690

[2020-03-15 15:13] EliteDaMyth commented on #3
This is the correct answer I'm closing this issue for now!

[2020-03-15 15:13] #3 closed

[2020-03-15 15:14] #1 closed

[2020-03-15 15:15] EliteDaMyth commented on #2
@radun2 i was moving my hosts cuz of the large amount of requests i was getting its completely fine now!

[2020-03-15 15:16] EliteDaMyth commented on #5
We might look into opening this again if we have a better source. if you have a better source HMU! discord: EliteDaMyth#0690

[2020-03-15 15:16] #5 closed

[2020-03-15 16:28] igorecarrasco opened #7 "Great job, thanks!"
I built a [Twitter bot](https://twitter.com/COVID19_bot) on top of it. This is a great service – open, structured data APIs are lacking for this pandemic. Being able to make gimmicky stuff like twitter bots is underrated. It's very simple but may well end up saving lives.

Thanks, again.

[2020-03-15 16:28] #7 closed

[2020-03-15 18:28] EliteDaMyth commented on #4
Fixed in main repo too

[2020-03-16 12:23] aaronlilly opened #9 "do you plan on building a site too?"
I am working on a site (using your data) right now that users could search by country by typing in the country name and results for that country would be returned. i'll keep you up to date.

[2020-03-16 12:54] BalajiMohandas opened #10 "Can you please Include last updated timestamp"
Understand this is a realtime data, but incase of any delay we can just validate it by looking at the timestamp field

[2020-03-16 13:32] EliteDaMyth commented on #10
Adding in next PR :)

[2020-03-16 13:33] EliteDaMyth commented on #9
you can add me on discord if you wanna chat EliteDaMyth#0690 I'll be closing the issue as its not really an issue

[2020-03-16 13:33] #9 closed

[2020-03-16 14:04] EliteDaMyth commented on #10
should be done :)

[2020-03-16 14:04] #10 closed

[2020-03-16 15:58] dulajdanu opened #12 "Api is not working"
https://corona.lmao.ninja/countries/ this returns empty results set

[2020-03-16 16:00] matronator commented on #10
I think it broke the API, now it's returning only the "updated" value

[2020-03-16 16:00] integralLeft commented on #12
It looks like the website is up but the place it's scraping from is down

[2020-03-16 16:04] integralLeft commented on #12
Okay, looks like the website is up again; the API should be working too

[2020-03-16 16:22] tobiu opened #13 "Endpoint: https://corona.lmao.ninja/*"
Any chance to get the endpoint more stable?

Might be too much incoming traffic.

Maybe add some basic caching.

[2020-03-16 16:24] tobiu opened #14 "CORS support"
Access-Control-Allow-Origin header

would be nice, so that you can use the API via JS (client side) without using proxies.

thx & best regards,
tobias

[2020-03-16 17:56] kevinvarela opened #16 "Add active people"
![image](https://user-images.githubusercontent.com/11762429/76786579-35960180-6796-11ea-80b2-f42561f3a484.png)

[2020-03-16 18:46] ItsNash0 opened #17 "heroku support to deploy quickly"
can't get the API to work on my machine, you are using CORS but not importing it, and npm install + node server.js does not work

[2020-03-16 22:28] PolyMeilex commented on #14
It already returns ```Access-Control-Allow-Origin: *``` header
https://github.com/NovelCOVID/API/blob/f45191bab315ffff5fc401a5911ecaf11d1818d0/server.js#L158

[2020-03-16 22:31] tobiu commented on #14
ah, perfect. just verified it and it works fine now.

[2020-03-16 22:31] #14 closed

[2020-03-16 22:35] tobiu commented on #13
[off topic]

some cvid-demos i am working on using your api:
https://neomjs.github.io/pages/

[2020-03-17 04:11] omensight opened #18 "Add ISO country code"
Please add ISO code

[2020-03-17 06:44] EliteDaMyth commented on #18
will look into it later

[2020-03-17 06:44] EliteDaMyth commented on #17
will add cors to package.json in next commit. this isnt really made for selfhosting.

[2020-03-17 06:44] #17 closed

[2020-03-17 06:45] EliteDaMyth commented on #16
ok. next commit

[2020-03-17 06:47] EliteDaMyth commented on #13
cavhing already implemented through cf. it happens when worldometers site is updating and the api updates at same time. it fixes in 10 minutes automatically

[2020-03-17 06:47] EliteDaMyth commented on #13
also good work :)

[2020-03-17 06:47] #13 closed

[2020-03-17 06:48] EliteDaMyth commented on #12
worldometers site gets down sometimes will add a check in next commit

[2020-03-17 06:48] #12 closed

[2020-03-17 07:05] defrt opened #19 "Color not changing according the background"
In white backgrounds cant read the numbers

[2020-03-17 07:06] defrt opened #20 "Cycle through case death and recovered by tapping"
Cycle through case death and recovered by tapping

[2020-03-17 07:08] defrt opened #21 "Make it global"
Could be made global to track different statistics from
https://www.worldometers.info/

[2020-03-17 07:58] NicolaiVdS opened #22 "Querying country name not working"
When i go to https://corona.lmao.ninja/countries/Belgium

i get following response:
`Country not found`

while that country is in the countries list

[2020-03-17 08:23] darling commented on #22
The correct endpoint is `/countries/belgium`

[2020-03-17 08:31] NicolaiVdS commented on #22
ok a bit strange cuz the correct way to write a country name is always with a capital letter

[2020-03-17 10:40] meesaltena opened #23 "Disable the HTTP redirect to HTTPS"
I'm trying to use this API on an ESP32 microcontroller which has very little memory and power, so getting HTTPS to work is quite a challenge. If i make a request using HTTP I get a 301 redirect. I'd love for the API to support HTTP, if possible.

[2020-03-17 10:47] EliteDaMyth commented on #23
i use cloudflare so i cannot disable the https. i used an arduino and https works on it. try finding info about it on google.

[2020-03-17 10:47] #23 closed

[2020-03-17 10:48] EliteDaMyth commented on #22
i'll add tolowercase to fix issue soon

[2020-03-17 10:48] #22 closed

[2020-03-17 10:49] EliteDaMyth commented on #21
this is a coronavirus api. we do not have plans to extend

[2020-03-17 10:49] #21 closed

[2020-03-17 10:49] EliteDaMyth commented on #19
its your browser. we return literal plain text

[2020-03-17 10:49] #19 closed

[2020-03-17 10:50] EliteDaMyth commented on #20
elaborate pls

[2020-03-17 10:56] EliteDaMyth commented on #22
Done

[2020-03-17 11:05] #16 closed

[2020-03-17 13:30] ericthebanana1426 opened #24 "Add Country Please"
Isle of Man isn’t recognised as a Country sorry.

Is this something that can be implicated?

[2020-03-17 13:40] EliteDaMyth commented on #24
@ericthebanana1426 https://www.worldometers.info/coronavirus/#countries are the supported countries

[2020-03-17 13:40] #24 closed

[2020-03-17 13:51] #18 closed

[2020-03-17 14:36] ItsNash0 opened #25 "fix server.js"
I run
npm install
node server.js

and when I attempt to load /all I get this

[2020-03-17 14:36] ItsNash0 commented on #25
how can I fix this to use the api?

[2020-03-17 14:37] meesaltena commented on #23
I ended up making it work with https. Thanks anyway.

[2020-03-17 14:53] jetwhisperer commented on #20
There’s a tweak for iOS that utilizes this API and I believe he has confused this repo for one that maintains that tweak. This is a requested feature of that tweak

[2020-03-17 17:10] defrt commented on #20
When you tap the number of causes on top right hand corner under the battery it will change case numbers to death number. One more tap changes to recovered cases count. Tap again total case numbers again

[2020-03-17 17:34] erichstark opened #26 "Paging for countries"
It would be great to implement paging for /countries route because sometimes app that is consuming the resource could use a lot of memory.

What is the best approach to return number of defined countries?
For example /countries?num=10

[2020-03-17 18:11] defrt commented on #20
Sorry I thought this is coronacount tweak

[2020-03-17 18:11] #20 closed

[2020-03-17 18:31] EliteDaMyth commented on #26
It seems unnecessary to me. Also if you were to define number of countries to return how would you be sure those are the countries you need. If you wanna fork this and run it you are open to do so. Closing for now

[2020-03-17 18:31] #26 closed

[2020-03-17 18:32] EliteDaMyth commented on #25
This is an issue because of the caching we use which is quick.db it's not an issue with the api itself. The thing updates itself every 10 minutes so it will be fixed if you keep the app running for 10 minutes. It's not optimised for self hosting. Thanks.

[2020-03-17 18:32] #25 closed

[2020-03-17 18:40] erichstark commented on #26
I think you do not need exact countries for this. Because usually it is used as list so you want to scroll through them for example as infinity list.

[2020-03-18 03:42] WeileiZeng opened #27 "Open Source Helps!"
Thanks for your work to help the people in need! Your site has been added! I currently maintain the Open-Source-COVID-19 page, which collects all open source projects related to COVID-19, including maps, data, news, api, analysis, medical and supply information, etc. Please share to anyone who might need the information in the list, or will possibly contribute to some of those projects. You are al

[2020-03-18 04:01] EliteDaMyth commented on #27
This is awesome! Hmu on discord EliteDaMyth#0690 of you wanna get it onto my domain.

[2020-03-18 04:01] #27 closed

[2020-03-18 04:16] WeileiZeng commented on #27
sounds good! I don't have discord. My twitter is https://twitter.com/WeileiZeng1992 or we can just discuss here. My data is in yaml format, but I would be willing to add a json copy

[2020-03-18 04:22] WeileiZeng commented on #27
I see what you mean. If there are some pretty short domain, I would be happy to switch.

[2020-03-18 06:43] WeileiZeng commented on #27
http://open-source-covid-19.weileizeng.com/

I finally decided to change the domain

[2020-03-18 08:21] muhammedmagdi commented on #3
@EliteDaMyth I just would like to ask if it is legal to scrap the data from this website?
I see that they have licensing system with payment. I just would like to know.

[2020-03-18 15:36] cromozooom opened #28 "Insert data in query"
Is it possible to ad data in query?
ex: `https://corona.lmao.ninja/[date]/countries`

[2020-03-18 16:45] ebwinters opened #29 "Endpoint is not working"
A query to the endpoint such as: https://corona.lmao.ninja/countries/usa returns plaintext `Country not found`

[2020-03-18 16:50] aarons2222 opened #30 "Endoint returns empty array"
https://corona.lmao.ninja/countries returns []

[2020-03-18 16:53] benjamin-sommer commented on #30
Same error.

[2020-03-18 16:53] benjamin-sommer commented on #29
Same here.

[2020-03-18 16:54] Ramonet72 commented on #30
Yes, I experienced the same. It may be https://www.worldometers.info/coronavirus/ changed the data format?

[2020-03-18 16:55] simranz commented on #30
same error

[2020-03-18 16:55] benjamin-sommer commented on #30
The selector "table#main_table_countries" returns nothing. The website format has changed, only showing two tables, "table#main_table_countries_today" and "table#main_table_countries_yesterday".

[2020-03-18 16:58] duarteocarmo commented on #30
Same here :)

[2020-03-18 17:03] simranz commented on #30
they've moved the main_table_countries from id to one of the classes of the table.

[2020-03-18 17:04] MhndMousa commented on #30
Will try to make a pull request for that

[2020-03-18 17:04] Solweigdev commented on #30
Same here :)

[2020-03-18 17:07] benjamin-sommer commented on #30
PR done. https://github.com/NovelCOVID/API/pull/31

[2020-03-18 17:15] ahmeduzair89 opened #32 "Empty array is returned"
https://corona.lmao.ninja/countries is returning an empty array

[2020-03-18 17:17] Solweigdev commented on #30
@benjamin-sommer Why you close this PR ? Not working ?

[2020-03-18 17:20] GowthamF commented on #30
Doesn't it need to be deployed?

[2020-03-18 17:21] richardkeep commented on #30
Same here. My app https://github.com/richardkeep/covid-19 is broken.

[2020-03-18 17:22] benjamin-sommer commented on #30
Sorry, I re-opened it now.

[2020-03-18 17:23] benjamin-sommer commented on #30
Can you please deploy it?

[2020-03-18 17:26] thenamesweretakenalready opened #33 "Empty response"
Actual result:
The API returns a blank array, no response

Expected result:
The API returns data.

[2020-03-18 17:28] benjamin-sommer commented on #33
https://github.com/NovelCOVID/API/issues/30

[2020-03-18 17:29] boraoksuzoglu opened #34 "Countries"
Countries results doesn't work.

Result: [ ]

Can you fix this?

[2020-03-18 17:29] benjamin-sommer commented on #34
https://github.com/NovelCOVID/API/issues/30

[2020-03-18 17:29] l-sugar commented on #34
fix was just merged into master

[2020-03-18 17:30] benjamin-sommer commented on #30
Still not fixed. Hmmm...

[2020-03-18 17:30] Scythern opened #35 "/countries endpoint seems to be broken"
https://corona.lmao.ninja/countries/ seems to be returning nothing ( _[ ]_ ). Issue arose at some point within the last 24 hours.

[2020-03-18 17:30] l-sugar commented on #35
#30

[2020-03-18 17:30] Scythern commented on #35
Closing - i realise this is a duplicate

[2020-03-18 17:30] #35 closed

[2020-03-18 17:32] Solweigdev commented on #34
Don't work aha

[2020-03-18 17:32] GaboMendez commented on #30
Same here 😪

[2020-03-18 17:33] andretimm commented on #30
@benjamin-sommer  Maybe still need to deploy to https://corona.lmao.ninja

[2020-03-18 17:34] ChristianPredoianu commented on #34
Still don't work guys

[2020-03-18 17:34] elabayoub commented on #34
Same issue for my guys

[2020-03-18 17:35] Solweigdev commented on #32
Duplicate of #30

[2020-03-18 17:36] Solweigdev commented on #29
Duplicate of #30

[2020-03-18 17:36] benjamin-sommer commented on #30
I don't think so. The code is shown to be updated in GitHub. Maybe the 10 minute delay caused by the `setInterval` between scrapings is causing a wait. In 10 mins it should hopefully update.

[2020-03-18 17:37] benjamin-sommer commented on #30
@Solweigdev can you temporarily change the `setInterval` to 10 seconds and then back, so we can see if the changes had any affect? Thanks

[2020-03-18 17:38] Solweigdev commented on #30
Ok

[2020-03-18 17:38] benjamin-sommer commented on #30
Thanks

[2020-03-18 17:42] MhndMousa commented on #30
My localhost version seems to be working with @benjamin-sommer fix with no `setIntervals`. I wonder why is that not working with the endpoint

[2020-03-18 17:42] gitmonox commented on #34
Same Here

[2020-03-18 17:43] benjamin-sommer commented on #30
Working now!

[2020-03-18 17:43] smdedar commented on #34
blank array

[2020-03-18 17:43] benjamin-sommer commented on #30
Now the site is down.

[2020-03-18 17:44] Solweigdev commented on #30
Oh yes ... :'(

[2020-03-18 17:44] l-sugar commented on #30
up again 👍

[2020-03-18 17:44] MhndMousa commented on #30
Host is down :/

[2020-03-18 17:45] sajjadgrw1 commented on #30
Web server is down.

[2020-03-18 17:46] Solweigdev commented on #30
Up

[2020-03-18 17:46] MhndMousa commented on #30
It's back up

[2020-03-18 17:46] benjamin-sommer commented on #30
Up again!

[2020-03-18 17:47] Solweigdev commented on #30
Now ... waiting 10minutes again

[2020-03-18 17:47] mncfre opened #36 "The countries api it’s not working"
The countries api show an empty json

[2020-03-18 17:47] benjamin-sommer commented on #30
It works for me in the browser and in my app.

[2020-03-18 17:47] thenamesweretakenalready commented on #33
Duplicate.

[2020-03-18 17:47] #33 closed

[2020-03-18 17:48] Valaia commented on #30
It's displaying data from a few days ago

[2020-03-18 17:48] thenamesweretakenalready commented on #36
#30

[2020-03-18 17:49] benjamin-sommer commented on #30
![Screenshot 2020-03-18 at 17 48 01](https://user-images.githubusercontent.com/39101651/76990962-be50a100-6940-11ea-8d2c-8bbb27999d55.png)

[2020-03-18 17:49] silverhairs commented on #29
Fixed

[2020-03-18 17:49] thenamesweretakenalready commented on #30
Hoorah it's back up.

[2020-03-18 17:50] silverhairs commented on #36
Fixed

[2020-03-18 17:50] l-sugar commented on #30
data is not accurate though

[2020-03-18 17:51] gabrielcosi opened #37 "Incorrect data"
In worldometers.info China has 80,894 total cases, API shows 80880

[2020-03-18 17:51] MatYRicS commented on #30
https://corona.lmao.ninja/countries/[country-name]  dosen't work for me.

[2020-03-18 17:51] benjamin-sommer commented on #30
For me, it is not accurate in the browser, but strangely in my app it shows data from just a few minutes ago.

[2020-03-18 17:51] constanzaccg commented on #34
It's working now, but the endpoint to get the data by country still doesn't work :(

[2020-03-18 17:51] Rv607x commented on #30
Data not accurate eg {"country":"Kenya","cases":3,"todayCases":0,"deaths":0,"todayDeaths":0,"recovered":0,"critical":0}
Kenya should have like 7 cases today

[2020-03-18 17:51] erichstark commented on #30
I have also problem with call for a country and also data seem to be outdated.

[2020-03-18 17:52] thenamesweretakenalready commented on #30
I've also noticed that they all seem to be outdated. It looks like all countries are (?)

[2020-03-18 17:53] l-sugar commented on #30
![Screenshot 2020-03-18 at 18 52 29](https://user-images.githubusercontent.com/16088875/76991308-a6c9e600-6949-11ea-8342-2e8e071d34dd.png)
my telegram bot queries /countries and is giving outdated data

[2020-03-18 17:53] gitmonox commented on #36
Is not fixed. the cases are diferent from the source
Array

"country": "Brazil",
"cases": 203,
"todayCases": 3,
"deaths": 0,
"todayDeaths": 0,
"recovered": 2,
"critical": 2

source
Brazil | 367 | +21 | 1
-- | -- | -- | --

[2020-03-18 17:53] Kvanrooyen commented on #30
Host is down again for me

[2020-03-18 17:53] thenamesweretakenalready commented on #30
Maybe the dev is hosting saved prior data while they pump out an actual fix. If that's the case then we'll  probably have to wait a while.

[2020-03-18 17:53] benjamin-sommer commented on #30
My BitBar plugin is giving updated data for some reason.
![Screenshot 2020-03-18 at 17 48 01](https://user-images.githubusercontent.com/39101651/76991380-69f9f100-6941-11ea-8088-a48dbb662663.png)

[2020-03-18 17:54] sajjadgrw1 commented on #30
<img width="1108" alt="Screen Shot 2020-03-18 at 10 52 56 PM" src="https://user-images.githubusercontent.com/4892234/76991364-4a77be00-696b-11ea-9eb0-68955448fc35.png">

[2020-03-18 17:54] elabayoub opened #38 "Server down"
The api's are no more working, server seems down

![image](https://user-images.githubusercontent.com/15203856/76991410-d678ee00-6949-11ea-94ce-d9f9e87ba16d.png)

[2020-03-18 17:55] Solweigdev commented on #30
![image](https://user-images.githubusercontent.com/37271302/76991482-f4dee980-6949-11ea-8dc3-38c860de5911.png)

[2020-03-18 17:55] benjamin-sommer commented on #30
That data looks up to date.

[2020-03-18 17:56] rizki5411 commented on #34
now server error **Error 521** hahaha

[2020-03-18 17:56] EliteDaMyth commented on #37
Updates every 10 minutes.

[2020-03-18 17:56] #37 closed

[2020-03-18 17:57] EliteDaMyth commented on #38
Was updating api

[2020-03-18 17:57] #38 closed

[2020-03-18 17:57] EliteDaMyth commented on #36
Fixed

[2020-03-18 17:57] #36 closed

[2020-03-18 17:57] InvenceSaltillo commented on #37
Yes, the data is incorrect, on the update date it shows me December 31, 1969

[2020-03-18 17:58] gitmonox commented on #30
Is not u´p to date
{
"country": "Brazil",
"cases": 203,
"todayCases": 3,
"deaths": 0,
"todayDeaths": 0,
"recovered": 2,
"critical": 2

SOURCE

Brazil | 367 | +21
-- | -- | --

[2020-03-18 17:58] MhndMousa commented on #30
Not for me

![image](https://user-images.githubusercontent.com/15264541/76991759-b7f60100-690f-11ea-9c40-dc799bd82364.png)

[2020-03-18 17:58] EliteDaMyth commented on #32
Fixed

[2020-03-18 17:58] #32 closed

[2020-03-18 17:58] thenamesweretakenalready commented on #30
Still not up to date according to https://www.worldometers.info/coronavirus/#countries

[2020-03-18 17:59] PablockDA commented on #30
https://corona.lmao.ninja/countries/[country] Also is not working.

[2020-03-18 17:59] EliteDaMyth commented on #30
Fixed

[2020-03-18 17:59] #30 closed

[2020-03-18 17:59] MhndMousa commented on #30
Not for me
![image](https://user-images.githubusercontent.com/15264541/76991884-f4c1f800-690f-11ea-8c5a-28bf80ee8e6b.png)

[2020-03-18 18:00] elabayoub commented on #34
Server error OK, Countries OK, thanks

[2020-03-18 18:00] gabrielcosi commented on #37
Peru yesterday was in 117, now is in 145, why it shows 71

[2020-03-18 18:01] gabrielcosi opened #39 "Peru yesterday was in 117, now is in 145, why API shows 71"

[2020-03-18 18:01] Krato commented on #34
Nom, data is not correct. For spain at least

[2020-03-18 18:01] EliteDaMyth commented on #29
Fixed

[2020-03-18 18:01] #29 closed

[2020-03-18 18:01] gitmonox commented on #30
Still not up to date

[2020-03-18 18:01] #28 closed

[2020-03-18 18:01] Solweigdev commented on #30
Wait updating maybe ?

[2020-03-18 18:01] silverhairs commented on #34
Really??  I don't know but it's working for me now. you can also try [this one](https://coronavirus-tracker-api.herokuapp.com/v2/locations)

[2020-03-18 18:04] thenamesweretakenalready commented on #30
still not up to date for me either.

[2020-03-18 18:04] benjamin-sommer commented on #30
Updated now!

[2020-03-18 18:04] gitmonox commented on #30
Empty array

[2020-03-18 18:04] benjamin-sommer commented on #30
Now just empty array

[2020-03-18 18:05] cromozooom commented on #28
Hi @EliteDaMyth can you please let me know i this is possible or not?

[2020-03-18 18:05] thenamesweretakenalready commented on #30
Now I'm back to the empty response :(

[2020-03-18 18:05] dicedtomatoreal commented on #34
We're working on it, due to our source updating their website stuff has changed :)

[2020-03-18 18:05] rizki5411 commented on #34
i think developers work hard now to fix this problems, spirit!!

[2020-03-18 18:05] Krato commented on #34
Perfect. Thanks!

[2020-03-18 18:06] javieraviles commented on #34
I want you all to keep using this api, not mine, which is a fork, but JUST meanwhile this one is getting fixed, can use mine

https://github.com/javieraviles/covidAPI

is exactly the same without country specific nor sorting

[2020-03-18 18:07] MatYRicS commented on #30
/countries is still empty

[2020-03-18 18:08] karolosk commented on #30
Since you are on it, on the latest fix - which as previously mentioned again does not work - could you also check the last updated field, which was provided earlier?

[2020-03-18 18:10] sajjadgrw1 commented on #30
Empty response. :(

[2020-03-18 18:11] thenamesweretakenalready commented on #30
Do you mean https://corona.lmao.ninja/all ?

[2020-03-18 18:11] thenamesweretakenalready commented on #30
Because I'm getting up to date data from that

[2020-03-18 18:12] benjamin-sommer commented on #30
Web server down :-(

[2020-03-18 18:12] sajjadgrw1 commented on #30
No. /all was working. But /countries was not working. And now the server is down again.

[2020-03-18 18:13] erichstark commented on #34
The source code is working, just the deployment not. If you try it at localhost, everything is okay.

[2020-03-18 18:14] Krato commented on #34
Perfect temp fix.

[2020-03-18 18:15] elabayoub commented on #34
Why not using other branche for devs and master to stay safe and sound ? just saying; thanks

[2020-03-18 18:16] thenamesweretakenalready commented on #30
Damn it the server's down again.

[2020-03-18 18:17] erichstark commented on #34
This is not working also to fetch specific country

[2020-03-18 18:18] javieraviles commented on #34
country specific endpoint coming in 5 min, will have a 2min downtime, then working with country specific endpoint too :)

[2020-03-18 18:19] javieraviles commented on #34
https://github.com/javieraviles/covidAPI/runs/507046789?check_suite_focus=true

[2020-03-18 18:19] benjamin-sommer commented on #34
@elabayoub Using a different dev branch would not stop the errors on the master branch.

[2020-03-18 18:22] thenamesweretakenalready commented on #30
It's back up I think

[2020-03-18 18:23] sajjadgrw1 commented on #30
/countries is not working.

[2020-03-18 18:23] elabayoub commented on #34
@benjamin-sommer thanks for your answer, but it would atleast limit bugs for future features not talking about actual situation.

[2020-03-18 18:23] thenamesweretakenalready commented on #30
Never mind, but somehow I just got a response from the webserver - maybe momentarily up?

[2020-03-18 18:25] crpozo commented on #34
but what is the point if the json doesnt work haha

[2020-03-18 18:26] dicedtomatoreal commented on #34
Our host died, we are moving it to a better host sorry for the downtime..

[2020-03-18 18:27] javieraviles commented on #34
just added country-specific endpoint while the fix

https://coronavirus-19-api.herokuapp.com/all
https://coronavirus-19-api.herokuapp.com/countries
https://coronavirus-19-api.herokuapp.com/countries/spain

[2020-03-18 18:27] benjamin-sommer commented on #34
Back up!

[2020-03-18 18:28] thenamesweretakenalready commented on #30
Webserver back up - part one of two in the solution, now getting a different message from the /countries endpoint: `Cannot GET /countries`

[2020-03-18 18:35] madhavtripathi05 opened #40 "Server Down 😶"

[2020-03-18 18:37] thenamesweretakenalready commented on #30
Cloudflare http error 521 now :(

[2020-03-18 18:40] dicedtomatoreal commented on #34
Thanks for waiting, its up now have fun tracking the virus.

[2020-03-18 18:40] #34 closed

[2020-03-18 18:47] dicedtomatoreal commented on #40
It has been fixed

[2020-03-18 18:47] #40 closed

[2020-03-18 18:48] dicedtomatoreal commented on #39
It should be fixed now

[2020-03-18 18:48] #39 closed

[2020-03-18 18:52] shikwambana commented on #1
Awesome. I was actually in the process of doing this as well. I am working on a web app to track cases here in South Africa https://www.corvid19numbers.com/

[2020-03-18 19:26] thenamesweretakenalready commented on #30
Looks like it's fixed now, nice. Data seems to be up to date. Running commentary is now closed until further notice.

[2020-03-18 21:02] Bassem-Belkhir opened #41 "Wrong values for Nepal"
Values for Nepal gives {"country":"Nepal","cases":1,"todayCases":0,"deaths":0,"todayDeaths":0,"recovered":1,"critical":0}
while https://www.worldometers.info/coronavirus/ gives other values

[2020-03-18 21:56] richardkeep commented on #30
I have recreated the **/countries** API using the Lumen (PHP) framework.

Check it out guys: https://github.com/richardkeep/covid-19-api

[2020-03-18 23:18] crpozo opened #42 "Data update"
The values in the worldometers.info webiste are already changing but the the json data its not

[2020-03-19 00:09] silverhairs opened #43 "Endpoints have no data"
https://corona.lmao.ninja/countries is returning an empty array and https://corona.lmao.ninja/all is just returning
 `{
"updated": 1584576028335
}`

[2020-03-19 00:11] DavidCDCB commented on #43
Why has this been so frequent? Are there more changes in the source of information?

[2020-03-19 00:11] elabayoub commented on #43
Maybe scraping changes overtime

[2020-03-19 00:14] DavidCDCB commented on #43
excuse my ignorance on the subject, is there a way to avoid this kind of setback automatically?

[2020-03-19 00:15] ooanishoo commented on #43
i'm having the same issue

[2020-03-19 00:15] gitmonox commented on #43
Empty Array

[2020-03-19 00:16] dicedtomatoreal commented on #43
The source is being updated, which we dont have control over :|

[2020-03-19 00:17] elabayoub commented on #43
the project owner is scraping from original website the table with id 'main_table_countries_today' so if id got changed or any targeted tag, result wont come in; in other words you cant control the main source of data (worldometers.info)

[2020-03-19 00:17] silverhairs commented on #43
this

[2020-03-19 00:17] gitmonox commented on #43
That´s the only source u can get?

[2020-03-19 00:18] gitmonox opened #44 "Empty Array"
There ir no other source?

[2020-03-19 00:19] dicedtomatoreal commented on #43
Im not familiar with scraping, im asking Elite right now how to fix it, if yall know how to fix this please to reply :joy:

[2020-03-19 00:24] silverhairs commented on #43
We are depending on the owner's URLs and they are depending on the website's database; if there is a change on one of the website's ids, the url we are using will be broken

[2020-03-19 00:26] elabayoub commented on #43
You can do as we do, try to understand and compare with source if something has been changed :D : https://github.com/NovelCOVID/API/blob/master/server.js

[2020-03-19 00:30] dicedtomatoreal commented on #43
@elabayoub Is yours working right now?

[2020-03-19 00:30] gitmonox commented on #43
No

[2020-03-19 00:31] gitmonox commented on #43
The table ID is the same, maybe the add new Countries and that´s broken the array?

[2020-03-19 00:32] dicedtomatoreal commented on #43
I just checked all the indexes and they are corect

[2020-03-19 00:33] elabayoub commented on #43
Maybe because of some countries with href that got wrapped now in 'td'

[2020-03-19 00:34] dicedtomatoreal commented on #43
Its erroring on line 103, which is under the comment "get today cases"

[2020-03-19 00:36] gitmonox commented on #43
Cannot GET /tabs/tab2

[2020-03-19 00:37] dicedtomatoreal commented on #43
tabs..?

[2020-03-19 00:37] elabayoub commented on #43
try / without /tabs/tab2 cannot get bcuz of routes; you are using another project HAHA

[2020-03-19 00:38] gitmonox commented on #43
That´s why i erase the comment

[2020-03-19 00:47] dicedtomatoreal commented on #43
cell.children is returning an empty array

[2020-03-19 00:54] javieraviles commented on #43
just fixed it in my project, deploying now,

https://github.com/javieraviles/covidAPI

this is the pipeline
https://github.com/javieraviles/covidAPI/runs/518074421?check_suite_focus=true

a soon as it finishes, will take 2-3 min to scrap then will work fine

[2020-03-19 00:57] dicedtomatoreal commented on #43
thanks

[2020-03-19 00:58] gitmonox commented on #43
Thanksssssss

[2020-03-19 00:59] elabayoub commented on #43
can you create a MR, thanks

[2020-03-19 00:59] ebwinters commented on #29
Happening again rn

[2020-03-19 01:04] dicedtomatoreal commented on #43
I just tried @javieraviles and its getting an error on the cured.trim()

[2020-03-19 01:04] markjosephcapalad commented on #43
Is it working now for you guys?

[2020-03-19 01:04] gitmonox commented on #43
No

[2020-03-19 01:04] dicedtomatoreal commented on #43
Not yet

[2020-03-19 01:05] dicedtomatoreal commented on #43
im getting stressed over this cause we get 10m+ requests and people will stop using them :|

[2020-03-19 01:06] 1rubenito commented on #43
be patience guys...

[2020-03-19 01:09] javieraviles commented on #43
sorry, forgot to commit one more thing, coming now!
https://github.com/javieraviles/covidAPI/actions/runs/58604522

[2020-03-19 01:09] ChrisChrome opened #45 "API is down"
Not sure if ya'll know or not but the API is down
Getting a cloudflare error
See image [here](https://www.chrischromeyt.com/screenshot/7oEfoQspQtVRStlChfZy.png)

[2020-03-19 01:15] javieraviles commented on #43
lets gooo

https://coronavirus-19-api.herokuapp.com/all
https://coronavirus-19-api.herokuapp.com/countries
https://coronavirus-19-api.herokuapp.com/countries/spain

[2020-03-19 01:15] dicedtomatoreal commented on #43
Thank you so much @javieraviles, you ahve been my savior since i dont know how to scrape :joy: corona.lmao.ninja now works and we wont be able to push it to git yet.

[2020-03-19 01:15] javieraviles commented on #45
try here should be fine

https://coronavirus-19-api.herokuapp.com/all
https://coronavirus-19-api.herokuapp.com/countries
https://coronavirus-19-api.herokuapp.com/countries/spain

[2020-03-19 01:16] javieraviles commented on #44
lets gooo

https://coronavirus-19-api.herokuapp.com/all
https://coronavirus-19-api.herokuapp.com/countries
https://coronavirus-19-api.herokuapp.com/countries/spain

[2020-03-19 01:16] #43 closed

[2020-03-19 01:17] javieraviles commented on #44
if this one fails,
https://coronavirus-19-api.herokuapp.com/all
https://coronavirus-19-api.herokuapp.com/countries
https://coronavirus-19-api.herokuapp.com/countries/spain

[2020-03-19 01:18] javieraviles commented on #43
i can open a pull request here, can fail again if empty values are present in worldometer...

[2020-03-19 01:21] javieraviles commented on #43
https://github.com/NovelCOVID/API/pull/46

this PR should fix it

[2020-03-19 01:23] gitmonox commented on #43
THANK YOU SO MUCH

[2020-03-19 01:24] markjosephcapalad commented on #43
You are awesome guys! Thanks!

[2020-03-19 01:36] elabayoub commented on #43
new attribute has been added to /countries guys is casesPerOneMillion

[2020-03-19 02:16] ChrisChrome commented on #45
Thanks for that :3

[2020-03-19 02:16] #45 closed

[2020-03-19 02:20] filipemanuelofs commented on #41
Can you provide some example? Here's image of worldometers.info about Nepal.

![image](https://user-images.githubusercontent.com/1047292/77025082-ff5faa00-696e-11ea-97de-f299cba56662.png)

[2020-03-19 02:21] psmeeta commented on #41
[ https://www.worldometers.info/coronavirus/]( https://www.worldometers.info/coronavirus/) gives the same value.

[2020-03-19 02:41] ElBort commented on #43
https://github.com/ElBort/API-COVID-19

I clean a bit the code so people can fix it by themselves

[2020-03-19 02:49] asherman07 opened #47 "Country not working"
Tried putting in USA but after respiring states country not found

[2020-03-19 02:54] EliteDaMyth commented on #47
https://corona.lmao.ninja/countries/usa
seems to be working.

[2020-03-19 02:54] #47 closed

[2020-03-19 02:55] EliteDaMyth commented on #44
Fixed

[2020-03-19 02:55] #44 closed

[2020-03-19 03:22] EliteDaMyth commented on #41
Same as worldometers.

[2020-03-19 03:22] #41 closed

[2020-03-19 03:31] EliteDaMyth commented on #42
changes every 10 mins

[2020-03-19 03:31] #42 closed

[2020-03-19 03:54] GowthamF opened #48 "Adding more fields to /all endpoint"
It would be great if you can add some more fields to /all endpoints so we show more information to the users. i.e. TotalNewCases, TotalNewDeaths.
![image](https://user-images.githubusercontent.com/40605124/77029998-52fbe300-69c3-11ea-9e49-04f4ccc92801.png)

[2020-03-19 03:59] brittlebubbles opened #49 "returning Object rather than array for https://corona.lmao.ninja/all endpoint"

[2020-03-19 04:00] GowthamF opened #50 "Adding Yesterday table so we can do a comparison chart"
It would be great if we have an endpoint or data from yesterday's table, We can use it to visualize more to the Users.

[2020-03-19 04:01] GowthamF commented on #49
What is the point in returning an array rather than returning an object?

[2020-03-19 04:48] brittlebubbles commented on #49
so we could easily do an array of objects

[2020-03-19 05:00] EliteDaMyth commented on #48
you can do this yourself by mapping the countries endpoint and adding all the stuff but will take into consideration next time!

[2020-03-19 05:00] #48 closed

[2020-03-19 05:01] EliteDaMyth commented on #50
Will take a look

[2020-03-19 05:01] #49 closed

[2020-03-19 05:01] EliteDaMyth commented on #49
it will break alot of current projects

[2020-03-19 07:00] pg07codes opened #52 "sorting by a param does not seem to work correctly"
the titles explains it all.
i tried ' https://corona.lmao.ninja/countries?sort=todayDeaths '
but the result is not sorted by the parameter provided.

[2020-03-19 08:06] kevinvarela commented on #16
Thanks

[2020-03-19 11:42] Krato opened #55 "Add "Services using this api""
Will be great to see a list of services using this api. Maybe after source title.

Mine is using: Spanish stats panel: https://covid19esp.herokuapp.com/

[2020-03-19 11:43] EliteDaMyth commented on #55
I mean where exactly you wanna add it

[2020-03-19 11:44] Krato commented on #55
In the readme file?

[2020-03-19 11:45] EliteDaMyth commented on #55
Sure if you wanna gather a list of projects make a PR!

[2020-03-19 11:45] #55 closed

[2020-03-19 14:16] Eddoson opened #56 "FEATURE REQUEST: Drill Down by State or County for USA"
It would be great to be able to drill down into state data or even further by county or city data. Currently you can only see the overall status of the country of USA, when I see the source website you're getting data from has state information available to scrape.

Example, on the worldometers site when you select USA, I see state information: https://www.worldometers.info/coronavirus/country/us/

[2020-03-19 14:18] EliteDaMyth commented on #56
ONLY US has state data. will implement soon

[2020-03-19 14:18] #56 closed

[2020-03-19 17:01] lagripe opened #57 "Last update not working properly"
try fixing the timestamp param in the global stats, you are using the server date time and thats wrong, just scrape the date from the source.

[2020-03-19 18:15] dicedtomatoreal commented on #50
This is a good idea we will be working on this soon!

[2020-03-19 20:34] jonathan-acquesta opened #60 "Could create a new api by country and by date"

[2020-03-19 20:38] benjamin-sommer opened #61 "Add endpoint for historical data"
It would be nice if there was an endpoint like `/country/UK/historical` which would return the past 30 days of information in the same format as is being returned for each country at the `/countries` endpoint.

[2020-03-20 03:51] khoaisobar commented on #61
like it

[2020-03-20 06:27] #52 closed

[2020-03-20 07:04] EliteDaMyth commented on #61
we arent storing the historical data. if you have historical data source LMK on fdiscord

[2020-03-20 07:04] #61 closed

[2020-03-20 07:05] #60 closed

[2020-03-20 07:43] #57 closed

[2020-03-20 10:08] benjamin-sommer commented on #61
@EliteDaMyth what is your discord username?

[2020-03-20 13:42] EliteDaMyth commented on #61
you can join our discord server but its EliteDaMyth#0690

[2020-03-20 15:14] Rawnly opened #62 "Add province detail (grouped by country)"
It would be awesome to have countries details, something like `/italy/latium/rome` ✌️

[2020-03-20 15:23] dicedtomatoreal commented on #62
Hey, where we get the JHU CSSE Data from their Official Data Repository, they dont provide any country details...

[2020-03-20 15:23] #62 closed

[2020-03-20 17:06] itaisteinherz commented on #50
Similar suggestion: having an endpoint for a time series report on each country (containing past history of activate records, deaths, recovered, etc.) would be awesome. The data is already available in the [JHU CSSE repo](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series), so adding it shouldn't be too difficult.

This way, you'll have access to (s

[2020-03-20 17:11] itaisteinherz opened #63 "Add "last updated" field to responses"
First of all, thanks for making this API! It's awesome to use, and is really useful.

One suggestion I have: Since I want to let users know when the data I use was last updated, it would be great to have a `lastUpdated` field in relevant routes.

(Also, if you're busy with other things, let me know and I'll be happy to chip in and work on this myself 😄)

[2020-03-20 21:48] cdbessig opened #64 "Data is out of date"
For example, I went to: https://corona.lmao.ninja/historical

Then I looked for the county I live in and the numbers are just categorically wrong.  Like not even close...For example 3/19 should be more like 189 cases....There should be over 400 total.  800 if you go to 3/20.  These add up to 16.  I think this data source is outdated or just bad.

  "country": "US",
  "province": "Bergen County, NJ

[2020-03-20 22:39] sagarkarira opened #65 "Add country code key along with country name."
It would be great if you could add one more key `countryCode` which would be a standard iso code of a given country.

[2020-03-20 22:46] kibertoad opened #66 "Work requested"
I'm a Node.js developer and I'd like to help. Could I get some tasks that I could work on without overlapping with effort that is already being put?

[2020-03-20 22:52] sagarkarira opened #67 "Enhancement: Fetch latest updates too from worldometers info page."
I plan on adding / updates API to track the latest news/updates on coronavirus for my cli tracker: https://github.com/sagarkarira/coronavirus-tracker-cli

I am currently fetching the data from Reddit.

It would be great if you could add that.

[2020-03-20 22:55] sagarkarira commented on #66
@kibertoad I made this coronavirus tracker cli app. https://github.com/sagarkarira/coronavirus-tracker-cli
I have some issues opened here if you like to help. :)

[2020-03-20 22:55] kinlane opened #68 "Postman Collection"
Hey there. Great API -- thanks for all your work.

I created a Postman collection for your API - https://documenter.getpostman.com/view/8854915/SzS7R6uu?version=latest

Can I ask you a favor? Run the collection in your Postman locally and publish the collection to the Postman API network (https://www.postman.com/collection)?

Then we can help amplify your API and showcase it as part of our storyte

[2020-03-20 22:56] kibertoad commented on #66
@sagarkarira Sounds great, thank you! What is the current way of marking tasks to be "In Progress" to avoid others taking them up? Also what communication channel is preferable for discussing development-related stuff?

[2020-03-20 23:08] sagarkarira commented on #66
@kibertoad Right now I am working on adding new real-time API preferably from one from this repo. So I think I will be doing that tomorrow when I wake up. There were couple of features I wanted to add that I am not working on right now

1. adding historical graph/chart in cli (there are some good modules for that)
2. adding twitter news updates or updates from Reddit (partially done, need better t

[2020-03-20 23:12] kibertoad commented on #66
@sagarkarira Thanks, I'll give it a shot tomorrow!

[2020-03-21 00:05] dicedtomatoreal commented on #64
Uh will check out this

[2020-03-21 00:08] dicedtomatoreal commented on #63
They all update every 30 minutes, you can get the /all endpoint for the last update

[2020-03-21 00:08] #63 closed

[2020-03-21 00:09] #68 closed

[2020-03-21 00:43] itaisteinherz commented on #63
Maybe add that field to the `/countries` endpoint as well then?

[2020-03-21 00:45] dicedtomatoreal commented on #63
If i do that, then **a lot** of website will need to update their systems, which i'm not about. Feel free to do a request to `/all` because there is no limit :)

[2020-03-21 08:45] Bam92 commented on #64
But I can see that the number is close to the real, worldwide and Italy for example.

My country -DRC- is not listed. Where are data from?

[2020-03-21 10:39] MatYRicS commented on #64
Historical data is from here:
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

[2020-03-21 11:21] EliteDaMyth commented on #67
you can simply scrape from reddit. this data is not for news just statistics

[2020-03-21 11:21] #67 closed

[2020-03-21 11:21] #65 closed

[2020-03-21 11:22] EliteDaMyth commented on #64
the historical data is not yet fully furnished and would not prefer using. you can parse the csv yourself.

[2020-03-21 11:22] #64 closed

[2020-03-21 11:29] EliteDaMyth commented on #66
@sagarkarira dont try to advertise your stuff all over here.

[2020-03-21 11:30] #50 closed

[2020-03-21 11:33] sagarkarira commented on #65
@EliteDaMyth any explanation for closing this?

[2020-03-21 11:34] kibertoad commented on #66
@EliteDaMyth What about the original question? Is there anything I could help with?

[2020-03-21 11:37] EliteDaMyth commented on #66
what do you mean by "tasks"

[2020-03-21 11:38] EliteDaMyth commented on #65
you can open a PR if you want to. Might not be easy as the stuff from Worldometers are mixed.

[2020-03-21 11:38] kibertoad commented on #66
@EliteDaMyth There are no open issues in repo, so I don't even know where to start if I wanted to contribute something useful to this project. If there is a communication channel I could use to discuss it and get something I could work on, that would be great.

[2020-03-21 11:40] EliteDaMyth commented on #66
we have a discord server https://discord.gg/EvbMshU

[2020-03-21 11:40] #66 closed

[2020-03-21 11:40] ottsch commented on #65
Here's a list with the mapping to two letter codes, hth:

`[
  { "country": "China", "alpha2Code": "CN" },
  { "country": "UK", "alpha2Code": "GB" },
  { "country": "Martinique", "alpha2Code": "MQ" },
  { "country": "Liechtenstein", "alpha2Code": "LI" },
  { "country": "R\u00e9union", "alpha2Code": "RE" },
  { "country": "Ukraine", "alpha2Code": "UA" },
  { "country": "Honduras", "alpha2Code": "HN

[2020-03-21 11:41] EliteDaMyth commented on #65
does it include all countries?

[2020-03-21 11:42] ottsch commented on #65
Yes, except Diamond Princess and Channel Islands

[2020-03-21 11:42] satsis opened #71 "casesPerOneMillion not work corectly"
country | "Ukraine"
cases | 41
todayCases | 0
deaths | 3
todayDeaths | 0
recovered | 1
active | 37
critical | 0
casesPerOneMillion | **0**

Need casesPerOneMillion **0.9**

[2020-03-21 11:43] EliteDaMyth commented on #71
the data is from worldometers. casesperonemillions seems to be the amount of people that have the disease/total pupulation * 1m
if les speople have the disease the number is very close to 0

[2020-03-21 12:02] kibertoad commented on #66
@EliteDaMyth Are the non-core-team messages even visible to actual team members? I get an impression that messages from outsiders are simply ignored there 😅

[2020-03-21 12:03] EliteDaMyth commented on #66
whats your discord username?

[2020-03-21 12:04] kibertoad commented on #66
@EliteDaMyth Same. kibertoad

[2020-03-21 12:11] #71 closed

[2020-03-21 12:44] ME9114E opened #72 "C# try to get information from the endpoints"
Hey,

I am programming for a while, but never tried to make some API's. If Itry to get information by the endpoints I always get fault message. If the endpoint information is only 1 line (1country) I don't get faults but more countries or states I have.

![image](https://user-images.githubusercontent.com/30830138/77226591-d0695400-6b79-11ea-941c-cb41cc05b264.png)

thank you in advance

[2020-03-21 12:51] satsis commented on #71
Let the one who needs it, he himself will scold or not use these values

[2020-03-21 13:02] GowthamF commented on #72
You are getting an array with the objects of countries. You may try deserialize this way List<Idictionary>

[2020-03-21 13:06] sagarkarira commented on #65
Thanks @ottsch.

[2020-03-21 13:07] MardSilva commented on #72
I'm making a version in C#, too. See my repo and see what i'm doing.

[2020-03-21 13:13] ME9114E commented on #72
@GowthamF  thank you for your respond

also tried this:

class Country and class Country_collection

Country_collection resultCountry = JsonConvert.DeserializeObject<Country_collection>(json);

but same error

[2020-03-21 13:16] MardSilva commented on #72
Why not create a class, and deserialize in a object?

Class Country

[JsonProperty("country")]
        public string Country { get; set; }

        [JsonProperty("cases")]
        public string Cases { get; set; }

        [JsonProperty("todayCases")]
        public string TodayCases { get; set; }

And following line:
JsonConvert.DeserializeObject<Country>(your string here).

[2020-03-21 13:24] ME9114E commented on #72
I really aprreciate your help but still got this error message

 public partial class Country_collection
    {
        [JsonProperty("country")]
        public string Country { get; set; }

        [JsonProperty("cases")]
        public long Cases { get; set; }

        [JsonProperty("todayCases")]
        public long TodayCases { get; set; }

        [JsonProperty("deaths")]
        public long D

[2020-03-21 13:28] MardSilva commented on #72
Can you put your repo on GitHub?

[2020-03-21 13:31] MardSilva commented on #72
`Corona_stats.Converter.Settings` what is this "settings"?

[2020-03-21 13:46] EliteDaMyth commented on #72
This is not an issue related to the api. Closing. Join our discord server if you really need help :)

[2020-03-21 13:46] #72 closed

[2020-03-21 15:59] GowthamF commented on #72
@ME9114E Let me help you. Drop me a mail gowthamseafret@gmail.com

[2020-03-21 17:24] ahmadawais opened #75 "Great Job & A Question"
Hi folks!

Great job building and keeping up this thing. I've built a CLI on top of this API that everyone is super appreciative of.

I wanted to ask, where are you hosting this API. Are the stats open? How are you caching the API? I think these are all very interesting problems I'd love to more on — what scale this API has.

[2020-03-22 04:21] denizy97 opened #83 "Inconsistent Country Names"
Country names are different for historical data. For example for UK the country name for historical data is "United Kingdom" but for the current data it is "UK". For USA it is "us" for historical data but "USA" for current data. There might be more.

"https://corona.lmao.ninja/countries/uk" works, "https://corona.lmao.ninja/countries/united%20kingdom" doesn't.
"https://corona.lmao.ninja/historical

[2020-03-22 04:45] RyanHarlow commented on #83
Yes it looks like that data for the /countries endpoint is from
https://www.worldometers.info/coronavirus/

and the data for the historical endpoint is from
https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series

[2020-03-22 05:02] apollyon600 commented on #75
The api is open sourced, I believe you can view how we obtain the info in one of these files.

[2020-03-22 07:13] ahmadawais commented on #75
Oh I do. I'm more interested in finding out where it's hosted, number of requests you are getting, how you are scaling, and the cost.

[2020-03-22 07:52] EliteDaMyth commented on #75
Google cloud. 20million requests/day through cloudflare

[2020-03-22 07:53] EliteDaMyth commented on #83
The sources are different as suggested by above comment.

[2020-03-22 07:53] #83 closed

[2020-03-22 09:43] Krato opened #86 "Historical data from worldometers"
Hello! First again thanks for the api.

I'm having some problems when I try to get historical data.

In countries endpoint we are getting the data from worldometers. But in the historical data from JHU. That means different values, so for the users can result as an untrusted service.

For example China.

From countries cases: 81054
From yersterday historical: 81305

Will be great to save the info

[2020-03-22 10:06] ahmadawais commented on #75
Is that Serverless or container based?
That's a lot of load. May I ask what the cost looks like?

On Sun, Mar 22, 2020, 12:53 PM EliteDaMyth <notifications@github.com> wrote:

[2020-03-22 14:10] varundeva opened #88 "Plz Add Closed Cases and Active Cases"
Add Closed Cases and Active Cases

[2020-03-22 15:04] gabrielcosi opened #89 "Country sort not working"
https://corona.lmao.ninja/countries?sort=country

[2020-03-22 15:35] EliteDaMyth commented on #88
easy to do on client side

[2020-03-22 15:35] #88 closed

[2020-03-22 15:36] EliteDaMyth commented on #89
fixed

[2020-03-22 15:36] #89 closed

[2020-03-22 15:37] EliteDaMyth commented on #86
we dont really save the data from worldometers. If you would like to save it from our api go ahead

[2020-03-22 15:37] #86 closed

[2020-03-22 15:39] EliteDaMyth commented on #75
container based. the api is usually idling at ~4GB

[2020-03-22 15:39] #75 closed

[2020-03-22 15:40] gabrielcosi commented on #89
Isn't it suppossed to be alphabetical order? Because it's inverted (Z-A)

[2020-03-22 15:42] varundeva commented on #88
There is no data for active and closed case.
Scrap from Worldometer.
Rest of all good. Very quick response

[2020-03-22 15:42] EliteDaMyth commented on #89
its meant to be for numbers. descending order. Letters will be ofc inverted

[2020-03-22 15:42] varundeva commented on #88
Include active and closed in Global data
/All

[2020-03-22 15:43] EliteDaMyth commented on #88
@varundeva you can map through the data in countries endpoint and add yourself. its simpler.

[2020-03-22 15:44] varundeva commented on #88
Ok

[2020-03-22 15:45] gabrielcosi commented on #89
Could you please add country sort with alphabetical order as an endpoint or something? Thanks in advance

[2020-03-22 19:01] kw2019ltd opened #91 "there is no historical data for usa"
{"country":"usa","timeline":{"cases":{},"deaths":{},"recovered":{}}}

[2020-03-22 19:04] RyanHarlow commented on #91
I believe you have to use us instead of usa try this link https://corona.lmao.ninja/historical/us

[2020-03-22 19:29] ebwinters commented on #91
Should we make a manually mapping with all possible names lol

[2020-03-22 19:32] WWGate opened #92 "the API getting the wrong country"
Hello,

I'm trying to get Oman country data but the API returns data for Romania, any help please

[2020-03-22 19:33] RyanHarlow commented on #91
well and then there is naming inconsistency's between the two data sources aswell. UK vs United Kingdom. so it might be a good idea to somehow either standardize or find all possible names

[2020-03-22 19:46] RyanHarlow commented on #92
looks like its a bug. there is line in server.js that retrieves the country
  e => e.country.toLowerCase().includes(req.params.country.toLowerCase())

because rOMANia includes oman its returning romania first

[2020-03-22 20:02] ebwinters commented on #91
I'll look into this later

[2020-03-22 20:58] CopyMist commented on #48
This should totally be implemented. The combined data on `/all` should show all the fields, same as `/countries/<country>`. Why not add it if Worldometer already has it summed?

![2020-03-22_235405](https://user-images.githubusercontent.com/51974641/77260407-db66d600-6c98-11ea-891a-7054e7dff10b.png)

[2020-03-22 21:03] CopyMist opened #95 "Combined data on /all should show all the fields"
This should totally be implemented. The combined data on `/all` should show all the fields, same as `/countries/<country>`. Why not add it if Worldometer already has it summed?

There's even a handy class ".total_row" that you can use to extract the values.

![2020-03-22_235405](https://user-images.githubusercontent.com/51974641/77260407-db66d600-6c98-11ea-891a-7054e7dff10b.png)

_Originally poste

[2020-03-23 00:08] phptuts opened #99 "Historic Data For Country not working"
https://corona.lmao.ninja/historical/us
Right now is not return data.

[code]

[2020-03-23 00:16] ebwinters commented on #99
this will automatically fix itself when `/states` is fixed.

[2020-03-23 00:25] rveitch opened #100 ""States" endpoint is returning an empty array"
The [`/states`](https://corona.lmao.ninja/states) endpoint is currently returning an empty array. :/

![image](https://user-images.githubusercontent.com/12876929/77268077-c1b29800-6c72-11ea-9c94-2e76d9d6b0f2.png)

[2020-03-23 00:29] RyanHarlow commented on #100
there is already a pull request with the fix but the owners are unable to merge it right now

[2020-03-23 00:34] ebwinters commented on #100
#99 linked, will resolve itself once this is fixed

[2020-03-23 00:38] buster95 opened #101 "Can I work in longitude and latitude data for countries?"

[2020-03-23 00:39] buster95 opened #102 "Can I work in country flags images?"

[2020-03-23 03:23] EliteDaMyth commented on #102
Isn't necessary but if you want to open a pr

[2020-03-23 03:23] #102 closed

[2020-03-23 03:24] EliteDaMyth commented on #101
Don't open so many issues.

[2020-03-23 03:24] #101 closed

[2020-03-23 03:28] ebwinters commented on #91
Good to close this issue 👍

[2020-03-23 03:28] EliteDaMyth commented on #100
Fixed

[2020-03-23 03:28] #100 closed

[2020-03-23 03:28] #99 closed

[2020-03-23 03:29] EliteDaMyth commented on #95
Will take a look later

[2020-03-23 03:29] #95 closed

[2020-03-23 03:31] EliteDaMyth commented on #92
@RyanHarlow that pr can bream stuff instead can you make it so if there is a request paramenter strict it will search for the exact name. So it doesn't break current projects

[2020-03-23 03:32] EliteDaMyth commented on #92
Break*

[2020-03-23 07:14] shailandraRajput opened #104 "Can You Please Add Indian States?"
Hello,
Can you please add the Indian States
Thank You

[2020-03-23 07:37] CopyMist commented on #95
@EliteDaMyth Just FYI, if you gonna look at something later, you don't need to close the issue.
It should stay and be closed only if the code is merged and issue is resolved.

[2020-03-23 07:54] madhavtripathi05 commented on #104
I've already asked for it. Also, provided them with my scraper(which is written in Dart). looks like they didn't take it seriously.😶

[2020-03-23 09:04] EliteDaMyth commented on #104
Do you have a source for Indian states. @madhavtripathi05

[2020-03-23 09:25] fanfaron2004 opened #106 "Country "Czechia" not found"
https://corona.lmao.ninja/countries/Czechia

=> Country not found

[2020-03-23 09:27] EliteDaMyth commented on #106
https://corona.lmao.ninja/countries/Czech

[2020-03-23 09:27] #106 closed

[2020-03-23 09:46] meetmrkoushik opened #107 "How could we add flags ?"
Please explain how could we add flags ? and add Indian states report.

[2020-03-23 10:52] prateekbangre commented on #104
@EliteDaMyth you can fetch details from https://www.mohfw.gov.in/ or https://covidout.in/

[2020-03-23 10:53] prateekbangre opened #108 "incorrect value getting casesPerOneMillion for Indian States"
casesPerOneMillion is coming Zero in API call https://corona.lmao.ninja/countries/india and https://corona.lmao.ninja/countries for India country.

[2020-03-23 12:36] EliteDaMyth commented on #92
Fixed with merging of the pr. Will update soon

[2020-03-23 12:36] #92 closed

[2020-03-23 12:36] EliteDaMyth commented on #108
Answered in discord

[2020-03-23 12:36] #108 closed

[2020-03-23 12:36] EliteDaMyth commented on #107
Addind states for india soon.

[2020-03-23 12:36] #107 closed

[2020-03-23 12:37] EliteDaMyth commented on #104
The second link doesn't work. Will use the official government one.

[2020-03-23 12:37] EliteDaMyth commented on #104
Accidentally closed

[2020-03-23 12:40] shailandraRajput commented on #104
I think this will helpful for you https://www.mohfw.gov.in/pdf/DistrictWiseList324.pdf

[2020-03-23 13:18] kw2019ltd commented on #91
hi now its working i opened new issue for

"S. Korea"

[2020-03-23 13:18] kw2019ltd opened #109 "there is no historical data for "S. Korea""
{"country":"S. Korea","timeline":{"cases":{},"deaths":{},"recovered":{}}}

[2020-03-23 15:06] cbedoy opened #110 "Android App"
I'm using your API on this project, I hope there' s no problem.

https://github.com/cbedoy/Corona-Tracker

[2020-03-23 15:08] ebwinters commented on #91
reopen this issue I have a fix

[2020-03-23 15:23] ebwinters commented on #109
https://github.com/NovelCOVID/API/pull/111

[2020-03-23 15:42] ebwinters commented on #109
close dis

[2020-03-23 15:42] ebwinters commented on #91
can close now with #112

[2020-03-23 15:45] EliteDaMyth commented on #110
no problemo

[2020-03-23 15:45] #110 closed

[2020-03-23 15:45] #109 closed

[2020-03-23 15:46] EliteDaMyth commented on #104
Closed because state wise data is not at all accurate ;-;

[2020-03-23 15:46] #104 closed

[2020-03-23 15:46] #91 closed

[2020-03-23 15:46] EliteDaMyth opened #114 "random issue"
random issue

[2020-03-23 15:48] EliteDaMyth commented on #114
@all-contributors please add @EliteDaMyth for code

[2020-03-23 15:48] EliteDaMyth commented on #114
@all-contributors please add @dicedtomatoreal for code

[2020-03-23 15:49] EliteDaMyth commented on #114
@all-contributors please add @dicedtomatoreal for code

[2020-03-23 15:51] EliteDaMyth commented on #114
@all-contributors please add @dicedtomatoreal for code

[2020-03-23 15:51] EliteDaMyth commented on #114
@all-contributors please add @apollyon600 for doc

[2020-03-23 16:40] 55abhilash opened #121 "Countries EndPoint : countryInfo returns NO DATA for many countries"
Hi,

When I hit [https://corona.lmao.ninja/countries](https://corona.lmao.ninja/countries), an array of JSON objects is returned, each element of array is information for one country in JSON.
In each JSON, there is a JSON key-value pair for "countryInfo". This information is returned for most countries. However, it is returned as NO DATA for many countries, Eg. USA, UAE, Syria, etc.
![Screenshot f

[2020-03-23 16:57] 55abhilash commented on #121
It looks like the issue is due to difference in name of countries in the https://www.worldometers.info/coronavirus/ main table which is used by us, and the ISO information statically included here: https://github.com/NovelCOVID/API/blob/master/utils/country_utils.js.
Eg. In the worldometers.info table, country is called "USA" while in our utils file it is "United States". Due to this mismatch, the

[2020-03-23 17:27] buster95 commented on #121
Was resolve on #117

[2020-03-23 19:02] ahmadawais opened #123 "Version the API"
Please version the API. Y'all pushed breaking changes without any notice and it broke everything on my end.

If the API gets versioned /v1 /v2 — we can keep publishing changes without breaking everything and can deprecate old versions by announcing it.

[2020-03-23 19:40] ahmadawais opened #124 "czechia is missing in the single country endpoint"
In all countries data `czechia` exists but if you request it via single country API it does not.

https://corona.lmao.ninja/countries/czechia

[2020-03-23 19:58] stoutlabs commented on #121
The country names and capitalization have been changing as well... which is quickly becoming frustrating. e.g. `Korea, South` became `korea, south` and most recently it is now `s. korea`.  ISO names would be best, and always consistent.

[2020-03-23 20:09] buster95 commented on #124
@ebwinters you can see a lot of people looking for **_czechia_**

[2020-03-23 20:27] ebwinters commented on #124
Will have a fix out for this within 30 min

[2020-03-23 20:32] ahmadawais commented on #124
Awesome! 💯

[2020-03-23 20:36] ebwinters commented on #124
fixed with this #125, waiting for merge

[2020-03-23 20:40] ebwinters opened #126 "Make historical/world endpoint"
Currently the logic for getting overall global progression data is tricky. This endpoint at `historical/world` make it ez

[2020-03-23 20:41] ebwinters commented on #126
ima do it

[2020-03-23 20:54] buster95 commented on #121
Country names haven't been changing, data is showed like `https://www.worldometers.info/coronavirus`
you can see here
![image](https://user-images.githubusercontent.com/15637669/77361907-b6fd0f00-6d15-11ea-91eb-1bda1231c6a0.png)

If you are talking about this endpoint `https://corona.lmao.ninja/countries/{country name}`, `country name` parameter have been changing

[2020-03-23 20:56] stoutlabs commented on #121
Ah, yes... that's what I was referring to. (Timeline data as well.)

[2020-03-23 21:01] stoutlabs opened #127 "request: Use ISO country names and/or codes"
The timeline endpoint (and possibly others) seems to frequently change the names of countries... e.g. it went from `Korea, South` to `korea, south` and then most recently to `s. korea`.

I'm requesting that the standardized (ISO) country names and or 3-letter code be used, to keep everything consistent.  (I will happily provide a JSON of country/state codes, if needed!)

[2020-03-23 21:06] buster95 commented on #127
Ok, you can propose data about country names, I will work in that changes when you submit data file

[2020-03-23 21:52] stoutlabs commented on #127
Awesome! 🎉

Here's a JSON file with country names and ISO codes:  https://gist.github.com/stoutlabs/060e4f864742d44ac7d3a2881cfa3255#file-countrynamescodes-json  (If you could just get the 3-letter country codes into the API output, that would be awesome!)

And here's a JSON file with the US states and (2-letter) ISO abbreviations: https://gist.github.com/stoutlabs/060e4f864742d44ac7d3a2881cfa3255

[2020-03-23 23:25] guillermotti opened #128 "Some flags come as unkown"
Hi there 👋!

Calling this endpoint https://corona.lmao.ninja/countries some flags come with https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/unknow.png as value.

For example USA, but it's possible to reach the right flag making a call to: https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/us.png

Another example is UK: https://raw.githubusercontent.com/NovelC

[2020-03-23 23:26] O-r-D commented on #127
It would also mean a lot if you would make the endpoint of a specific country an iso code instead of its name.

Right now, I'm having difficulty getting an entry for names like S. Korea and United States as their names are displayed differently.

[2020-03-23 23:41] tobiu opened #129 "Feedback on the Historical Data endpoint"
Thanks for adding it, it does work fine.

Some thoughts: I think it would be cleaner to format dates as yyyy-mm-dd, since this should be the one and only format to use (except for displaying).

One more thing: regarding the /{CountryName} => do you just urlencode the name string or should keys be supported (thinking of countries with blank chars).

I just added a PoC to the neo.mjs dashboard:
![Sc

[2020-03-24 01:22] buster95 commented on #128
I'm sorry friend, was resolve on #117, waiting for merge

[2020-03-24 01:36] ebwinters opened #130 "Country data for certain countries is higher than should be"
This is happening in `/historical/countryName` due to redundant data for a country having multiple provinces. Some sort of logic is needed when parsing the response from `/historical` to fix this.

[2020-03-24 01:44] ebwinters commented on #130
#131 fixes this

[2020-03-24 01:45] ebwinters commented on #124
#131 fixes this now, will merge later

[2020-03-24 02:10] SaadAsif1 opened #133 "https://corona.lmao.ninja/jhucsse Data In wrong places"
While looking at the https://corona.lmao.ninja/jhucsse api most of the data are in the wrong places such as "country" is showing the province, "province" is showing a number, "updatedAt" is showing a state, and more.

[2020-03-24 02:41] buster95 commented on #133
Wrong fields 🤨
![image](https://user-images.githubusercontent.com/15637669/77382702-a0bb7700-6d46-11ea-98bc-fad22b9c78ba.png)

[2020-03-24 02:48] RyanHarlow commented on #133
working on it

[2020-03-24 03:09] ebwinters opened #135 "JHU Historical data needs to pull from new source"
From JHU repo:
[code]
basically historical data will not be update until a fix is made

[2020-03-24 03:31] SaadAsif1 commented on #133
Let us know when fixed thank you.

[2020-03-24 03:33] RyanHarlow commented on #133
@SaadAsif1   i submitted the pull request, just needs to merged and deployed

[2020-03-24 03:41] SaadAsif1 commented on #133
@RyanHarlow Thanks

[2020-03-24 04:03] #130 closed

[2020-03-24 04:03] #124 closed

[2020-03-24 04:08] ebwinters commented on #135
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

[2020-03-24 04:13] ebwinters commented on #135
official JH update: https://github.com/CSSEGISandData/COVID-19/issues/1250

[2020-03-24 05:07] phptuts opened #138 "The end point for china timeseries is not returning data"
The end point for the china timeline series is not returning data.

https://corona.lmao.ninja/historical/china
[code]

[2020-03-24 05:14] ebwinters commented on #138
yeah this is part of a bigger issue which I will fix tomorrow. our data source (Johns Hopkins) discontinued certain APis and features so we need to reprogram the endpoints

[2020-03-24 05:22] phptuts commented on #138
Thank you

[2020-03-24 05:32] apollyon600 commented on #123
This is a great suggestion, although we merge PR left and right and it would be extremely tedious to keep track or even update versions of the API.

[2020-03-24 08:06] guillermotti commented on #128
Perfect, thanks!!

[2020-03-24 10:02] kw2019ltd commented on #138
yes same here waiting thank you

[2020-03-24 10:31] ahmadawais commented on #123
But that would be much more responsible of you. Otherwise, you'll keep breaking all the sites and CLI based on the API. Causing people to spend more time fixing things than building things.

I say this with all the appreciation.

[2020-03-24 12:08] varundeva opened #139 "Plz all Active case and closed case"
Hello
inside the /all
add Active and Closed cases from world meter
so that api become complete info

[2020-03-24 12:12] siaw23 opened #140 "Key mismatch in /states endpoint"
I'm wondering the validity of this information  on the `/states` endpoint

`{"state":"Maryland","cases":288,"todayCases":0,"deaths":3,"todayDeaths":0,"recovered":281,"active":0}`

The number of recovered people is 281, this is not correct I think because in the whole of the States only about 600 people have recovered.

In fact, all ACTIVE keys  on `https://corona.lmao.ninja/states` are `0`

I thin

[2020-03-24 12:47] kvenn commented on #140
The scraper broke because the columns changed again. The table removed recovered.

https://www.worldometers.info/coronavirus/country/us/

[2020-03-24 13:04] samerawada92 commented on #126
I agree.

[2020-03-24 13:22] JamesShelley commented on #140
@EliteDaMyth just confirmed a fix for this is one the way  - https://github.com/NovelCOVID/API/pull/141 👍

[2020-03-24 13:23] EliteDaMyth commented on #140
it is pushed to the repo. it is not yet on the main API yet. We are testing some stuff rn so it can take a while for now :)

[2020-03-24 13:23] #140 closed

[2020-03-24 13:24] EliteDaMyth commented on #140
@all-contributors please add @JamesShelley for review

[2020-03-24 13:49] EliteDaMyth commented on #139
dont keep opening issues. we will add it later

[2020-03-24 13:49] #139 closed

[2020-03-24 13:49] EliteDaMyth commented on #138
closing.

[2020-03-24 13:49] #138 closed

[2020-03-24 13:50] #133 closed

[2020-03-24 13:50] EliteDaMyth commented on #129
its an timestamp. it can be easily converted to a date using ms module or something similar

[2020-03-24 13:50] #129 closed

[2020-03-24 13:51] #128 closed

[2020-03-24 13:51] #127 closed

[2020-03-24 13:51] #126 closed

[2020-03-24 13:52] EliteDaMyth commented on #123
alot of people will have to update their code if we add a /v1/endpoint format. rn the api has not changed the way it has served data since the beginning

[2020-03-24 13:52] #123 closed

[2020-03-24 13:53] EliteDaMyth commented on #121
already a pr trying to fix.

[2020-03-24 13:53] #121 closed

[2020-03-24 13:53] #114 closed

[2020-03-24 14:19] ahmadawais opened #147 "States Active Cases are all 0"
States Active Cases are all 0
https://corona.lmao.ninja/states

[2020-03-24 14:20] mfurlend opened #148 "states output is wrong (recovered/active)"
Great API. Problem with the states output though.
[code]
`Active` is always 0.
`Recovered` makes no sense too.

[2020-03-24 14:36] sharmavipul92 opened #149 "in countries API, Saudi Arabia's data is wrong"
the numbers doesn't match with the source from where you are scraping the data.
Checked at random and found for this country, might be wrong for others too.

[2020-03-24 14:38] sharmavipul92 opened #150 "countryInfo iso2 and iso3 'NO DATA' for some countries"
some countries doesn't have the country ISO codes in the data.

[2020-03-24 14:46] ahmadawais commented on #123
I believe you can start right away. Let the current API be the way it is. Fork it over and start `v1`. Those who chose to go with `v1` will be rest assured that API won't change ever. Whenever you have a breaking change, offer `v2` and move to the next version.

[2020-03-24 14:57] dicedtomatoreal commented on #150
they dont have data

[2020-03-24 14:57] buster95 commented on #150
was resolve in #117, waiting for merge

[2020-03-24 14:57] dicedtomatoreal commented on #149
give it some time to update

[2020-03-24 14:57] #149 closed

[2020-03-24 14:58] dicedtomatoreal commented on #148
Recovered = people who have recovered from the covid-19 disease, active is still being worked on

[2020-03-24 14:58] #148 closed

[2020-03-24 14:59] dicedtomatoreal commented on #147
we know, we are working on it

[2020-03-24 14:59] #147 closed

[2020-03-24 15:03] sorressean opened #151 "States data is incorrect"
in the /states endpoint, the states data is incorrect; active for all states is 0, thus making recovered everything but deaths. If active could populate, the rest would likely calculate correctly.

[2020-03-24 15:15] ahmadawais commented on #123
Case in point you folks again broke the site and CLI since you pushed another change to the API which was not accountable for before. `casesPerOneMillion`. This is sad. :(

[code]

[2020-03-24 15:16] EliteDaMyth commented on #123
if you are in the discord server we already have thought of versioning it. thanks for the idea

[2020-03-24 15:16] ebwinters commented on #151
I think we just need to rescrape

[2020-03-24 15:17] EliteDaMyth commented on #151
seems to be fixed. lmk if you wanna reopen in future

[2020-03-24 15:17] #151 closed

[2020-03-24 15:28] kw2019ltd commented on #138
still getting empty result

{"standardizedCountryName":"china","timeline":{"cases":{},"deaths":{},"recovered":{}}}

[2020-03-24 15:33] sorressean commented on #151
This is still not correct.
{"state":"New York","cases":25665,"todayCases":4790,"deaths":183,"todayDeaths":26,"recovered":25374,"active":0}
Active is set to 0 here still, which means that recovered is everything that's not deaths, this is incorrect.

[2020-03-24 15:37] ebwinters commented on #138
yesterday I said I'd fix it tomorrow and it's 10:30 AM. Give me a couple hours dude lol

[2020-03-24 15:40] kw2019ltd commented on #138
yeah sure i just saw the issue is closed :) take your time thanks

On Tue, Mar 24, 2020 at 5:37 PM Ethan Winters <notifications@github.com>
wrote:

[2020-03-24 16:12] sharmavipul92 opened #153 "historical data of any country has last 2 values as same"
Checked for India and Pakistan, the values are correct till the second last date (22/3/2020), but the value for 23/3/2020 is the same as 22/03/2020, which is not correct.
Do have a look

[2020-03-24 16:19] ebwinters commented on #153
the only other issue open rn fixes this i'm workin on it

[2020-03-24 16:19] #153 closed

[2020-03-24 17:08] dicedtomatoreal opened #155 "make a /v2/csse/all"
this will remove citiies from us, and just add them up

[2020-03-24 17:10] ebwinters opened #156 "[WIP] Update Readme for v2 endpoints"

[2020-03-24 17:22] phptuts opened #157 "Countries End Point is not working"
https://corona.lmao.ninja/countries

Is not returning anything.

[2020-03-24 17:23] phptuts opened #158 "Getting a cors error with the api"
<img width="683" alt="Screen Shot 2020-03-24 at 10 22 41 AM" src="https://user-images.githubusercontent.com/9620015/77457102-72c34a80-6db9-11ea-8446-575355e86399.png">

[2020-03-24 17:23] phptuts commented on #157
It's working now

[2020-03-24 17:24] phptuts commented on #158
cors error fixed

[2020-03-24 17:24] #158 closed

[2020-03-24 17:24] #157 closed

[2020-03-24 17:26] phptuts commented on #155
That would be good to remove cities.   At least for my app.

[2020-03-24 17:31] ebwinters commented on #155
ima do it later

[2020-03-24 17:52] tobiu commented on #129
Please read the topic more carefully.

The Summary (/all) Endpoint does provide a timestamp.

The Historical Data Endpoint (/historical) gives data in this format:

![Screenshot 2020-03-23 at 22 55 11](https://user-images.githubusercontent.com/1177434/77459500-1afc0200-6e00-11ea-8df5-7d525b1b8ae2.png)

This is far from a timestamp, it is month (without a trailing 0) / day (without a trailing zero)

[2020-03-24 18:47] SaadAsif1 opened #160 "Api end points are not loading"
When I click on the link the get the JSON data it doesn't even show up. It constantly shows the loading sign. It showing its a Host Error With a status code of 524.

[2020-03-24 18:48] maroine888 opened #161 "hey i'm using this api https://corona.lmao.ninja/ but sometimes its top working"
hey i'm using this api https://corona.lmao.ninja/ but sometimes it stop working and  the other thing is before you add flag country this api was very fast but now a little bit slow and it take more time to get the data thank you so much and sorry for my english and pls if you can delete Not important
information and leave just country name and confirmed and dead and recovered because take to much

[2020-03-24 18:57] kzkvv commented on #161
i confirm, /countries was recently unavailable. it looks like the server is overloaded

[2020-03-24 18:57] iClusterDev commented on #161
Same issue here!

[2020-03-24 18:59] mjdeside commented on #161
Same Issue here I can't also access https://corona.lmao.ninja/countries is there other link we can use?

[2020-03-24 19:10] gabosdk commented on #161
Same here, I cannot access

[2020-03-24 19:10] mjdeside commented on #161
Its already fix guys

[2020-03-24 19:16] iClusterDev commented on #161
Nice. Thanks for the Fix

[2020-03-24 19:48] ahmadawais commented on #123
Y'all are amazing. Thank you! 👌

[2020-03-24 19:49] ebwinters commented on #156
Need #159 merged

[2020-03-24 19:50] #135 closed

[2020-03-24 21:02] silverhairs opened #163 "US flag is set to unknown.png while there is a US flag in the assets"

[2020-03-24 21:51] Fuzzygoat opened #164 "Replace "NO DATA" with null"

[2020-03-24 22:11] #161 closed

[2020-03-24 22:18] ebwinters commented on #163
@buster95 this is why I was talking about standardizing names. For a fix, you would need to make sure that `countryData` in the file `/utils/country_utils` has all the correct standardized country names according to `countryMap.js`. For example
[code]
because UK is the standardized name, and therefore right now, `getCountryData` is broken.

[2020-03-24 22:44] buster95 commented on #163
@ebwinters was resolve on my last PR #117, I'm waiting for merge

[2020-03-24 22:59] ebwinters commented on #155
#165

[2020-03-25 00:32] blackbagheera opened #168 "historical data (v2) doesn't contain recovered anymore"
https://corona.lmao.ninja/v2/historical holds deaths and cases but no recovered data anymore.
Can you draw the data from the daily reports?
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports
--> Recovered

[2020-03-25 00:44] ebwinters commented on #168
doing calculations for all those files is very intensive. JHU stopped offering recovered data, so we stopped supplying it in V2

[2020-03-25 00:44] #168 closed

[2020-03-25 00:44] #160 closed

[2020-03-25 00:47] EngandDeveloper opened #169 "Lat, Long wrong for some countries"
In, https://corona.lmao.ninja/countries?sort=%7Bparameter%7D, end-point, the USA's and several other countries lat and long are set to {0,0}. Can you please fix them?

By the way, thank you so much for a simple API with variety of variables it helps a lot for my project.

[2020-03-25 00:49] ebwinters commented on #169
will be fixed with merge of #117, waiting for the dude to make the changes I listed in comments on P R

[2020-03-25 00:52] PlGGS opened #170 "Canada province named "recovered""
When I realized the 'recovered' stats were missing from v2, I searched [here](https://corona.lmao.ninja/v2/historical) for any occurrences of the term in the API and found that Canada has a province that's improperly labelled as 'recovered'

![canada](https://user-images.githubusercontent.com/20197872/77490336-9e215600-6e08-11ea-9685-9fe5dad33055.png)

[2020-03-25 00:53] EngandDeveloper commented on #169
Ok thank you so much.
Note: the countries I found with lat, long are {0,0}:
the USA
Iran
the UK
Palestine
Turks and Caicos
S. Korea
Czechia
Diamond Princess
Channel Islands
Faeroe Islands
Tanzania

[2020-03-25 02:45] #155 closed

[2020-03-25 03:43] KyawSoeWinn opened #172 "Flag URL are not correct for all"
USA,Iran,UK , South Korea and other countries urls are not correct.
"https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/unknow.png"

[2020-03-25 04:47] buster95 commented on #172
was resolve on #117, waiting for merge

[2020-03-25 05:26] juliodominguezt opened #173 "corona.lmao.ninja Host Error"
Hi
Error 522 Ray ID: 5796317bc885f893 • 2020-03-25 05:22:48 UTC
Connection timed out

[2020-03-25 05:34] devassort commented on #173
Yes, Getting Same error.

[2020-03-25 05:36] soyzamudio opened #174 "CORS issues"
Getting the following error on the API:

`Access to XMLHttpRequest at 'https://corona.lmao.ninja/all' from origin 'https://soyzamudio.github.io' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.`

[2020-03-25 05:37] soyzamudio commented on #174
as I posted this it started working again.

[2020-03-25 05:37] #174 closed

[2020-03-25 06:20] apollyon600 commented on #173
This was resolved as we were having issues with our VPS provider.

[2020-03-25 08:20] ianpan870102 opened #175 "API stopped working at all (returns empty object)"
5 minutes ago it was still working, but now the API urls seem to have stopped completely.

[2020-03-25 08:21] verfriemelt-dot-org commented on #175
this seems to affect only v1

[2020-03-25 08:27] ianpan870102 commented on #175
I see. However, as far as I can tell -- V2 seems to still be under development? I was making heavy use of the flag png files and ISO and all the goodies in V1....

[2020-03-25 08:28] verfriemelt-dot-org commented on #175
its back! :D

[2020-03-25 08:31] ianpan870102 commented on #175
YAYYY!!!
Btw, thanks all who contributed to this API -- I am practising React.js with a project built around this.
Closing issue.

[2020-03-25 08:31] #175 closed

[2020-03-25 08:38] kw2019ltd opened #176 "missing recovered historical data from V2"

[2020-03-25 08:42] kw2019ltd opened #177 "can we have new rest url for historical data for all total cases, recovery, and deaths (global)"

[2020-03-25 08:55] harshavmb commented on #177
I vote for this. Right now my app is performing heavy computations. If it is processed at the API end, would help many consumers.

There are around 80k records and looping through each record to sum is a resource intensive operation.. Good if it is offered by API..

[2020-03-25 08:56] EliteDaMyth commented on #177
The server is already overloaded. Easy to do on client side.

[2020-03-25 08:56] #177 closed

[2020-03-25 13:31] #164 closed

[2020-03-25 13:54] siaw23 opened #180 "ISO for Czechia"
This ISO2 code for Czechia is "CZ"

https://corona.lmao.ninja/countries/czechia

It says "NO DATA", can this be fixed?

[2020-03-25 14:08] Mr-Cerberus opened #181 "Possible Suggestion - Adding Yesterday's Statistics"
I was messing about with some of the original API code from when you first released it publicly,
I managed to get a scraper working for the 'yesterdays statistics' simply by doing:

[code]

I think this should be added to the API, unless the JHU endpoint does the same functionality.
Cerberus.
[Full Scraper Code](https://github.com/NovelCOVID/API/files/4381369/message.txt)

[2020-03-25 14:28] JamesShelley commented on #180
Looks like this was fixed in one of the latest PR's https://github.com/NovelCOVID/API/blob/master/utils/country_utils.js.
Should be live when the next deploy takes place.

[2020-03-25 14:29] #180 closed

[2020-03-25 14:35] JamesShelley commented on #180
Just checked latest to confirm, all good! @siaw23

`{
"country": "Czechia",
"countryInfo": {
"iso2": "CZ",
"iso3": "CZE",
"_id": 203,
"lat": 49.75,
"long": 15.5,
"flag": "https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cz.png"
},
"cases": 1497,
"todayCases": 103,
"deaths": 5,
"todayDeaths": 2,
"recovered": 10,
"active": 1482,
"critical": 19,
"casesPerOneMillion": 140,
"deathsP

[2020-03-25 15:49] #173 closed

[2020-03-25 15:50] ebwinters commented on #176
It doesn't exist, Johns Hopkins stopped providing it

[2020-03-25 15:50] #176 closed

[2020-03-25 15:53] bahiirwa opened #184 "Last Updated timestamp converting wrong"
In using the `https://corona.lmao.ninja/all`endpoint to get the summary.

When I convert the last updated in php human readable time, I get the wrong time

`updated: 52201-06-11 01:12:40`

Could you verify?

[2020-03-25 16:09] ebwinters commented on #156
#186

[2020-03-25 16:20] whoo opened #187 "Recovered is no more available in v2 api"
Hi Guys,

"recovered" field disapears in timeline section.

Example :  https://corona.lmao.ninja/v2/historical/Canada
{"country":"canada","timeline":{"cases":{...},"deaths":{...}}}

Regards,
Dominique

[2020-03-25 16:21] dev-myatminsoe commented on #184
It's millisecond. Not second.

[2020-03-25 16:33] ebwinters commented on #187
There has been like 10 other closed issues saying the same thing. Our data source discontinued it

[2020-03-25 16:33] #187 closed

[2020-03-25 16:47] ebwinters commented on #172
#185 fixes

[2020-03-25 19:38] bahiirwa commented on #184
Thank you.

[2020-03-25 19:39] #184 closed

[2020-03-25 22:17] ebwinters commented on #170
Issue on jhon's hopkins end: see issue in their repo here: https://github.com/CSSEGISandData/COVID-19/issues/1519

[2020-03-25 22:17] #170 closed

[2020-03-26 01:57] yduke commented on #150
This issue still exist and also lead to an unknown flag, like USA, returning "NO DATA" for iso2 and iso3

[2020-03-26 02:05] fernandocani opened #189 "Historical stop updating on March 23th"
The url [https://corona.lmao.ninja/historical/brazil](https://corona.lmao.ninja/historical/brazil) has stop tracking foward 3/23/2020.

![image](https://user-images.githubusercontent.com/13990282/77602779-16f9de00-6eed-11ea-991b-7e97c326e78e.png)

[2020-03-26 02:14] nibble-4bits commented on #189
You should use the v2 endpoint: https://corona.lmao.ninja/v2/historical/brazil

The v1 endpoints for historical data has been deprecated

[2020-03-26 02:28] fernandocani commented on #189
It worked. thanks!
Maybe have the v1 redirect to the v2, or make a warning.

Thanks for the help!

[2020-03-26 02:28] #189 closed

[2020-03-26 02:31] nibble-4bits commented on #189
No problem, happy to help!

If you want to suggest those changes maybe you should open another issue. I'm not a contributor to this project so I don't know what they think about the changes.

[2020-03-26 02:48] ebwinters commented on #150
#185 will be merged and fix this

[2020-03-26 02:49] #169 closed

[2020-03-26 02:49] #172 closed

[2020-03-26 02:49] #163 closed

[2020-03-26 03:05] yduke commented on #150
@ebwinters thank you

[2020-03-26 03:06] gauravnewton opened #190 "Data range"
Instead of adding yesterday's data we can add a date slider range to filter out data.

[2020-03-26 03:39] yduke commented on #150
@ebwinters

for countries above, iso2 and iso3 code returning "null" now, also flag is unknown along with the ios2

[2020-03-26 03:49] ebwinters commented on #150
lemme fix

[2020-03-26 03:51] ebwinters commented on #150
@buster95 you should make  a PR to fix this,  I don't understand your indexing system or where you get this data.
You need to make entries in `countryData` for these countries:
[code]
and for `Virgin Islands, British` add `British Virgin Islands` as possibleName

[2020-03-26 04:23] vpma2580 opened #191 "I can't see US States Name when i get historical data."
Hello,
I was working with US States historical data.
But today, i couldn't see states name when I get data.
Any changes?
Best

[2020-03-26 04:27] ebwinters commented on #191
look at the other closed issues

[2020-03-26 04:27] #191 closed

[2020-03-26 05:22] sharmavipul92 commented on #150
Hi

I have done a mapping and I have the country codes based on the name
returned in your data.
Let me know if you guys need my help. Would be happy to contribute.

On Thu, Mar 26, 2020, 11:51 AM Ethan Winters <notifications@github.com>
wrote:

[2020-03-26 05:29] buster95 commented on #150
Hey I feel lossing with Channel Island

I feel lost with Channel Island, Do you have info about?

[2020-03-26 05:39] buster95 commented on #150
I have information, Channel Islands are two islands Jersey and Guernsey

[2020-03-26 05:41] vpma2580 commented on #191
Hi
i can't find the solution.
Can you help me with this?

[2020-03-26 05:41] vpma2580 opened #192 "US States Historic data gone"
Hello,
I was working with US States historical data.
But today, i couldn't see states name when I get data.
Any changes?
Best

[2020-03-26 05:46] vpma2580 commented on #192
Someone said "please check closed issue". This is not solution.
If there are 1000 closed issue, i should check 1000?

[2020-03-26 05:49] siaw23 opened #194 "Typo"
If I go to `https://corona.lmao.ninja/countries/some_gibberish` I get

Typo in "doesn't".

[2020-03-26 05:50] vpma2580 commented on #192
Is there any way i can get historical data for each state of US?

[2020-03-26 08:36] Abdulqudus001 opened #196 "No recovered data"
Data for people who have recovered has been removed from version 2

[2020-03-26 08:57] dahacouk commented on #187
Hi @ebwinters I'd like to lend a hand a go contact your "data source". Who are they? And got any people/references or anything for me to start with?

[2020-03-26 09:25] sharmavipul92 commented on #150
but they don't have any ISO codes.

On Thu, Mar 26, 2020 at 1:39 PM Walter Corrales <notifications@github.com>
wrote:

[2020-03-26 10:27] thalvadzhi opened #197 "Cases per million are parsed incorrectly when above 999"
When cases per million are above 999 they are parsed as their most significant digit only. For example 1234 is parsed to 1. That's because numbers above 999 have a comma in them. I suggest removing the comma similar to the way you remove it for the other columns. The bug is also present for the deathsPerOneMillion column.

More concretely this:
https://github.com/NovelCOVID/API/blob/890eff851b65ee

[2020-03-26 12:11] Sanan4li commented on #194
Its not an Issue.. You can handle it yourself..

[2020-03-26 12:15] siaw23 commented on #194
Well of course. But wouldn't it be nice if it's known and fixed? :/

[2020-03-26 12:35] buster95 commented on #150
Yes they have
https://en.m.wikipedia.org/wiki/List_of_ISO_3166_country_codes
Jersey and Guernsey, for Channel Islands y left Jersey data

[2020-03-26 12:36] ben-richardson-moneysmart commented on #197
Added a PR to fix this one based on the type of data in the WorldMeteres table. Fixed the issue using the same method to remove the comma in the other columns of the table.

https://github.com/NovelCOVID/API/pull/198

[2020-03-26 12:46] ben-richardson-moneysmart commented on #197
Countries like `Kenya` have a value of 0.5 in the casesPerMillion column. I think Float is still best here rather than integer where this would be rounded to 1.

[2020-03-26 12:48] tb100 opened #199 "Captcha HTML file get returned."
I'm using nodejs to retrieve the data through "https.get()" from "https://corona.lmao.ninja/all". Sometimes, this returns a captcha HTML file instead of the JSON data. I tried using the "novelcovid" NPM package, but it causes an error:
`UnhandledPromiseRejectionWarning: TypeError: Something went wrong, please try again later.`
Can anyone help me? Thanks.

[2020-03-26 12:49] thalvadzhi commented on #197
Yes, you are right, I missed that before.

[2020-03-26 12:54] minhtuancn commented on #199
You shoud use cron cache

[2020-03-26 12:57] tobiu opened #200 "Congo listed 2x in https://corona.lmao.ninja/countries"
Congo

Congo, the Democratic Republic of the

the entries have different data, did you replace a different country by accident?

[2020-03-26 13:00] buster95 commented on #200
They are differents countries

[2020-03-26 13:05] buster95 commented on #200
Congo
![Screenshot_20200326-070231_Chrome](https://user-images.githubusercontent.com/15637669/77649674-de2f2880-6f2f-11ea-8456-bb5eb9c7eedb.jpg)

Republic democratic of Congo
![20200326_070211](https://user-images.githubusercontent.com/15637669/77649771-fbfc8d80-6f2f-11ea-9c15-a12b2c53e248.jpg)

[2020-03-26 13:08] tobiu commented on #200
thx, learned something.

so "Congo" is the official name for "Republic of the Congo" (without democratic)

[2020-03-26 13:08] #200 closed

[2020-03-26 13:41] MarkoAnastasov opened #201 "Incorrect country name"
"Macedonia, the former Yugoslav Republic of" should be renamed to "North Macedonia".

[2020-03-26 14:17] Mamikon95 opened #203 "iso2 code in timeline request"
Hello, please add ISO2 code of all countries in the request https://corona.lmao.ninja/v2/historical

[2020-03-26 14:32] buster95 commented on #201
Ok, working on it

[2020-03-26 14:37] Ovardov opened #204 "Cases Per One Million don't work"
I found that in countries that cases per one million are over 1000 doesn't work good.For example Italy, they have 1230, but it comes back as 1. The same with San Marino, they have 6130, but it comes back as 6.

[2020-03-26 14:47] buster95 commented on #194
What's the correct??, excuse me english isn't my first language

[2020-03-26 15:14] jonyig opened #205 "Get all case is not working"
I will get the cases of all world ,but it is not work
plz fix it , thx

[2020-03-26 15:22] vasanianil opened #206 "API is down"
Cloudflare can not reach your server, please fix
This is keep happening everyday

[2020-03-26 15:25] MarkSablan commented on #206
Having the same issue. Was creating an application when I encountered this

[2020-03-26 15:29] msghera commented on #206
A similar case. Response code is 522.

[2020-03-26 15:29] vasanianil commented on #206
Please fix asap.

[2020-03-26 15:30] jonyig commented on #206
I have the issue ,too

[2020-03-26 15:32] buster95 commented on #206
locally I have this
![image](https://user-images.githubusercontent.com/15637669/77664908-7b945780-6f44-11ea-8b31-4e117039a963.png)

This could be damaged online service

[2020-03-26 15:34] interpegasus commented on #206
Great work with the API. I would suggest adding cache to alleviate the server load and handling more requests. Please fix ASAP. Thanks

[2020-03-26 15:38] vasanianil commented on #206
Any developer of this API seeing this issue or not? Any update?

[2020-03-26 15:38] raulssorban commented on #206
Great work with the API, suggestion: make it online pls

[2020-03-26 15:40] alexerhardt commented on #206
I've also been getting 502s in the last 24 hours...

Could this be Worldometer.info doing some throttling?

I don't understand the Redis config that well yet, but I think to avoid any problems with Worldometer what I'd do is only refresh the values on Redis every so often (one hour?)

I would also give the response 30min-1h cache TTL for responses to alleviate server load (I understand this is las

[2020-03-26 15:41] hrdunn commented on #206
@buster95 to add to that, the file getting pulled there from the johns hopkins repo has been deprecated as of last night the new file is `time_series_covid19_confirmed_global.csv` and does not include US States. They mentioned that they are going to add them back but who knows when that will happen.

For reference on their changes [Here](https://github.com/CSSEGISandData/COVID-19/issues/1250)

[2020-03-26 15:41] dicedtomatoreal commented on #206
We are working to get it up sorry.

[2020-03-26 15:43] dicedtomatoreal commented on #206
Please wait 5 minutes while we fix

[2020-03-26 15:43] dicedtomatoreal commented on #206
This was unexpected, and we are doing the best we can :D

[2020-03-26 15:46] ebwinters commented on #187
It's John's Hopkins. There's no reason to contact them they are swamped with thousands of issues on their repo.

[2020-03-26 15:46] alexerhardt commented on #206
@dicedtomatoreal

Thank you so much, the API is great, I like it as both a consumer and a developer.

If you could please let us know what went wrong I'd greatly appreciate it. I'm thinking of forking it and hosting my own so it would be very helpful to know - thanks.

[2020-03-26 15:49] dicedtomatoreal commented on #206
The api is now up, stay safe!

[2020-03-26 15:49] #206 closed

[2020-03-26 15:49] nibble-4bits commented on #194
@buster95 It should say  _doesn't_ instead of _dosen't_

[2020-03-26 15:50] ebwinters commented on #199
@apollyon600

[2020-03-26 15:50] #199 closed

[2020-03-26 15:51] hrdunn commented on #206
@dicedtomatoreal Any idea what caused this issue? should we decide to host it ourselves it would be helpful to know if possible.

[2020-03-26 15:51] dicedtomatoreal commented on #205
Not enough elaboration

[2020-03-26 15:51] #205 closed

[2020-03-26 15:52] ebwinters commented on #196
this issue gets posted at least 3 times a day lol, check the README and check closed issues.

[2020-03-26 15:52] dicedtomatoreal commented on #196
Because JHU has removed it

[2020-03-26 15:52] dicedtomatoreal commented on #196
beat me to it.. :joy:

[2020-03-26 15:53] vasanianil commented on #206
API is great. Great work guyz. I would suggest everybody to cache data so we dont hit https://corona.lmao.ninja/ too many times.

[2020-03-26 15:55] ebwinters commented on #192
No, the data source JHU discontinued it

[2020-03-26 15:55] #192 closed

[2020-03-26 15:55] ebwinters commented on #206
@vasanianil how do you propose doing that, from a JS perspective? Give some psosible solutions

[2020-03-26 15:56] nibble-4bits commented on #204
This was also reported on issue #197

[2020-03-26 16:02] #204 closed

[2020-03-26 16:05] Aris-1712 opened #207 "Recovered in historical data by country"
v1 had recovered data, but v2 doesnt hav them.

[2020-03-26 16:16] #207 closed

[2020-03-26 16:23] vasanianil opened #209 "API is down again"
Please make a permanent fix

[2020-03-26 16:26] mjdeside commented on #209
ya its down

[2020-03-26 16:31] rajendraprabhu commented on #209
yeah, the API is down!

[2020-03-26 16:31] didulaj commented on #209
Any back up API available to get at least basic data when this API is down? I remember one guy posted one before but I cannot find it.

[2020-03-26 16:33] marc-se commented on #209
I use this as a backup https://github.com/javieraviles/covidAPI

[2020-03-26 16:34] marc-se commented on #209
API is back

[2020-03-26 16:35] vasanianil commented on #209
Thanks for backup

[2020-03-26 16:41] didulaj commented on #209
Thank you very much

[2020-03-26 17:26] interpegasus commented on #209
Great work with the APIs.  I also would suggest adding cache to reduce resource usage.
Perhaps via: https://www.npmjs.com/package/apicache

And also contacting the hosting provider `Cloudflare` to grant more resources if possible would be ideal. Or an AWS free trial.

[2020-03-26 17:35] Aris-1712 opened #211 "Down Again"
Keeps going down randomly.

[2020-03-26 17:35] #211 closed

[2020-03-26 17:36] ebwinters commented on #209
We are currently discussing the possibility of moving to NGINX solution and load balancing multiple servers. Please try to refrain from spamming github with issues of API being down, hopefully all issues will be fixed within the day. Thanks!

[2020-03-26 17:50] ebwinters opened #212 "Build pipeline"
# Goals
1. Set up a build pipeline for new infrastructure so that on merge API is updated live
2. Give more trusted contributors merge access, allowing faster hot fixes with build pipeline

[2020-03-26 18:49] tobiu opened #213 "countries endpoint: cases per 1M"
![Screenshot 2020-03-26 at 19 46 53](https://user-images.githubusercontent.com/1177434/77684850-d3f64400-6f9a-11ea-8422-6937f1c11a34.png)

something seems wrong (1 values).

[2020-03-26 18:51] ebwinters commented on #213
#198 fixes this. closing

[2020-03-26 18:51] #213 closed

[2020-03-26 21:04] #209 closed

[2020-03-26 21:12] vasanianil opened #215 "Country name wrong for "Iran""
Please fix country name to only **Iran or Islamic Republic of Iran** instead of Iran, Islamic Republic of

https://corona.lmao.ninja/countries

Thanks in advance

[2020-03-26 21:14] vasanianil commented on #201
Please fix this also.
https://github.com/NovelCOVID/API/issues/215

[2020-03-26 21:31] buster95 commented on #215
Ok, Working

[2020-03-26 21:43] 1amirjalai opened #216 "The sorting in wrong"
ordering of countries is wrong and where is the source of info?

[2020-03-26 22:20] WarenGonzaga opened #217 "ISO 3166 Issues"
* Australia (should be AUS or AU)
* Austria (should be AUT or AT)
* Philippines (return no result for PHL)

[2020-03-26 22:33] ebwinters commented on #217
@buster95

[2020-03-26 22:34] ebwinters commented on #216
lol what, be more specific

[2020-03-26 22:34] #216 closed

[2020-03-26 23:33] 1amirjalai commented on #216
why china is on top of the list now? https://corona.lmao.ninja/countries America has more cases

[2020-03-26 23:35] ebwinters commented on #216
https://corona.lmao.ninja/countries?sort=cases

[2020-03-27 00:29] eliraybon commented on #203
I added each country's iso2 code to the timeline response. Pull request open.

[2020-03-27 00:58] amanvirparhar opened #219 "Italy Cases Per Million"
For Italy, the cases per one million is shown as 1.

`{"country":"Italy","countryInfo":{"_id":380,"lat":42.8333,"long":12.8333,"flag":"https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/it.png","iso3":"ITA","iso2":"IT"},"cases":80589,"todayCases":6203,"deaths":8215,"todayDeaths":712,"recovered":10361,"active":62013,"critical":3612,"casesPerOneMillion":1,"deathsPerOneMillion":136}

[2020-03-27 00:59] #219 closed

[2020-03-27 02:31] eliraybon commented on #217
Looks like it's been updated - all the codes are correct now.

[2020-03-27 02:59] ben-richardson-moneysmart opened #221 "Getting 521 error from Cloudflare when accessing any endpoint"
Error 521 from Cloudflare 2pm, Friday 27 March AEDT (Sydney, Australia time)

![Screenshot 2020-03-27 at 1 57 55 PM](https://user-images.githubusercontent.com/35677833/77716790-0f445180-7033-11ea-9f63-a93b95cb2469.png)

[2020-03-27 03:20] linusyoung opened #222 "data structure suggestion"
current sample data from v2 end point.
[code]
suggest to put cases into a list and use "date" and "value" key instead of using actual date as key.
[code]

[2020-03-27 03:22] #221 closed

[2020-03-27 03:58] ebwinters opened #223 "Deprecate historical endpoint and return message JSON"

[2020-03-27 04:01] #223 closed

[2020-03-27 04:26] #197 closed

[2020-03-27 04:36] #150 closed

[2020-03-27 04:36] #194 closed

[2020-03-27 04:36] #201 closed

[2020-03-27 04:36] #215 closed

[2020-03-27 04:51] ebwinters commented on #203
This would be a breaking change and we aren't going to be introducing breaking changes into the API at this time.

[2020-03-27 04:51] #203 closed

[2020-03-27 04:54] #217 closed

[2020-03-27 04:54] #156 closed

[2020-03-27 04:55] ebwinters commented on #222
This is a breaking change, which we do not want to introduce at a time with such high API usage.

[2020-03-27 04:55] #222 closed

[2020-03-27 04:56] ebwinters commented on #190
This isn't a issue, if you want to try this locally feel free, and it it works we can test and make the decision to merge when it gets there.

[2020-03-27 04:56] #190 closed

[2020-03-27 05:38] ebwinters opened #225 "Refactor code, Linting"

[2020-03-27 06:06] WarenGonzaga opened #226 "API Query Issue ISO 3166"
This is the Issue I meant...
https://corona.lmao.ninja/countries/au

It shows Austria instead of Australia... the ISO3/ISO2 of Austria is AT or AUT while Australia AUS or AU

Same thing with Philippines... there should be a response for PHL...
https://corona.lmao.ninja/countries/phl ---> no response.

Another issue is...
https://corona.lmao.ninja/countries/ar should be argentina not Denmark

These

[2020-03-27 06:24] EliteDaMyth commented on #226
we dont serve results based on the country code.

[2020-03-27 06:24] #226 closed

[2020-03-27 07:32] Krato commented on #196
Sorry to write again in a closed issue @dicedtomatoreal But I think that they restore again the recovery data.

Please check it here: https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

[2020-03-27 08:06] EliteDaMyth commented on #225
gonna rewrite the api in RUST soon

[2020-03-27 08:06] #225 closed

[2020-03-27 08:06] EliteDaMyth commented on #212
gonna rewrite the api in RUST soon

[2020-03-27 08:06] #212 closed

[2020-03-27 15:11] Nikhil-Wagh opened #231 "No active cases for /all"
In `/all` there is no active `cases` record. There is active record `cases` field in all the rest of the endpoints.

[2020-03-27 15:21] nmeyen opened #232 "Cases Per Million Incorrect - Italy and Spain"
The cases per million for Italy and Spain are incorrect and should be in 1000s and not 1 once the total cases are divided by the respective populations.

[2020-03-27 16:06] ThatRickGuy opened #236 "Data mismatch between historical and countries"
https://corona.lmao.ninja/v2/historical/usa shows 1209 deaths as of 3/26.
https://corona.lmao.ninja/countries/usa shows 1295 deaths as of 3/26. This is the number I've seen used in other reports.

[2020-03-27 16:08] EliteDaMyth commented on #236
different sources. /countries - worldometer
/historical - JHU repo

[2020-03-27 16:08] #236 closed

[2020-03-27 16:12] #232 closed

[2020-03-27 16:20] EliteDaMyth commented on #231
its simple to do by getting /countries and mapping it then adding all active. or simply subtract the dead and recovered from total cases.

[2020-03-27 16:20] #231 closed

[2020-03-27 17:15] Nikhil-Wagh commented on #231
No, my point was consistency across all endpoints.

[2020-03-27 17:17] samerawada92 opened #237 "Ability to pull historical World-Data"
It would be sweet if there was an endpoint to pull historical data for the world numbers as well. Something like: https://corona.lmao.ninja/v2/historical/world. :)

[2020-03-27 19:03] Salmandabbakuti opened #238 "Possible Suggestion- Adding Total Deaths on a day to getAll end point"

[2020-03-27 19:48] ebwinters commented on #238
you have to elaborate or the issue gonna get closed

[2020-03-27 20:10] Pcarlo01 opened #240 "Possible Suggestion - todayRecovered"
It would be cool to have a entry todayRecovered on api /countries

[2020-03-27 20:22] #238 closed

[2020-03-27 20:23] ebwinters commented on #240
we used to support this but unfortunately our data source discontinued

[2020-03-27 20:23] #240 closed

[2020-03-27 20:29] GowthamF opened #241 "Not sorted properly"
https://corona.lmao.ninja/countries does not return the data in order.
![image](https://user-images.githubusercontent.com/40605124/77797806-b9ee5b80-7097-11ea-80b8-db339203a884.png)
![image](https://user-images.githubusercontent.com/40605124/77797852-d12d4900-7097-11ea-9c45-4ab5079ac05d.png)

[2020-03-27 20:37] ebwinters commented on #196
I was trying to fix this, but it might have to get put off until John's Hopkins gets it together. The data in the CSV file @Krato linked has length less than the other two CSV files we pull fro, which causes inconsistencies in the data. I think it is best to add this feature once JHU fixes their data source so that we don't have to go back and change our CSV parsing logic when they do finally fix

[2020-03-27 20:37] ebwinters commented on #241
that's why we have a sorting endpoint https://corona.lmao.ninja/countries?sort=cases

[2020-03-27 20:37] #241 closed

[2020-03-27 21:43] absolutelysimon opened #242 "V2 API Returning Incorrect Results"
https://corona.lmao.ninja/v2/historical/USA

At the time of writing this URL returns 1,209 cases in the US today. I think it's returning some US state (province), instead of the sum of the country's cases.

[2020-03-27 21:50] absolutelysimon commented on #242
Nvm that's deaths. I'm an idiot.

[2020-03-27 21:50] #242 closed

[2020-03-27 23:23] Boom-Apps opened #246 "Incorrect country sorting"
With https://corona.lmao.ninja/countries?sort={cases} the sorting is no longer correct.  Italy and the United States have more cases like China, but China still comes first!

[2020-03-28 00:30] nibble-4bits commented on #246
It does work for me if I remove the curly braces from the URL: https://corona.lmao.ninja/countries?sort=cases

[2020-03-28 00:47] ebwinters commented on #246
that's how it is supposed to be. If you would like to improve the documentation, open a PR or an issue to do that

[2020-03-28 00:47] #246 closed

[2020-03-28 03:40] pablocarreraest opened #248 "Ecuador province data"
Hi love your work.

Just have a question:

How can help to add Ecuador province data to your dataset?

For now I have media source (that work with the government that give us that information)

What is the format you need so I can help providing that for my country?

I'm working on Tracker website for only my country. So I end up in this beautiful API you make but our data is incomplete. I can't c

[2020-03-28 05:11] mskian opened #249 "Bug on specific country API (V1)"
it displays the value for `null`
seems id value is missing

[code]

[code]

[2020-03-28 05:35] apollyon600 commented on #249
Not sure how the API fetches the country..
I assume it looks for the country that has an exact match to the JSON file.

[2020-03-28 05:47] mskian commented on #249
it conflicts the `null` empty validations

[2020-03-28 06:55] sorxrob opened #250 "Not an issue. Just want to say thanks."
Hello! Thanks for this API. I've launched a 3D interactive COVID-19 map.

I got inspired by covidvisualizer.com but they have too much ads in their page.

So here it is, https://covid3d.live!

I referenced you in the repo. Thanks!

[2020-03-28 08:53] #250 closed

[2020-03-28 08:53] EliteDaMyth commented on #250
:)

[2020-03-28 08:55] EliteDaMyth commented on #249
It checks for the ID/ Name. diamond princess has an Id of null so it returns this.

[2020-03-28 08:55] #249 closed

[2020-03-28 09:12] gauravnewton opened #251 "Country First and second name"
If a country name is of single word like USA  the get call https://corona.lmao.ninja/v2/historical/USA
working fine, But what if it contains two or more word like Turks and Caicos. Help me in that.

[2020-03-28 09:13] gauravnewton commented on #251
I tried https://corona.lmao.ninja/v2/historical/Turks-and Caicos

[2020-03-28 09:15] gowthamrm commented on #251
Try this, https://corona.lmao.ninja/countries/Turks

[2020-03-28 12:52] innoving opened #254 "Mistake on country name"
Hello,

There is a mistake on this country name : **Coast d'ivoire** .... The right name is **Côte d'ivoire.**
Refence link : https://corona.lmao.ninja/countries
Thanks you advance

[2020-03-28 14:20] buster95 commented on #251
Ok, working on it

[2020-03-28 14:22] buster95 commented on #254
Working on it

[2020-03-28 14:32] chroventer commented on #254
#257

[2020-03-28 14:35] chroventer commented on #254
Fix: #258

[2020-03-28 14:38] buster95 commented on #254
Check my comment on your PR

[2020-03-28 15:23] ebwinters commented on #251
https://corona.lmao.ninja/countries/turks%20and%20caicos

[2020-03-28 15:23] #251 closed

[2020-03-28 15:32] #254 closed

[2020-03-28 15:33] ebwinters commented on #248
https://corona.lmao.ninja/v2/historical/ecuador
https://corona.lmao.ninja/countries/ecuador

[2020-03-28 15:33] #248 closed

[2020-03-28 16:59] pablocarreraest commented on #248
I mean province data for more complete information

like this:

[code]

Im currently working of the missing data.

But if you closed that mean you are not interest or just is no way to added...

[2020-03-28 17:41] geovanipfranca opened #261 "Possible Suggestion - Detailed States of Brazil"
I see some countries is being detailed about states, can reproduce for brazilian cases separated by states too

Thank all team for the api 👍
 It's excelent for my Hackathon project

[2020-03-28 17:57] skynet-bit opened #262 "Searching country"
When searching for oman, Romania is displayed

[2020-03-28 18:53] RajPathare opened #263 "China displayed at the end"
/countries shows china in the end. The api used to retrieve data in decreasing order earlier.

[2020-03-28 18:56] ebwinters commented on #263
then sort it yourself with `?sort=deaths/cases`

[2020-03-28 18:56] #263 closed

[2020-03-28 18:56] ebwinters commented on #262
http://localhost:8081/countries/oman?strict=true

[2020-03-28 18:56] #262 closed

[2020-03-28 19:06] skynet-bit commented on #262
Thanks buddy

[2020-03-28 20:48] Boom-Apps opened #267 "time stamp"
How can I read out the time stamp of the data?

[2020-03-29 00:07] DavidBarbaran opened #269 "Lat and Long return 0 for some items"
Request: https://corona.lmao.ninja/countries

Return lat and long 0 for:
Diamond Princess
MS Zaandam

Is this correct? Thanks :)

[2020-03-29 00:08] Anish-Shobith commented on #269
Diamond Princess is a cruise Ship so probably yes

[2020-03-29 00:42] ebwinters commented on #269
![](https://i.imgur.com/vOsl04l.gif)
the dude is closing this now

[2020-03-29 00:42] #269 closed

[2020-03-29 01:08] #267 closed

[2020-03-29 01:46] SeanCPP opened #270 "v1 state data returning 0 for today's cases and today's deaths"
this just started happening moments ago

[2020-03-29 01:48] benjamin-sommer commented on #270
Not for me. Can you provide a link?

[2020-03-29 01:48] ebwinters commented on #270
it is, but it's worldometers. https://www.worldometers.info/coronavirus/

look at blank cells

[2020-03-29 01:48] #270 closed

[2020-03-29 02:20] ebwinters opened #272 "contrib addition"
@all-contributors please add @benjamin-sommer

[2020-03-29 02:21] ebwinters commented on #272
@all-contributors please add @benjamin-sommer

[2020-03-29 02:22] ebwinters commented on #272
@all-contributors please add @benjamin-sommer bug

[2020-03-29 02:23] #272 closed

[2020-03-29 02:39] stroncis opened #274 "Numbers aren't parsed correctly"
Lines:
https://github.com/NovelCOVID/API/blob/master/funcs/getWorldometers.js#L88
and
https://github.com/NovelCOVID/API/blob/master/funcs/getWorldometers.js#L94

While parsing, _parseFloat()_ strips number on comma and outputs 1, f.e.: `1,529.05` to `1`

Fix:
`parseFloat(casesPerOneMillion)` to `parseFloat(casesPerOneMillion.split(',').join(''))`
and
`parseFloat(deathsPerOneMillion)` to `parseFloa

[2020-03-29 03:14] ebwinters commented on #274
this was fixed, idk what happened - let me make a hotfix

[2020-03-29 03:17] #274 closed

[2020-03-29 03:26] saisk73 opened #276 "Redis-server PORT config"
in config.json the port of redis-server is 6969 instead of 6379.
This is causing error in starting the server.
**[ioredis] Unhandled error event: Error: connect ECONNREFUSED 127.0.0.1:6969**
Please Fix it.

[2020-03-29 03:44] ebwinters commented on #276
Is the error local on your machine

[2020-03-29 04:19] saisk73 commented on #276
The error is on ubuntu server 18.04.
To check whether its on my server i created another server but the error has still occurred.

[2020-03-29 04:22] Anish-Shobith commented on #276
It's because redis server is not running on the port 6969

[2020-03-29 04:23] ebwinters commented on #276
Where are you seeing this error I don’t even understand this issue. The server is running somewhere and it’s up fine

[2020-03-29 04:25] Anish-Shobith commented on #276
They are trying to self host, the default port is 6379 of redis but in the config its mentioned 6969 so it's using that, instead of 6379. They need to change the config to work that's all

[2020-03-29 04:27] ebwinters commented on #276
You wana make a PR for that dude

[2020-03-29 04:28] saisk73 commented on #276
Its when i start the server node server.js.
I installed redis-server in linux the default port its running on is 6379. But in config.example.json redis port is 6969.

[2020-03-29 04:28] saisk73 commented on #276
Yes that's all.😁

[2020-03-29 04:31] ebwinters commented on #276
Ok dude, make the PR and I’ll merge it

[2020-03-29 04:34] saisk73 commented on #276
done 👍

[2020-03-29 05:13] ebwinters commented on #276
I don’t see it

[2020-03-29 05:59] saisk73 commented on #276
Made a PR just now.

[2020-03-29 07:34] ThinkHattke commented on #237
can I work on this @ebwinters ?

[2020-03-29 07:35] ThinkHattke commented on #237
@samerawada92 that link is not working, can you provide a source to scrap from.

[2020-03-29 08:14] meetmrkoushik opened #278 "Data Sorting Problem"
https://corona.lmao.ninja/countries
China countryInfo coming at last position

[2020-03-29 08:20] EliteDaMyth commented on #278
its not an issue? thats how it is on the worldometers table. you can https://corona.lmao.ninja/countries?sort=cases

[2020-03-29 08:20] #278 closed

[2020-03-29 10:33] mlisovyi opened #279 "ISO-code search in historical endpoint"
This is really great API! Thanks for developing it.

The `countries` endpoint now supports the ISO country codes in the search (#229 ). However, the v2 `historical` does not support the same. Would it be possible to add it, as ISO codes are sometimes easier to use?

[2020-03-29 14:08] ianvizarra opened #282 "Add `updated` attribute to all API response"
Right now only `/all` endpoint has this attribute.

[code]

[2020-03-29 14:36] puf17640 commented on #282
Yep, totally what I was thinking yesterday! Please add this 👍

[2020-03-29 16:01] endepointe opened #283 "Accuracy and testing multiple sources"
I am only pulling from this api but I assume that the data is being provided by every participating hospital. Can someone direct me to see how the reports are being collected?

I've been building up a display tool here:
https://github.com/endepointe/ende/blob/master/client/src/components/Covid.js

[2020-03-29 16:09] #276 closed

[2020-03-29 16:10] ebwinters commented on #283
we scrape worldometers and use JHU data for time series

[2020-03-29 16:10] #283 closed

[2020-03-29 16:11] #282 closed

[2020-03-29 16:11] #261 closed

[2020-03-29 16:41] ebwinters opened #285 "Add UK county data"
https://www.arcgis.com/apps/opsdashboard/index.html#/f94c3c90da5b4e9f9a0b19484dd4bb14

Add to countries/uk a `countyData` field, and we can begin building this functionality for others once we have time and sources

[2020-03-29 16:55] ebwinters commented on #196
Upon further inspection, recovered data is only missing all canadian provinces. I can make a PR to add recovered data for all but canadian provinces. 👍

[2020-03-29 17:46] MarkSmit commented on #282
Wouldn't it be more helpful/useful to have the updated attribute actually reflect the last time the numbers of the country was updated? Now the updated attribute is just almost (just a few ms difference) the same for every country.

[2020-03-29 17:52] MarkSmit opened #286 "Updated attribute the same for every country"
Wouldn't it be more helpful/useful to have the updated attribute actually reflect the last time the numbers of the country were updated? Now the updated attribute is just almost (just a few ms difference) the same for every country.

[2020-03-29 18:57] endepointe commented on #283
I saw the readme and the sources being used. I should have specified wanting to know  *who* is inputting this data. This is probably not the correct platform to get the answer I am seeking. thank you for your answer though and keep up the good work!

[2020-03-29 19:12] buster95 commented on #237
I think this endpoint should be
/all/historical

[2020-03-29 19:50] buster95 commented on #286
excellent observation, we haven't information about that by country, we only take server date information, I think should will remove that field for that endpoint is the same for all, has no sense

[2020-03-29 20:15] S1MB10T3 commented on #286
If anything you can update the attribute if the data from an country has changed. Definite a lot more resource intensive.

[2020-03-29 20:21] ebwinters commented on #237
it's already done m8: https://corona.lmao.ninja/v2/historical/all
![](https://media.giphy.com/media/8FSLJapsx4c4Iv2cRF/giphy.gif)

[2020-03-29 20:21] #237 closed

[2020-03-29 21:49] S1MB10T3 opened #288 "Update Readme/Docs for Installation"
Would be a nice idea to add info to the readme about installing the API for yourself for those who want to contribute.

I recommend moving the info from `contrib.md` to the `README.md` or have a link to it in the readme to it. I can make a PR for either or if someone agrees.

[2020-03-29 23:17] prabhathc opened #289 "[Feature Request] API calls for city/county level data"
I see that [time series data](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series), which doesn't have city/county level data, is currently being used to back this API. In order to make retrieving more specific data possible, one could use [daily reports](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_re

[2020-03-29 23:19] O-r-D opened #290 "China is listed at the end of the list"
Thank you so much for this awesome API.

So getting the /countries endpoint returns a list of all countries with cases ordered by the number of total cases for each country.

But China, for some reason, is appearing as the last Entry. And it surely should be in the top 5.

[2020-03-29 23:21] ebwinters commented on #290
hey dude, just sort it https://corona.lmao.ninja/countries?sort=cases

![](https://i.giphy.com/media/TmQt53R5SoLDi/giphy.gif)

[2020-03-29 23:21] #290 closed

[2020-03-29 23:23] ebwinters commented on #288
hey dude, you can make a PR for this.
![](https://media1.giphy.com/media/ZCTZKfNl6ABGdqRCBR/giphy.gif?cid=ecf05e474fcb7f42ca757ccff8d6d4e52eb6afbe8f7efcfb&rid=giphy.gif)

[2020-03-29 23:24] O-r-D commented on #290
Having the ability to sort it solves this indeed.

I just wanted to indicate that something is went wrong, because the list is ordered by cases except for China.

Cheers

[2020-03-29 23:24] ebwinters commented on #286
I don't get it what are you requesting @MarkSmit

[2020-03-29 23:59] S1MB10T3 commented on #288
PR created #291

[2020-03-30 00:55] S1MB10T3 commented on #289
I'm personally working on getting nyc data for my own project. I can make a PR when that's done but it will be only nyc though.

Not sure we're to get aggregate data of multiple cities without compiling a list yourself.

[2020-03-30 01:24] ebwinters commented on #289
We don't need a PR for one city data. We are discussing among owners how we will go about this

[2020-03-30 01:30] #288 closed

[2020-03-30 03:23] ebwinters opened #293 "Refactor formatRecoveredData in historical.js"
I wanted to get this feature working ASAP but the code needs refactoring

[2020-03-30 03:24] #196 closed

[2020-03-30 03:24] #279 closed

[2020-03-30 03:25] ebwinters commented on #286
closin for now

[2020-03-30 03:25] #286 closed

[2020-03-30 03:27] ebwinters opened #294 "Add v2/historical/all recovered"
Now that we added recovered data, add it to all

[2020-03-30 05:22] WinnersProx opened #295 "Allow frontend developers to integrate with real-time support"
I've just seen the way you guys managed to approach getting real-time data. However, when there's a change the users also have use ```setInterval``` to get the incoming data.

I would recommend using [Socket.io](https://socket.io/) to emit events for a better user experience

[2020-03-30 07:21] MarkSmit commented on #286
The updated attribute in `/countries` Is the same for every country. It would be way more useful if it would give the actual time that the numbers of that country have been updated. For example, if Italy has not yet updated their numbers today, the updated attribute could display the time it was updated yesterday. And if Spain has updated its numbers than the updated attribute should reflect the m

[2020-03-30 07:23] EliteDaMyth commented on #286
@MarkSmit the number is the time the data was pulled from worldometers.

[2020-03-30 07:46] MarkSmit commented on #286
@EliteDaMyth yeah, I know. But it should be the actual time that the numbers where updated. If a country has not updated today and the updated attribute says that it was updated 1 minute ago, than that is actually incorrect.

[2020-03-30 08:15] ritik07 commented on #289
Can we get data like stats of every state of the respective country?

[2020-03-30 11:43] obolorhuu opened #296 "Some data is wrong value?"
I remembered that was okey two days ago, but now some data is wrong value. such us
USA's today cases  just 333, but you know that https://www.worldometers.info/coronavirus/ shows +15,000  likewise, todayDeaths is same wrong.

[2020-03-30 11:46] mskian commented on #249
I feel something wrong with this data

[code]
showing `null` for `casesPerOneMillion`

[2020-03-30 11:53] MarkSmit opened #297 "More world data"
Is it possible to also get the `todayCases`, `todayDeaths`, `critical`, `casesPerOneMillion` and `deathsPerOneMillion` on the `/all` endpoint?

[2020-03-30 11:56] MarkSmit commented on #286
@ebwinters could you please reopen this issue? if you need more information, please let me know.

[2020-03-30 12:46] EliteDaMyth commented on #249
nuull is the computer equal of N/A

[2020-03-30 12:48] EliteDaMyth commented on #297
you can get it by adding all values in countries endpoint. already aa to be feature in v2

[2020-03-30 12:48] #297 closed

[2020-03-30 13:12] benjamin-sommer commented on #296
https://www.worldometers.info/coronavirus/ shows data for the world. There are around 16,000 new cases worldwide, not in the USA. If you go to https://www.worldometers.info/coronavirus/country/us, you can see that there have only been 6 new deaths and 333 new cases in the USA. I believe the data being returned from the API is correct.

Could you please check which API route you are calling?

This

[2020-03-30 13:45] EliteDaMyth commented on #296
seems to not be an issue :)

[2020-03-30 13:45] #296 closed

[2020-03-30 13:47] EliteDaMyth commented on #295
An bidirectional communication channel is not necessary for the api. it would be easier for developers to use a setInterval too.

[2020-03-30 13:47] #295 closed

[2020-03-30 13:50] EliteDaMyth commented on #294
done.

[2020-03-30 13:50] #294 closed

[2020-03-30 13:50] EliteDaMyth commented on #285
@ebwinters not needed. arcgis provides an rest api too
`https://services1.arcgis.com/0IrmI40n5ZYxTUrV/arcgis/rest/services/CountyUAs_cases/FeatureServer/0/query?f=json&where=TotalCases%20%3C%3E%200&returnGeometry=false&spatialRel=esriSpatialRelIntersects&outFields=*&orderByFields=TotalCases%20desc&resultOffset=0&resultRecordCount=1000&cacheHint=true`

[2020-03-30 13:50] #285 closed

[2020-03-30 13:51] EliteDaMyth commented on #289
@ritik07 we need good sources for it.

[2020-03-30 15:09] acxz commented on #289
I believe what @prabhathc linked in the OP is a good data source no? The daily reports, example [here](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports/03-28-2020.csv) contain state/county (or 1 administration smaller) data for some countries (where data is available of course). In fact this is the exact data that the JHU map uses.

I'm also a b

[2020-03-30 15:32] ebwinters opened #299 "Add docs for /v2/historical/iso||code and recovered"
Update docs

[2020-03-30 15:34] ebwinters opened #300 "Certain countries are not working with v2 historical"
ex: Kosovo

[2020-03-30 15:47] buster95 commented on #300
Hey @ebwinter are you currently work in this?

[2020-03-30 16:04] ebwinters commented on #300
i'm working on it

[2020-03-30 16:07] #300 closed

[2020-03-30 16:08] ebwinters commented on #293
@benjamin-sommer can you look at this

[2020-03-30 16:08] benjamin-sommer commented on #293
Sure

[2020-03-30 16:09] EliteDaMyth commented on #299
can this and #293 be in one issue?

[2020-03-30 16:12] ebwinters commented on #299
could but I already updated docs on gitbook just now

[2020-03-30 16:12] #299 closed

[2020-03-30 16:17] ebwinters commented on #289
I'll be looking into this today, and hopefully starting a US counties feature
![](https://i.giphy.com/media/1jajO78uBuN8MkxNa4/giphy.gif)

[2020-03-30 19:20] alekspopovic opened #303 "[Feature Request] Adding API call for historical data for multiple countries"
Having an API call that would pull historical data for multiple countries at once would be extremely useful. Something like https://corona.lmao.ninja/v2/historical/usa,italy,france for names as parameters, or https://corona.lmao.ninja/v2/historical/840,380,250 for ids as parameters, or however you choose to implement it.

[2020-03-30 20:25] ebwinters commented on #303
great idea, dude
![](https://i.giphy.com/media/tyxovVLbfZdok/giphy.gif)

[2020-03-30 22:14] ebwinters commented on #293
also add a jsdoc comment above the function :)

[2020-03-30 23:10] oumaabde commented on #303
good  idea

[2020-03-31 02:15] #289 closed

[2020-03-31 05:15] mskian commented on #249
while working on ajax `getParameterByName`
normally if  `null` (Empty) value it shows the error message to the users
but now it shows the record of `Diamond Princess`

[2020-03-31 08:25] OMIsie11 opened #308 "[Feature request] Add simple list of supported countries"
Is it possible that API could offer a list of supported countries?
**Just a list of names or objects with name and iso codes.**
In some use cases current **/countries** endpoint is an overkill when the client only needs basic info about supported countries. Addition described in this proposal would reduce sent data and make things simpler.

[2020-03-31 11:33] tobiu opened #309 "https://corona.lmao.ninja/v2/historical/all => response format"
https://corona.lmao.ninja/v2/historical/:country

response:
[code]

https://corona.lmao.ninja/v2/historical/all

response:
[code]

this is not consistent and it would be nice if this could get changed to:

response:
[code]

the important part is to put the data into the timeline prop.

thx!

[2020-03-31 13:14] fanfaron2004 opened #310 "[Feature Request] Adding API call for historical data for Period"
Having an API call that would pull historical data (all or countries) for a period (start Date/ end Date). Tks a lot.

[2020-03-31 14:31] #308 closed

[2020-03-31 14:41] oumaabde opened #311 "[Feature Request] Adding API call for all statistics data for Numbre countries"
Having an API call that would pull all statistics https://corona.lmao.ninja/all
 add numbre affected countries for exemple
{
  cases: 805377,
  deaths: 39469,
  recovered: 172436,
  updated: 1585665307196,
  active: 593472,
  affected_countries: 190
}

[2020-03-31 15:08] benjamin-sommer commented on #311
https://github.com/NovelCOVID/API/pull/312

[2020-03-31 15:11] benjamin-sommer commented on #311
#312

[2020-03-31 15:34] #311 closed

[2020-03-31 15:35] ebwinters commented on #309
that would be introducing a breaking change for many of the APIs users. I agree it would be nice to have consistency but I don't see a reason to do this right now if it's documented. Just handle it on your end.

[2020-03-31 15:35] #309 closed

[2020-03-31 17:45] #303 closed

[2020-03-31 18:31] AjayrajSingh opened #313 "India data not-updating."

[2020-03-31 18:43] buster95 commented on #310
Hey @ebwinters can I work on this?

[2020-03-31 18:46] ebwinters commented on #310
Sure ting mate

[2020-03-31 19:05] ebwinters commented on #310
This seems like it could get very complex, and isn’t needed by the API since we supply the data and they can filter by date on their end. If the code gets too complex and makes room for regression, id be against this feature.

[2020-03-31 19:13] ebwinters commented on #310
This could definitely create a lot of regression and is easy to do on client side ...😳

[2020-03-31 19:13] AjayrajSingh commented on #313
Even if updating it's delayed by 24-48 hours. Is this is how it functions?

[2020-03-31 19:16] #313 closed

[2020-03-31 19:17] AjayrajSingh commented on #313
Even if updating, It's delayed by 15 - 24 hours.

[2020-03-31 19:25] fanfaron2004 commented on #310
thank you for your response, but I made the request because the client side is limited in memory

[2020-03-31 20:07] ebwinters commented on #310
what do you mean limited memory. This is an API, it aggregates and supplies data. This seems like a very specialized use case, which can be done on the user's end by looping over the data and filtering out dates outside of a certain range.

[2020-03-31 20:12] benjamin-sommer commented on #311
@oumaabde I added `affectedCountries` to https://corona.lmao.ninja/all.

[2020-03-31 20:20] oumaabde commented on #311
Thank you for all support and speed to reply and development

[2020-03-31 20:20] benjamin-sommer commented on #311
No problem!

[2020-03-31 20:37] fanfaron2004 commented on #310
sure, it’s for watch device with 64k memory :-)

[2020-03-31 21:41] fanfaron2004 commented on #310
or may be per month?

[2020-03-31 22:31] #310 closed

[2020-03-31 22:57] akanshgulati opened #314 "Add yesterday data or Delta"
Currently we can only find increase of deaths and total number of cases and with the current API for data, we can not calculate `change in active cases and recovered cases`. So, please add those fields like `todayRecoveredCases` or `todayActiveCases` in current API or share the yesterday data too.

[2020-03-31 23:45] #314 closed

[2020-04-01 03:27] ritik07 commented on #289
Get it from https://www.covid19india.org/

On Mon, Mar 30, 2020, 7:21 PM EliteDaMyth <notifications@github.com> wrote:

[2020-04-01 03:47] gabrielcosi opened #316 "Country "Venezuela, Bolivarian Republic of" on historical V2"
I think it only should be Venezuela

[2020-04-01 04:51] ebwinters commented on #316
make a PR :)

[2020-04-01 07:19] buster95 commented on #316
Solved on #317

[2020-04-01 07:34] #316 closed

[2020-04-01 07:56] ashishiiit01 opened #318 "Not giving the data for Country OMAN."
Request Get : https://corona.lmao.ninja/oman

**Taking Romania instead of Oman**

[2020-04-01 09:16] akanshgulati commented on #314
@ebwinters Please let me if you need help on closing this PR, would love to contribute.

[2020-04-01 09:41] oumaabde commented on #318
You can retrieve by  id waiting for modification of the code
https://corona.lmao.ninja/countries/512

[2020-04-01 11:18] hackerkid opened #319 "Timezone of date not obvious from the documentation of /v2/historical/all"
`https://corona.lmao.ninja/v2/historical/all` returns a list of dates with the corresponding cases. But it's not clear what timezone the date is in. Please clarify in the docs.

[2020-04-01 14:54] ebwinters commented on #318
https://corona.lmao.ninja/oman?strict=true

:)

[2020-04-01 14:55] ebwinters commented on #314
It’s already done and the code is already there, I’m just going to add the endpoint

[2020-04-01 15:23] #318 closed

[2020-04-01 15:31] #319 closed

[2020-04-01 15:46] ebwinters opened #321 "Make v2 API show first on swagger docs"
Right now it is v1 which is mostly deprecated anyways.

[2020-04-01 17:12] #321 closed

[2020-04-01 18:11] MarkSmit opened #325 "add countryInfo for Caribbean Netherlands"
please add the countryInfo of Caribbean Netherlands
id = 535
iso2 = BQ
iso3 = BES

[2020-04-01 18:14] MarkSmit opened #326 "How to access historical data of non-countries"
How can you access the `/v2/historical/` data from for example the Diamond Princess?
I tried `Diamond%20Princess`, `Diamond+Princess` and `Diamond` with no response, while the data exists in the endpoint

[2020-04-01 19:26] buster95 commented on #326
Let me check

[2020-04-01 19:26] buster95 commented on #325
Working on it

[2020-04-01 21:42] rahulotwani opened #329 "State details for India"
Adding state details of Indian states will boost the use of the API

[2020-04-01 22:10] chrisvalmonte opened #330 "/states returns 57 states, not 50"
The API for fetching US state data is returning an array of 57 instead of 50.

https://corona.lmao.ninja/states

[2020-04-01 22:30] #181 closed

[2020-04-01 22:50] #325 closed

[2020-04-01 22:50] #326 closed

[2020-04-02 00:01] ebwinters commented on #330
It's US provinces with states included. If you really are having issues then you can filter our the 7 extras manually.

[2020-04-02 00:01] #330 closed

[2020-04-02 01:01] chrisvalmonte opened #333 "/jhucsse not returning US data anymore"
Data fetched from https://corona.lmao.ninja/jhucsse is no longer returning US data.

Also, two items in the list ("US" and "Canada") have "Recovered" as a province and zero'd out longitude and latitude coordinates:
<img width="598" alt="Screen Shot 2020-04-01 at 5 55 10 PM" src="https://user-images.githubusercontent.com/22405692/78199991-19ef5400-7442-11ea-9391-5993d929a075.png">

[2020-04-02 01:03] chrisvalmonte commented on #333
Also check out your work in action @ www.covid19-confirmed.com. Thanks for the APIs!!!

[2020-04-02 01:07] mayankverr opened #334 "US data gone?"
It was working fine a couple of hours ago but now when I visit [https://corona.lmao.ninja/v2/jhucsse](https://corona.lmao.ninja/v2/jhucsse), I see just one object with the country name US. Is it under maintainence or something?

![Annotation 2020-04-02 062757](https://user-images.githubusercontent.com/54323745/78200180-7470ca80-74ab-11ea-8ba7-a082624b6bfe.jpg)

[2020-04-02 01:45] ebwinters commented on #333
fixed for now, issue on JHU's end. Until then data will be from most recent upload, 3/31

[2020-04-02 01:45] #333 closed

[2020-04-02 01:46] ebwinters commented on #334
see my comment on #333

[2020-04-02 01:46] #334 closed

[2020-04-02 01:48] ebwinters commented on #329
you can give us a data source and we can review it and possibly integrate. Until then, closing issue

[2020-04-02 01:48] #329 closed

[2020-04-02 04:48] mayankverr opened #338 "is it possible to add flags to /v2/jhucsse too?"
I was using [https://corona.lmao.ninja/countries](https://corona.lmao.ninja/countries) which does have flags but then I decided to display data by province so now I'm using [https://corona.lmao.ninja/v2/jhucsse](https://corona.lmao.ninja/v2/jhucsse) and I noticed that there are no flags, can you please add flags to this endpoint too

[2020-04-02 05:03] mayankverr commented on #338
nvm

[2020-04-02 05:03] #338 closed

[2020-04-02 09:55] n-haddag opened #339 "(node:8283) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'split' of undefined"
(node:8283) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'split' of undefined
    at fillResult (/home/nhaddag/API/funcs/getWorldometers.js:96:83)
    at Object.getYesterday (/home/nhaddag/API/funcs/getWorldometers.js:133:17)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
(node:8283) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This e

[2020-04-02 10:21] IlyesBenarroum opened #340 "(node:5921) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'trim' of undefined"
(node:5921) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'trim' of undefined
    at getCellData (/home/iliesbenarroum/Downloads/API-master/funcs/getWorldometers.js:22:8)
    at fillResult (/home/iliesbenarroum/Downloads/API-master/funcs/getWorldometers.js:85:41)
    at Object.getYesterday (/home/iliesbenarroum/Downloads/API-master/funcs/getWorldometers.js:133:17)
    at proces

[2020-04-02 11:54] karokh94 commented on #339
@n-haddag

in API/funcs/getWorldometers.js
change:
`const totalColumns = 11;`
to:
`const totalColumns = 10;`

[2020-04-02 12:01] karokh94 commented on #340
@IlyesBenarroum

in API/funcs/getWorldometers.js
change:
`const totalColumns = 11;`
to:
`const totalColumns = 10;`

[2020-04-02 12:05] bojczmac opened #341 "Missing data from today cases"
Today cases value is 0. Which is not correct comparing it to the source data.

[2020-04-02 12:07] ojengwa commented on #282
Was going to open an issue on this.

[2020-04-02 12:08] akanshgulati commented on #314
@ebwinters Can you please share ETA on this? Building a feature and it dependent on that. Would be a great help if you can provide it.

[2020-04-02 12:26] vasanianil commented on #341
Yup, pls fix asap.

[2020-04-02 12:54] artscripts opened #342 "no update api"
Data is not updated GET Country  "url": "https://corona.lmao.ninja/countries/RU",

old values shown

[2020-04-02 12:56] atifamin opened #343 "Data doesn't match historical and countries wise"
Api total results doesn't match.
https://corona.lmao.ninja//v2/historical
and
https://corona.lmao.ninja/countries

[2020-04-02 13:01] anmn85 commented on #342
Dear admin,

Just to info the data from API not updated.

Thank you

[2020-04-02 13:36] vasanianil commented on #341
Thanks, Fixed

[2020-04-02 13:36] EliteDaMyth commented on #341
https://github.com/NovelCOVID/API/commit/3db3a27924322e7b2a9921fbfeee335e550e7fd4
fixed

[2020-04-02 13:36] #341 closed

[2020-04-02 13:37] EliteDaMyth commented on #343
different sources.

[2020-04-02 13:37] #343 closed

[2020-04-02 13:37] EliteDaMyth commented on #342
https://github.com/NovelCOVID/API/commit/3db3a27924322e7b2a9921fbfeee335e550e7fd4

[2020-04-02 13:37] #342 closed

[2020-04-02 13:37] EliteDaMyth commented on #340
https://github.com/NovelCOVID/API/commit/3db3a27924322e7b2a9921fbfeee335e550e7fd4
fixed

[2020-04-02 13:37] #340 closed

[2020-04-02 13:37] EliteDaMyth commented on #339
https://github.com/NovelCOVID/API/commit/3db3a27924322e7b2a9921fbfeee335e550e7fd4

[2020-04-02 13:37] #339 closed

[2020-04-02 13:40] anmn85 commented on #342
Thank you admin, really appreciate it. May god bless you

[2020-04-02 15:37] #293 closed

[2020-04-02 18:08] colbyfayock opened #345 "Query multiple countries"
I was asked about a use case where someone would like to make a clone of http://my-coronavirus-map.netlify.com/ which uses your API for a specific continent which includes multiple countries. Would it be possible to use the `/countries/{query}` endpoint with a delimited list of country codes?

for instance, if I wanted to look up North America, I would be able to do something like `/countries/us,c

[2020-04-02 18:44] ebwinters commented on #345
we have this ability for the historical endpoint, would be nice to have for countries too

[2020-04-02 18:57] MarkSmit opened #346 "Wrong country names in history data"
Some countries are spelled completely different in `/v2/histoical` than in `/countries`, some examples:
- 'faroe islands' instead of 'Faeroe Islands'
- 'macau' instead of 'Macao'
- 'curacao' instead of 'Curaçao'
- 'st martin' instead of 'Saint Martin'
- 'Congo (Kinshasa)' instead of 'DRC'

[2020-04-02 19:01] MarkSmit opened #347 "Some countries' historical data can't be accessed by iso2"
Countries that can't be accessed by `/v2/historical/{{ ISO2 }}` are for example:
- Brunei (BN)
- Bolivia (BO)
- Belarus (BL)
- Chad (TC)

[2020-04-02 19:02] ebwinters opened #348 "Add historical/countrylist and historical/country/provincelist to docs"
docs are missing
`/v2/historical/usa,china...`
and
`/v2/historical/china/tibet,beijing...`

[2020-04-02 19:03] MarkSmit opened #349 "No capitals in provinces in historical data"
For example "Hong Kong" is displayed as "hong kong".
Also `/v2/historical/CN/Hong%20Kong` doesn't work, `/v2/historical/CN/hong%20kong` does.

[2020-04-02 19:08] MarkSmit opened #350 "some countries shown as provinces in history data"
Some countries are displayed as provinces of a country.
For example, Aruba, Curaçao and Sint Maarten are countries within the kingdom of the Netherlands, but they are displayed as a province of the Netherlands. The numbers of those three countries are also added to the main country info. When you request `/v2/historical/NL` you get the numbers of the country the Netherlands plus the numbers of Aru

[2020-04-02 19:16] MarkSmit commented on #350
These countries also can't be accessed by their ISO2.
For example:
- `/v2/historical/AW` doesn't work (`/v2/historical/NL/AW` neither)
- `/v2/historical/CW` doesn't work (`/v2/historical/NL/CW` neither)
- `/v2/historical/SX` doesn't work (`/v2/historical/NL/SX` neither)

[2020-04-02 19:16] ebwinters commented on #347
right on dude, i'll fix it today

[2020-04-02 19:17] ebwinters commented on #350
I'll fix it today

[2020-04-02 19:28] SteveMHoward opened #351 "Fix "sort by" parameter in NPM package"
I am using the latest version of the NPM package (1.1.2) and was experiencing the same issue that I have seen posted a few times that China was appearing at the bottom of the list, even though I was telling it to sort by cases:
`await this.covid.countries(null, 'cases' );`

Looking through the NPM package, it looks like I needed to explicitly add the sort= in the parameter:
`await this.covid.count

[2020-04-02 19:37] buster95 commented on #347
@ebwinters I can check this

[2020-04-02 19:38] SteveMHoward commented on #351
Closing, I discovered the NPM Github repo. Opening the issue there instead :)

[2020-04-02 19:38] #351 closed

[2020-04-02 19:40] ebwinters commented on #347
Go for it

[2020-04-02 20:01] ebwinters commented on #350
This endpoint works by summing all provinces the country respective country, in this case, the netherlands. The reason `/v2/historical/AW` won't work is because it is a province, not a country. If you want specific data for the provinces within a country, you would use `https://corona.lmao.ninja/v2/historical/nl/aruba`, an you would get the provinces within a country from the `provinces` field ret

[2020-04-02 20:03] ebwinters commented on #350
What i can do is enter a province in each called "mainland", which would be data on the mainland for the country excluding separate provinces. The reason why the data is formatted this way is because countries like china and canada don't have a mainland entry, and instead need to be summed over all their provinces.

[2020-04-02 20:09] buster95 commented on #347
was fixed I gonna open a new PR

[2020-04-02 20:10] buster95 commented on #346
I'm checking this

[2020-04-02 20:19] MarkSmit commented on #347
Taiwan (TW) also doesn't work, the name of Taiwan is also displayed as 'Taiwan*'

[2020-04-02 20:29] geovanipfranca opened #353 "Brazilian states"
I have a link to get some contries from brazilian detailed free but is in PoweBI and i don't know how to extract this data.

**Its on Third page the contries detaile**
https://app.powerbi.com/view?r=eyJrIjoiNWFlMTI0MzctNjZiZS00ODg4LThiNzktNTk4YzYwZDNlZTUwIiwidCI6ImZlZTFiNTA2LTI0YjYtNDQ0YS05MTllLTgzZGY5NDQyZGM1ZCJ9

Thank you for the API

[2020-04-02 20:46] MarkSmit opened #354 "not found province doesn't return 404"
When searching `/v2/historical/US/blabla` it returns a 200 status not a 404 status.
It also gives an `err` instead of `message`, which you will get at `/v2/historical/blabla`

[2020-04-02 21:02] ebwinters commented on #354
github is down

[2020-04-02 21:18] MarkSmit commented on #354
@ebwinters Yes, I know, but that's not the problem. When the province is not found it should also return a 404.

[2020-04-02 21:19] ebwinters commented on #354
Oh yea gotta uniform it. Will re open this issue after my nap

[2020-04-02 22:42] regangra commented on #353
Hi Geovani,

Very interesting, but I found states in the page 3, not counties. Is there any place I can found the counties?

Thanks

[2020-04-02 23:05] geovanipfranca commented on #353
Hi sorry i missed out in translation is the states not countries. But is one thing of another apis haven't implemented yet

[2020-04-02 23:33] chrisvalmonte opened #356 "/jhucsse not returning recovered data for US"
Data fetched from `https://corona.lmao.ninja/jhucsse` has zero'd out "recovered" stat for all items with "US" as the "country"

<img width="494" alt="Screen Shot 2020-04-02 at 4 31 26 PM" src="https://user-images.githubusercontent.com/22405692/78309285-69478a00-74ff-11ea-9db4-886a1f2df473.png">
<img width="1243" alt="Screen Shot 2020-04-02 at 4 29 13 PM" src="https://user-images.githubusercontent.

[2020-04-02 23:35] benjamin-sommer commented on #356
The most likely cause of this issue is that not every city/province provides data on recovered patients. The US-wide figure for recovered cases is not a definitive number, it can only sum all the cities/provinces that have provided the data.

[2020-04-02 23:36] ebwinters commented on #347
@buster95  I need merge access to PR

[2020-04-02 23:38] ebwinters commented on #356
the data source is giving us this data

[2020-04-02 23:38] #356 closed

[2020-04-02 23:46] #346 closed

[2020-04-02 23:46] #347 closed

[2020-04-02 23:52] wxflint opened #359 "Question Countys"
I s there a way to get a "County" by "State" using the script below?

[code]

[2020-04-03 00:08] #354 closed

[2020-04-03 00:09] #359 closed

[2020-04-03 00:10] #353 closed

[2020-04-03 00:58] DonPramis opened #361 "Not updated"
https://google.com/covid19-map/?hl=en

The Above link show the updated statistics

[2020-04-03 01:03] Anish-Shobith commented on #361
Its fetching from the same site from which this API fetches ? if you scroll down it says About this data its fetching from WHO site which is from where this API also fetches the data not sure if you are asking to update to that link which could be a whole rewrite in the API

[2020-04-03 01:15] ebwinters commented on #361
we scrape data on a time schedule do you think we are hitting these sites every request we get? That would be nearly 100,000,000 reqs a day of traffic mate.

[2020-04-03 01:15] #361 closed

[2020-04-03 02:11] #345 closed

[2020-04-03 02:31] #348 closed

[2020-04-03 07:39] MarkSmit opened #365 "provinces with comma unaccessible"
A province is called "bonaire, sint eustatius and saba" in `/v2/historical`, which is the "Caribbean Netherlands" in `/countries` is not accessible because of the comma in the name.
So `/v2/historical/NL/bonaire%2C%20sint%20eustatius%20and%20saba` won't work, `/v2/historical/NL/BX` and `/v2/historical/NL/Caribbean%20Netherlands` neither.

[2020-04-03 07:47] MarkSmit commented on #350
Can the iso2 codes be used then? Will the mainland be accessible via `/v2/historical/NL/NL`?

[2020-04-03 08:12] MarkSmit commented on #326
@buster95 This problem is there again. Diamond Princess and MS Zaandam are inaccessible.

[2020-04-03 08:42] JosVermoesen opened #366 "field 'updated' on https://corona.lmao.ninja/countries"
I hope field updated can give time stamp of the latest changes for given country. Shows now same time in milliseconds from your latest  generating.  Yet, great work you do

[2020-04-03 13:04] nicolapiskov opened #367 "corona.json"

[2020-04-03 14:19] EliteDaMyth commented on #366
it is an EPOCH timestamp. if you are in javascript use
new Date(timestamp)

[2020-04-03 14:19] EliteDaMyth commented on #366
google to learn more about Epoch

[2020-04-03 14:19] #366 closed

[2020-04-03 14:19] #367 closed

[2020-04-03 14:20] EliteDaMyth commented on #365
#350 please merge this issue with that. seems similar. dont clutter up issues section

[2020-04-03 15:09] buster95 commented on #326
@MarkSmit wait for publish on server

[2020-04-03 15:18] ebwinters commented on #350
you access provinces by their full name, which you get from the `provinces` field returned with the historical data. It will be accessed by `/v2/historical/NL/mainland` once I make the PR

[2020-04-03 15:22] buster95 commented on #326
This is on my local I think someone touched the code that I've uploaded
![image](https://user-images.githubusercontent.com/15637669/78377116-7068a980-758c-11ea-9c4a-47b2a4bf5033.png)

[2020-04-03 15:27] ebwinters opened #368 "Deprecate v1/jhucsse"

[2020-04-03 15:57] #350 closed

[2020-04-03 19:42] #368 closed

[2020-04-03 19:59] #349 closed

[2020-04-03 20:02] ebwinters opened #375 "Add sort param to docs for /countries"

[2020-04-03 21:42] ebwinters opened #377 "Add counties to v2/jhucsse docs"
add `/v2/jhucsse/counties/` docs
add `/v2/jhucsse/counties/countyName` docs

[2020-04-03 22:11] puf17640 opened #378 "update the goddamn docs"
as the title says.

will add what to update tomorrow, not in the mood to do it right now.

[2020-04-03 22:57] puf17640 opened #380 "states endpoint doesnt support sorting"
as title says.

[2020-04-03 23:08] benjamin-sommer commented on #380
Working on this right now

[2020-04-03 23:09] puf17640 commented on #380
@benjamin-sommer if youre already working on this, could you also add an endpoint for getting individual states with /states/{state}

[2020-04-03 23:10] benjamin-sommer commented on #380
Sure, I'll take a look.

[2020-04-03 23:14] benjamin-sommer commented on #380
closes #381

[2020-04-03 23:18] #380 closed

[2020-04-03 23:19] benjamin-sommer opened #382 "Add states endpoint sorting"
As title

[2020-04-03 23:49] #375 closed

[2020-04-04 04:35] ianvizarra opened #386 "Add Global Historical API"
Only per country is available in Historical API.

`v2/history` -> display all countries with timelines
`v2/history/:country` -> display one country with timeline

`v2/history/world` -> display sum of all countries timeline per day
[code]

[2020-04-04 04:40] buster95 commented on #386
Hey dude check this https://corona.lmao.ninja/v2/historical/all

[2020-04-04 04:44] buster95 opened #387 "[Documentation] Check endpoints on docs"
![image](https://user-images.githubusercontent.com/15637669/78418756-9d54a500-75fc-11ea-8126-8522418371a8.png)

[2020-04-04 05:35] nibble-4bits commented on #387
Oh that's my bad! Let me fix that

[2020-04-04 05:39] nibble-4bits commented on #387
Turns out you can't describe query parameter as part of the URL:
https://stackoverflow.com/a/30252104

I'll create a pull request fixing this error soon

[2020-04-04 07:45] EliteDaMyth commented on #387
@all-contributors please add @nibble-4bits for docs

[2020-04-04 07:46] #387 closed

[2020-04-04 10:38] Dieknon opened #391 "Fix your stats"
Currently the bot counts "World" as a separate country, thus doubling the numbers. It really shouldn't. There aren't 2260000 confirmed infected.

[2020-04-04 11:37] dariolr opened #392 "iOS Android Web App"
Hi,

I'm using your API, hope it's ok.

Thanks for your work!

[Project](https://github.com/dariolr/Flutter_Covid-19)

[Demo](https://dariolr.github.io/covid-19)

[2020-04-04 13:16] otallu opened #394 "todayCases, todayDeaths and critical in all api"
Hi,

Thank you for this great API!

**Regarding:**
`https://corona.lmao.ninja/all`

Can we please have "**todayCases**", "**todayDeaths**" and "**critical**" values available in all api too?

Thanks
Talal

[2020-04-04 14:05] ustaslive commented on #391
Agree. And it's inconsistent to have 'World' as a country. This approach will make people think that they can request countries "Africa", "Europe", etc and other areas

[2020-04-04 15:15] vBm commented on #391
`World` column is an easy way to populate more data for `all` endpoint and close #394 :)

[2020-04-04 15:18] fanfaron2004 opened #395 "[Feature Request] Adding API call for historical data per Month"
Adding API call for historical data  (all and country) per Month

[2020-04-04 15:40] #392 closed

[2020-04-04 15:45] #378 closed

[2020-04-04 15:46] #386 closed

[2020-04-04 16:16] puf17640 opened #398 "standardize endpoints"
- [x] /yesterday is still returning the world row from worldometers
- [x] /yesterday does not support sorting
- [x] /yesterday/{country} is missing

- [x] /states does not support sorting
- [x] /states/{state} is missing

[2020-04-04 16:18] #391 closed

[2020-04-04 16:18] #394 closed

[2020-04-04 16:32] OmkoBass opened #399 "Province problem"
historical(null, countryName, provinceName) will never return a province.

`fetch(`${this.baseURL}/v2/historical/${country}/${province}`).then(json)`

Check your code.

[2020-04-04 16:46] #377 closed

[2020-04-04 16:47] ebwinters commented on #399
This is the wrong repo. https://github.com/NovelCOVID/node-api is what you're looking for

[2020-04-04 16:47] #399 closed

[2020-04-04 16:55] puf17640 commented on #398
@ebwinters thanks! I will wait for you to fix this issue and then push the updated node api wrapper

[2020-04-04 17:15] puf17640 commented on #398
- /v2/jhucsse/counties/{county} returns an array instead of an object

[2020-04-04 18:28] MarkSmit opened #403 "Add countryInfo for Falkland Islands"
please add the countryInfo for Falkland Islands:
 - id: 238
- iso2: FK
- iso3: FLK

[2020-04-04 18:36] MarkSmit commented on #365
@EliteDaMyth This is a very different issue than #350, and #350 is fixed, so this one should be reopened to get fixed.

[2020-04-04 18:49] buster95 commented on #403
Let me check

[2020-04-04 18:51] ebwinters commented on #365
I agree, it is different enough to be its own issue

[2020-04-04 19:09] ebwinters commented on #395
@buster95 for you

[2020-04-04 19:29] mdudigam opened #405 "States Method for Each country"
Could you please develop and publish a method to get states from each country. Currently there is only one method to get the states specific to USA but not for all the countries.

[2020-04-04 19:34] buster95 commented on #403
you can search for
![image](https://user-images.githubusercontent.com/15637669/78459812-f2ce9780-7678-11ea-925b-07a14de84230.png)
or
![image](https://user-images.githubusercontent.com/15637669/78459816-fe21c300-7678-11ea-9c6c-f2eb56e2de2d.png)

[2020-04-04 20:13] nibble-4bits commented on #398
@ebwinters Could I work on bullets 2 and 3?

[2020-04-04 20:25] ebwinters commented on #398
sure @nibble-4bits  I can do states

[2020-04-04 20:28] nibble-4bits commented on #398
Thanks man, I'll get to work then

[2020-04-04 20:42] MardSilva opened #406 "States of Brasil Data"
There's a way to implement the data of Brazil states? I'm using your API to make a desktop app for COVID-19 and i want to continue using.

[2020-04-04 22:33] MarkSmit opened #408 "Total tests and tests per one million"
https://www.worldometers.info/coronavirus/ added two new columns to the table, Total tests and tests/ 1M pop. Is it possible to make them available in the API?

[2020-04-04 22:44] ebwinters commented on #408
yea, but this is an open source repo. You can make a pull request.

[2020-04-04 23:07] buster95 commented on #395
ok working on it

[2020-04-04 23:13] ebwinters opened #409 "Update docs for historical days, states"
v2/historical # by default 30 days
v2/historical?lastdays=all # all days
v2/historical?lastdays=20 # last 20 days
v2/historical?lastdays=15 # last 15 days

-- also
/states?sort
/states/{state}

Docs need to support this behavior

[2020-04-04 23:16] #403 closed

[2020-04-04 23:16] #395 closed

[2020-04-04 23:16] #405 closed

[2020-04-04 23:17] ebwinters commented on #406
You are looking for a Brazil API; you have to look for that and use it on your own.

[2020-04-04 23:17] #406 closed

[2020-04-05 00:13] mdudigam commented on #405
Hey Ethan, why this issue was closed ? Could you please help me with the method to get all states from each county or India (at least).

[2020-04-05 00:21] benjamin-sommer commented on #408
I'll start work on this

[2020-04-05 00:47] mdudigam opened #411 "New states method for each country"
Could you please develop and publish a method to get states from each country. Currently there is only one method to get the states specific to USA but not for all the countries.

[2020-04-05 01:09] ebwinters commented on #405
don't have data source

[2020-04-05 01:10] ebwinters commented on #411
no we don't have a data source. I closed this issue before, don't re make it

[2020-04-05 01:10] #411 closed

[2020-04-05 01:32] mdudigam commented on #411
there is a data source available for india. 

https://coronaindia.in/india-stats 
would you be able to add an api only for india?

[2020-04-05 01:32] mdudigam commented on #405
there is a data source available for india.

https://coronaindia.in/india-stats

would you be able to add an api only for india?

Thanks,
*Mahesh*

On Sat, Apr 4, 2020 at 8:10 PM Ethan Winters <notifications@github.com>
wrote:

[2020-04-05 02:00] payamazadi opened #414 "Include CSSE new country mapping table"
CSSE is publishing a table that maps their country names to ISO2/3 names, and adds other fields

https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv

We should add a new consumption for this. Should be easy to add in a data fetch for this and throw it into Redis. I can probably submit a PR for this..

[2020-04-05 02:14] nibble-4bits opened #415 "Update /yesterday docs"
Need to update /yesterday docs, since it supports sorting now.

Also, docs for /yesterday/{country} and /yesterday/{country,country,...} are missing.

[2020-04-05 02:18] #398 closed

[2020-04-05 02:18] #415 closed

[2020-04-05 02:27] ebwinters commented on #414
We already support ios2/3 codes in our code base, I don't see a purpose to using theirs when we already have all the info.

[2020-04-05 02:27] #414 closed

[2020-04-05 02:44] ebwinters commented on #365
i'll deal with it tomorrow, unless anyone else wants to make a PR :)

[2020-04-05 02:49] #409 closed

[2020-04-05 02:54] benjamin-sommer commented on #408
https://github.com/NovelCOVID/API/pull/419

[2020-04-05 02:55] #382 closed

[2020-04-05 03:13] ianvizarra commented on #386
Thanks @buster95

[2020-04-05 03:57] Makzoite opened #420 "Canada recovered historical data is missing."
Canada recovered historical data is all 0.

[2020-04-05 04:53] ebwinters commented on #420
This has to do with how we read the recovered file. JHU csv files for cases and deaths do not have a canada row, they only have rows for each Canadian province. The data does not match up and we cannot really do much about it. I can try to make a manual fix for Canada since that is the only country this happens with.

[2020-04-05 05:58] ronenmiller-khealth opened #421 "Get JHU historical data for counties"
TODO
- [x] DOCS
- [x] JSDOC
- [x] ADD TESTS

[2020-04-05 07:36] smilingchemist commented on #398
Would it be possible to add yesterday/all? Thank you!

[2020-04-05 07:40] smilingchemist opened #422 "yesterday/all"
Would it be possible to add yesterday/all? Thank you!

[2020-04-05 09:57] vperminov opened #423 "Serbia recovered historical data is missing."
Serbia recovered historical data always 0 after 3/25/20

[2020-04-05 10:13] puf17640 commented on #422
Will start working on this

[2020-04-05 10:32] puf17640 commented on #423
This is not a problem on our side, this has to do with the JHUCSSE Data
You can check [here](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv)

[2020-04-05 10:36] puf17640 commented on #421
Please refer to the docs.
There is an endpoint for that.
[/v2/jhucsse/counties](https://corona.lmao.ninja/v2/jhucsse/counties)

[2020-04-05 10:39] #423 closed

[2020-04-05 10:46] puf17640 commented on #421
Will start working on this, but the recovered data for US is missing...

[2020-04-05 11:02] puf17640 commented on #422
#424

[2020-04-05 13:59] puf17640 commented on #421
I am working on this today

[2020-04-05 14:00] puf17640 commented on #365
@ebwinters we could exchange the comma seperator by a semicolon or |

[2020-04-05 15:33] #422 closed

[2020-04-05 16:45] #408 closed

[2020-04-05 17:04] mdudigam opened #427 "results showing incorrect value"
All values are returning more than what showing in https://www.worldometers.info/coronavirus/.

total cases is showing more than 40,000.
all countries are showing incorrect values.

Please check this

[2020-04-05 17:09] ebwinters commented on #427
Can you elaborate and write a full sentence so we can fix it

[2020-04-05 18:16] DutchmanNL opened #429 "wat is the purpose of "test" data states in the API"
does it reflect any official value or is it just test data ?

https://github.com/NovelCOVID/API/commit/f40cfab3e8bb3235ccf325c6acc773cfd3dc4def

[2020-04-05 18:21] benjamin-sommer commented on #429
The `test` value shows the total number of covid-19 tests taken globally. It reflects the `Total Tests` column in the table at https://www.worldometers.info/coronavirus/.

[2020-04-05 18:27] smilingchemist opened #430 "yesterday/all showing incorrect data"
Endpoint yesterday/all is showing today's and not yesterday's values.

[2020-04-05 18:37] nibble-4bits commented on #430
That's true, I'll work on fixing this today

[2020-04-05 18:46] ebwinters commented on #430
completely my bad, fixed

[2020-04-05 18:46] #430 closed

[2020-04-05 18:47] #427 closed

[2020-04-05 18:47] #429 closed

[2020-04-05 19:38] DutchmanNL commented on #429
thank you !

[2020-04-05 19:47] ebwinters commented on #365
PR closes this allows you to separate countries by `,` or `|`, but you must choose one. I don't want to deprecate current functionality with the `,`

[2020-04-05 19:47] #365 closed

[2020-04-05 20:33] ebwinters commented on #420
on second thought it's too much work, will wait for JHU to fix on backend
![](https://media3.giphy.com/media/bqalUGFYfyHzW/giphy.gif?cid=ecf05e4720e3a085f61094c6555554e92a7a96434d32bcdd&rid=giphy.gif)

[2020-04-05 20:33] #420 closed

[2020-04-05 21:06] bobby-barber commented on #421
I have a dashboard that is ingesting county data from the now deprecated endpoint: https://corona.lmao.ninja/jhucsse

Is there any way to get that back until you have a new endpoint for county data?

[2020-04-05 21:09] ebwinters commented on #421
we do, check the docs

[2020-04-05 21:10] puf17640 commented on #421
please use https://corona.lmao.ninja/v2/jhucsse/counties

[2020-04-05 21:14] bobby-barber commented on #421
Thank you, gentlemen.

[2020-04-05 22:12] tobiu opened #434 "/v2/historical/{query} lastdays => allWithValue"
the "all" value is nice and in general the ability to set a fixed amount of time makes sense for comparing countries.

when displaying data for just 1 country, it is nice to show all data inside a chart as soon as there is at least 1 case.

i did it like this on the ui side for now (no rocket science included :))
https://github.com/neomjs/neo/commit/bdd2936db04ec9eee8bcee2c9bf15f76bf95f995

exampl

[2020-04-05 22:34] tobiu opened #435 "/countries string encoding changes"
before: "Lao People\'s Democratic Republic"
after: "Lao People"s Democratic Republic"

same for ivory coast (cote d'ivore)

this change can break UIs easily.

did this on the client side for now:
[code]

[2020-04-06 00:53] benjamin-sommer commented on #434
I'll take a look at this

[2020-04-06 01:08] ebwinters commented on #434
This is a very specialized feature and use case. You're already doing it on your end so I see no need.

[2020-04-06 01:08] #434 closed

[2020-04-06 01:19] ahmadawais opened #437 "China sorted wrong"
If you visit https://corona.lmao.ninja/countries China is placed at the bottom for some reason. Shouldn't this be sorted like all others?

[2020-04-06 01:22] #437 closed

[2020-04-06 01:30] #435 closed

[2020-04-06 01:35] puf17640 commented on #435
closed by #438

[2020-04-06 04:07] mdudigam opened #439 "China showing last in the list"
China returned in the last of the JSON data.

      {
      "country": "China",
      "countryInfo":       {
         "_id": 156,
         "iso2": "CN",
         "iso3": "CHN",
         "lat": 35,
         "long": 105,
         "flag": "https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cn.png"
      },
      "updated": 1586145842302,
      "cases": 81708,
      "todayCases": 39,

[2020-04-06 04:08] ebwinters commented on #439
bruh you can sort it if you want read the docs there is a sort param

[2020-04-06 04:08] #439 closed

[2020-04-06 07:26] MuttakinHasib opened #441 "daily summary data ...... ???"

[2020-04-06 07:50] tobiu commented on #434
The benefit to do it would be to reduce the traffic quite a bit: there are
countries with > 50% of empty records in case you send the all param.

Not a high priority item for me.

On Mon, Apr 6, 2020 at 3:08 AM Ethan Winters <notifications@github.com>
wrote:

[2020-04-06 07:54] ahmadawais commented on #437
Are you folks working on it? The issue is closed but not fixed?

[2020-04-06 08:35] nasqar opened #442 "historical data before Mar 7"
Hi,
I am using this great api for a web application, but I noticed the /v2/historical data before Mar 7 is gone.

Any suggestions?

[2020-04-06 11:29] puf17640 commented on #441
I really have no idea what this should even mean. 🤨

[2020-04-06 11:30] puf17640 commented on #442
Please refer to the docs! The /v2/historical endpoint has a new parameter 'lastdays' which controls how many days get returned by the api

https://corona.lmao.ninja/v2/historical?lastdays=40
this retrieves the last 40 days

[2020-04-06 12:33] GarciaFreelancer opened #443 "Countries response"
Why countries endpoint is returning China as the last element?

[2020-04-06 13:10] JonnyHaystack commented on #441
Maybe todayCases and todayDeaths for the daily stats?

[2020-04-06 13:24] #441 closed

[2020-04-06 13:25] EliteDaMyth commented on #443
its not sorted by default. you can use the sort parameter

[2020-04-06 13:25] #443 closed

[2020-04-06 13:25] puf17640 commented on #441
What do you mean? These are already in the response

[2020-04-06 13:25] EliteDaMyth commented on #442
please refer to above comment.

[2020-04-06 13:25] #442 closed

[2020-04-06 13:50] GarciaFreelancer commented on #443
Thank you

[2020-04-06 14:02] puf17640 opened #444 "/all and /yesterday/all cant return tests and testsPerOneMillion because of worldometer"
i will start working on this right now, i will sum all countries tests for tests
testsPerOneMillion will be a bit harder, i will have to calculate population based on every countries tests and testsPerOneMillion values and sum those up to be able to calculate the whole worlds testsPerOneMillion

[2020-04-06 14:11] MarkSmit opened #445 "add countryInfo for Saint Pierre Miquelon and South Sudan"
please add the countryInfo for the following countries:

**Saint Pierre Miquelon**:
- id: 666
- iso2: PM
- iso3: SPM
- possible name is also: "Saint Pierre and Miquelon"

**South Sudan**:
- id: 728
- iso2: SS
- iso3: SSD

[2020-04-06 14:46] MarkSmit opened #446 "affectedCountries is 1 too high"
`/countries` only results in 211 countries, while `/all` gives 212 as `affectedCountries`

[2020-04-06 15:01] nibble-4bits commented on #446
That's right. That's because the `/all` endpoint is still counting the `World` as a country

[2020-04-06 15:01] nibble-4bits commented on #446
Should be an easy fix, I'll work on it

[2020-04-06 15:33] nibble-4bits commented on #445
I've linked a PR resolving this issue

[2020-04-06 15:43] #446 closed

[2020-04-06 15:43] #445 closed

[2020-04-06 16:17] puf17640 commented on #444
i got tests working by doing a sum but i will have to parse worldometer world population for testsPerOneMillion ...

[2020-04-06 17:23] #444 closed

[2020-04-06 22:29] mdudigam commented on #439
I dont find the documentation related to sorting. would you mind share the query to sort based on country. I appreciate your help Ethan.

[2020-04-06 22:47] ebwinters commented on #439
https://corona.lmao.ninja/countries?sort=cases

[2020-04-07 06:26] nleborgne opened #454 "Add to docs when the API is updated"
Requested by @ebwinters, we should add to the documentation how often the API is updated, since it is asked frequently on the Discord server.

[2020-04-07 10:22] go4cas opened #455 "[FEATURE REQUEST] - Add new cases to historical endpoint"
At present the `https://corona.lmao.ninja/historical` endpoint displays the current total cases for that day. It would be great if we could have the new cases per day, as well. Using this, one could plot trends/spikes of new cases over time.

And, thanks for the great API ... busy building a dashboard, and your API is a perfect fit!

[2020-04-07 10:50] benacq opened #456 "Spme coordinates for https://corona.lmao.ninja/countries endpoint isn't much accurate"
I just tested that endpoint and it seems quite a few of the coordinates are not pinpointing the exact location(some end up in the ocean instead of some island).
These are the few i have noticed.

- Maldives
- Seychelles
- French Polynesia
- Fiji
- Chile
and some others.
Personally i think coordinates with integer values are not precise enough for many locations since the accuracy relies more on th

[2020-04-07 11:12] puf17640 commented on #456
The question is, how inaccurate are they and would such accuracy be beneficial to the API?

[2020-04-07 13:07] Krato commented on #456
Maybe we can use some package to get the lat, lng like https://github.com/mambaz/country-js

[2020-04-07 13:12] puf17640 commented on #456
Again, it is surely possible as you just proved but the question is if it is necessary to add another dependency just for that extra accuracy on a value that, I personally havent used yet in my projects

[2020-04-07 13:38] EliteDaMyth commented on #456
it *can* be an issue for the map you are using. also as @Krato you can use an third party package on the client side. we wont be implementing any additional dependencies on the api.

[2020-04-07 13:38] #456 closed

[2020-04-07 14:03] puf17640 commented on #455
I will be working at this in addition to #421

[2020-04-07 15:12] Maarondesigns opened #458 "minor Johns Hopkins Data issues"
Not sure if this is within the control of this api but here are some issues I am trying to solve on my map with the "/v2/jhucsse" endpoint.

1. Recovered data is only for US and Canada and is listed as a separate data point with "Recovered" as the province, which is confusing, and with no latitude or londitude. From what I see the states within US and Canada say recovered: 0. It would be better if

[2020-04-07 15:58] puf17640 commented on #458
Could you please try finding out if it is our problem by checking the official repo ? That would really help alot! 👍
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

[2020-04-07 16:06] ebwinters commented on #458
1. We are only reporting the JHU data as we are getting it. They have really messed up on Canada and the US, so write your programs accordingly. There is no way for us to merge the overall Canada data with its separate provinces.
2. JHU data has no lat long coords for that
3. read the docs. https://corona.lmao.ninja/v2/jhucsse/counties/

[2020-04-07 16:06] #458 closed

[2020-04-07 16:09] ebwinters commented on #455
So actually this can be done on your end, or with https://corona.lmao.ninja/countries/USA (or any country name) using the `todayCases` field

[2020-04-07 16:09] #455 closed

[2020-04-07 16:27] #454 closed

[2020-04-07 19:17] mralexhenry opened #461 "Data / routing issue with GBR and UKR"
Hi,

When making the following request for data for the UK (GBR), in the response it tells me that the country is 'Ukraine'. The stats look like they are for the UK though, so it seems to be an issue with country name tagging.

https://corona.lmao.ninja/v2/historical/GBR/mainland

Cheers

Alex

[2020-04-07 20:30] mllrmnn opened #462 "Data only from 03/08/2020 and no longer from 01/22/2020"
Recently, the historical data, which canfetched data via "https://corona.lmao.ninja/v2/historical", is only available from 03/08/2020 and not as before from 01/22/2020 . Is it possible to get the data again from 01/2/2020 or to get it elsewhere in the same structure?

[2020-04-07 20:32] othaner commented on #462
Yes, you use the parameter "lastdays=X". By default value is 30. You could use "all".

Docs: https://corona.lmao.ninja/docs/#/JHUCSSE/get_v2_historical

[2020-04-07 20:40] mllrmnn commented on #462
Thank you!

[2020-04-07 20:40] #462 closed

[2020-04-07 20:56] buster95 commented on #461
Oh lets me check that

[2020-04-07 21:37] danrleylfd opened #464 "[Feature Request] Get Data By Date"
Feature:
returning a list of all countries and their information according to the specified date.

[2020-04-07 21:44] ebwinters commented on #461
fixing and making PR

[2020-04-07 21:49] #461 closed

[2020-04-08 02:11] ebwinters commented on #464
this is kind of a specialized use case and you can filter on your end. If you are worried about the size of the JSON file being returned, you can query individual countries, or a range of dates to return a smaller file.

[2020-04-08 02:11] #464 closed

[2020-04-08 02:11] ebwinters commented on #421
1. scrape USA csv file in historicalUSA.js
2. iterate over the data by STATE during scraping and store data in historicalUSA using states. This means summing data for all counties of the state to get state totals.
3. Append entries to redis store for historical, where country is USA and province is the state, for example New York.

[2020-04-08 02:55] payamazadi opened #467 "Improve country mapping design?"
Like many, I'm writing my own corona tracker. I'm using https://www.react-simple-maps.io for my maps and this API for data population.

Any geographical data source which does not match the naming convention of JHUCSSE/Worldometers, which most do not, will need a mapping.

In a basic map implementation, you have a list of your countries using canonical names, hopefully tied to ISO2/3 names.

If yo

[2020-04-08 03:14] #467 closed

[2020-04-08 08:06] ronenmiller-khealth commented on #421
How can we get some priority on that? I don't necessarily need the entire history but at least the new daily. Can we meet in the middle here?

[2020-04-08 09:54] puf17640 commented on #421
i am working on it as said

[2020-04-08 15:29] puf17640 commented on #421
since I dont have an understanding of what us counties, provinces or administrations are, ethan is going to work on this from now on to prevent errors in data processing

[2020-04-08 15:31] ebwinters commented on #421
![](https://media2.giphy.com/media/TmQt53R5SoLDi/giphy.gif?cid=ecf05e47951963ce11f7d6272d7aabb19b80f49fd3cfd8cf&rid=giphy.gif)

[2020-04-08 19:06] vlasischar opened #469 "Sorting countries by cases (China)"
The /countries endpoint returns countries sorted by case number, but China is last.

[2020-04-08 19:13] ebwinters commented on #469
read the docs. we support a sort param

[2020-04-08 19:13] #469 closed

[2020-04-08 20:21] ronenmiller-khealth commented on #421
Sorry, saw the 'for later' tag

[2020-04-09 01:04] magicDamo opened #470 "Canada issues in historical data."
Hi there, thanks for all the hard work and useful api. I've noticed 2 issues with canada, they should proablably be separated, however using this endpoint:
'https://corona.lmao.ninja/v2/historical'
1) canada's provninces have no stats for timeline.recovered , even though the data keys are there.

2) this is probably related, but Canada has an entry with a province of 'recovered'

![image](https://

[2020-04-09 01:43] ebwinters commented on #470
yes we know. This is because the recovered entry for canada is only for all of canada, no individual provinces. They offer this data in a row where province is called recovered. I can't think of a viable solution to this, considering there is no province recovery data, so we are leaving it be.

[2020-04-09 01:43] #470 closed

[2020-04-09 03:26] magicDamo commented on #470
Thanks Ethan,
It's unfortunate but ¯\_(ツ)_/¯
what can you do??

damo

[2020-04-09 06:26] ustaslive opened #471 "Not updated: https://corona.lmao.ninja/countries"
Dear admins
https://corona.lmao.ninja/countries return same data for about an hour
Thank you

[2020-04-09 06:27] smilingchemist opened #472 "Endpoints not updating"
The endpoints are not updating as worldometers changed its parameters (All, Europe, North America, ...).

[2020-04-09 07:41] Vickey-Wu opened #473 "why i use nginx to proxy this api always get 502?"
why i use nginx to proxy this api always get 502? anything i do wrong?
[code]

[2020-04-09 08:31] kishan2212 opened #474 "Not Updating Data..."
End point not getting updating....
Last Update was :

UTC Time
Thu Apr 09 2020 05:11:33

[2020-04-09 09:20] #473 closed

[2020-04-09 09:39] keyrwinz commented on #474
worldometers have made some changes to their table

[2020-04-09 10:24] TheWCKD commented on #474
Yup, can confirm the same problem. Worldometers changed the structure of their data.

[2020-04-09 11:33] EliteDaMyth commented on #474
copy of #471

[2020-04-09 11:33] #474 closed

[2020-04-09 11:34] EliteDaMyth commented on #472
copy of #471

[2020-04-09 11:34] #472 closed

[2020-04-09 11:34] EliteDaMyth commented on #471
Being worked on!

[2020-04-09 11:41] Abinash-bapu123 opened #477 "Your API data is not updating"
https://corona.lmao.ninja/all

[2020-04-09 12:19] priyomukul commented on #477
I am also facing this issue, I hope all are facing the same.

can anyone from the team check this issue, please?

[2020-04-09 12:30] puf17640 commented on #477
I have already filed a PR to fix the changes to the worldometer page but it seems this is a problem with the server not the code.

[2020-04-09 12:50] oumaabde commented on #477
now API is updated

[2020-04-09 14:38] #477 closed

[2020-04-09 14:38] #471 closed

[2020-04-09 17:06] #421 closed

[2020-04-09 18:22] ItsHypixel opened #481 "[Feature Request] Yesterday function for states"
https://www.worldometers.info/coronavirus/country/us/
Yesterday data is available for US states but it doesn't list as a function.

[2020-04-09 20:01] ronenmiller-khealth commented on #421
@ebwinters Thanks for this!
How about updating the npm package? Will that get to go?
In addition, I need all the data for all counties, or at least data for a specified time window for all counties. Can we make this possible without limiting to a specific state?

[2020-04-09 20:09] Ovardov opened #482 "China is not updated"
I found wrong values for China. Tests, Tests per one million, cases per one million and deaths per one million are not updated.

[2020-04-09 20:42] Slimani-Ibrahim opened #483 "Unreliable historical timeline in Algeria country"
The dataset of timeline on Algeria is wrong in field of recovered cases, the cumulated number should never be lowered from its predecessors.

 "recovered": {
            "3/10/20": 0,
            "3/11/20": 0,
            "3/12/20": 8,
            "3/13/20": 8,
            "3/14/20": 12,
            "3/15/20": 12,
            "3/16/20": 12,
            "3/17/20": 12,
            "3/18/20": 12,

[2020-04-09 20:57] ebwinters commented on #482
![](https://i.giphy.com/media/3kyqJeHUD9vXzkdeoH/giphy.gif)
check again

[2020-04-09 20:57] #482 closed

[2020-04-09 20:58] ebwinters commented on #483
I agree, but this is a problem on JHU's end. You can open an issue in their repo. https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data

[2020-04-09 20:58] #483 closed

[2020-04-09 21:07] ebwinters commented on #421
no the response size would simply be too big for what we are willing to serve. As for the node package, you can make in issue in their repo

[2020-04-10 06:03] Ovardov commented on #482
![5](https://user-images.githubusercontent.com/45401377/78967112-2f334500-7b0a-11ea-9837-41e3c04a14ec.PNG)

[2020-04-10 08:34] mlisovyi opened #485 "[Feature request] Critical cases in the historical data"
This is a great API! Thanks for maintaining it.

Is there a chance to add time series for the number of critical cases per country on date on the `historical` endpoint?

[2020-04-10 13:09] puf17640 commented on #485
critical cases aren't provided by the jhucsse repository (https://github.com/CSSEGISandData/COVID-19)

[2020-04-10 13:32] ronenmiller-khealth commented on #421
Ok thanks

Ronen Miller
Full Stack Software Engineer
K-health

On Fri, Apr 10, 2020, 00:07 Ethan Winters <notifications@github.com> wrote:

--
Confidentiality Notice: This e-mail message, including any attachments, is 
for the sole use of the intended recipient(s) and may contain confidential
and privileged information or may otherwise be protected by law. Any
unauthorized review, use, disclosure

[2020-04-10 14:53] puf17640 commented on #481
this would be nice to be included into #484

[2020-04-10 14:53] #485 closed

[2020-04-10 16:29] buster95 commented on #481
I can work on this for a next PR

[2020-04-10 21:36] ebwinters opened #486 "Deprecate /all /yesterday /countries /states on 4/16"
This is an issue to remind myself to:
- [x] Move /all /yesterday /countries and /states endpoints to the deprecated functions file
- [x] Update their code to return {"message": "..."}
- [x] Default sort by name in getWorldometers.js (see TODO)
- [x] Update tests
- [ ] Update docs

[2020-04-11 03:30] ebwinters opened #487 "States endpoint v2"
Move states endpoint to v2 base URL. Also merging this with #481 since yesterday data is available for US states but it doesn't list as a function.

- [ ] Update JSDOC
- [ ] Update Docs
- [ ] Write more tests

[2020-04-11 09:12] cenkingunlugu opened #488 "Netherlands - Carribean Netherlands conflict"
When you make a request to: https://corona.lmao.ninja/countries/netherlands

It brings "Carribean Netherlands" info.

Until yesterday this was working.

Now It is broken.

[2020-04-11 09:45] MarvelDC commented on #488
Use `?strict=true`?

[2020-04-11 09:55] cenkingunlugu commented on #488
That is also ok, but this is a behavior change. I have a chrome extension and for adding strict=true i need to send it to review, people will see wrong data until they approve my extension again.

[2020-04-11 14:00] puf17640 opened #490 "add austrian district data"
https://info.gesundheitsministerium.at

will work on this if i find time in the next days

[2020-04-11 14:01] puf17640 commented on #490
although i think this might not be needed anyway, tell me guys.

[2020-04-11 14:30] HashemDeveloper opened #491 "Data is not accurate"
Hi there! The given data seems to be not accurate. The current status of COVID 19 sats total case is 159,937, recovered 13,000 and death is 7,067. However, from this API, the status says confirmed cases 172348, death 7867, recovered 0. This is John Hopkins CSSE Data.

[2020-04-11 15:25] EliteDaMyth commented on #491
our api scrapes the data. you can make an issue on the JHU repo.

[2020-04-11 15:25] #491 closed

[2020-04-11 15:30] EliteDaMyth commented on #490
i dont think its needed you can still work on it personally

[2020-04-11 15:30] #490 closed

[2020-04-11 15:33] EliteDaMyth commented on #488
use strict=true or search by country code (NL)
https://corona.lmao.ninja/countries/NL

[2020-04-11 15:33] #488 closed

[2020-04-11 15:48] danrleylfd opened #492 "Implements Realtime with Socket.IO"
This would help to reduce the number of requests, since there would only be one request. and the answer would only come when there are changes in the data.

[2020-04-11 16:54] #481 closed

[2020-04-11 21:34] renanbastos93 opened #494 "Can I get a country based on my IP?"
I wish to use this API for my Project [Alert COVID-19](https://github.com/renanbastos93/alertcovid19) so I want to improve my filters using this API the @natea123 suggested for my use your API. Even so, I want to improve my filters based on this issue https://github.com/renanbastos93/alertcovid19/issues/11.

[2020-04-11 21:38] ebwinters commented on #494
nah we not doin this. You can instead use https://ipstack.com/ and query our API using `country_code`

[2020-04-11 21:38] #494 closed

[2020-04-11 21:45] renanbastos93 commented on #494
Thanks a lot

[2020-04-12 01:28] puf17640 commented on #492
i really dont see a point in implementing this

[2020-04-12 01:28] puf17640 commented on #492
this is a rest api

[2020-04-12 14:34] ThinkHattke commented on #486
I can work on giving data for India state wise? @ebwinters

[2020-04-12 15:00] puf17640 commented on #486
open an issue about it or just fork the repo, start hacking and then file a PR

[2020-04-12 15:05] EliteDaMyth commented on #492
copy of https://github.com/NovelCOVID/API/issues/295
https://github.com/NovelCOVID/API/issues/295#issuecomment-606009669 look at ths comment do take a look at closed issues before making a new one.

[2020-04-12 15:06] #492 closed

[2020-04-12 20:22] minhtuancn opened #497 "Wrong Lat Long In Vietnam"
Vietnam
Lat 21
Long 105.8

[2020-04-12 21:11] puf17640 commented on #497
fixed

[2020-04-12 22:11] #497 closed

[2020-04-13 00:53] gautam-11 opened #499 "https://corona.lmao.ninja/v2/jhucsse returning incorrect field values."
The response from endpoint https://corona.lmao.ninja/v2/jhucsse is returning incorrect data like a number for country, negative value for updatedAt and date for province.
![covid-api](https://user-images.githubusercontent.com/30733798/79083993-15cf0a80-7d4f-11ea-8553-00314fcace4d.png)

[2020-04-13 00:57] ebwinters commented on #499
ye JHU changed some things, the tests also caught this

[2020-04-13 01:11] ebwinters commented on #499
https://github.com/CSSEGISandData/COVID-19/issues/2144
linked JHU issue

[2020-04-13 01:26] #487 closed

[2020-04-13 01:27] #499 closed

[2020-04-13 01:58] gautam-11 commented on #499
Thanks for the quick fix.

[2020-04-13 03:58] chrisvalmonte opened #501 "/v2/jhucsse returning incorrect data"
It seems there was an update to JHUCSSE's data that's screwing up the /v2/jhucsse API. All of the data is screwed up (see image below)
<img width="583" alt="Screen Shot 2020-04-12 at 8 58 08 PM" src="https://user-images.githubusercontent.com/22405692/79090968-518eb380-7d00-11ea-84bc-a34c49e7ddb8.png">

[2020-04-13 04:00] aamay001 commented on #501
I'm seeing the same results on my App.

[2020-04-13 04:04] ebwinters commented on #501
ye I fixed it again - JHU has now changed the data source twice today, this time bringing it back to its original structure

[2020-04-13 04:04] #501 closed

[2020-04-13 04:09] chrisvalmonte commented on #501
Ty

[2020-04-13 05:11] mmstq opened #504 "null value in recovered field"
I am getting null value in recovered field for country 'UK' only. This was not an issue until this morning.
![Screenshot from 2020-04-13 11-06-22](https://user-images.githubusercontent.com/39179965/79095045-f9df5f00-7d76-11ea-96b1-e28993154093.png)

[2020-04-13 06:03] geekygaurav commented on #504
@mmstq Yes. I am also getting that.
`updated: 1586757344679,
country: "UK"
countryInfo: {_id: 826, iso2: "GB", iso3: "GBR", lat: 54, long: -2, …}
cases: 84279
todayCases: 5288
deaths: 10612
todayDeaths: 737
recovered: null
active: 73323
critical: 1559
casesPerOneMillion: 1241
deathsPerOneMillion: 156
tests: 352974
testsPerOneMillion: 5200`

[2020-04-13 06:04] puf17640 commented on #504
fixing this right now!

[2020-04-13 06:05] geekygaurav commented on #504
@puf17640 That's awesome. Thank you.

[2020-04-13 06:05] puf17640 commented on #504
this is caused by worldometer changing the Total Recovered value for UK to "N/A"

[2020-04-13 06:18] puf17640 opened #506 "adding continent data from worldometer as endpoints"
/europe/all            -> summary
/europe                 -> countries
/europe/austria    -> specific country

Europe
North America
Asia
South America
Africa
Oceania

[2020-04-13 06:18] puf17640 commented on #506
will be starting to work on this in a few hours

[2020-04-13 06:28] #504 closed

[2020-04-13 06:28] ebwinters commented on #506
Perhaps do it as continents endpoint

[2020-04-13 22:55] king-sam-perez opened #509 "Run scrape job on child process to prevent blocking api requests"
Since nodejs is single-threaded, it is better to run the scrape job in a child process so that processing scraped data doesn't block api requests.

The scrape job is located [here](https://github.com/NovelCOVID/API/blob/cb20c04ff40fafbc2684066295619ca2becb5ad3/server.js#L7).

[2020-04-14 00:12] king-sam-perez commented on #509
@puf17640, @sam-perez

[2020-04-14 00:12] king-sam-perez commented on #509
Just realized I created this with the wrong account, will be working on it as @sam-perez

[2020-04-14 00:15] sam-perez commented on #509
whatup. gonna get things set up on my local machine and make sure it all works.

[2020-04-14 00:44] ebwinters commented on #509
nah no child processes. We are looking into a microservices infra tho, so scraper and API separated.

[2020-04-14 00:44] #509 closed

[2020-04-14 13:26] AkashTTN opened #511 "endpoint- /historical/all - query param not filtering data"
Hi, I was looking for global historical data filterable on the basis of days. On going through the documentation I came across this endpoint and it says that it will filter the data according to the lastdays parameter given to it like in the endpoint /historical which unlike the former seems to be working fine. This in turn is responding with the entire data even on specifying the days for which y

[2020-04-14 16:50] ebwinters commented on #511
thanks for reporting this, will fix

[2020-04-14 17:02] #511 closed

[2020-04-15 05:58] CodingOrca opened #514 "Data errer on France cases"
First I would  like to thank you for your great job of providing these data. I have noticed until now only two inconsistencies:
In the cases reported for France by the v2 jhu historical data, the cases on 4/14/20 are falling back with 6256 cases. The cases shall however always grow. From other sources in the internet, it seems that the daily cases where subtracted here instead of being added:
{

[2020-04-15 08:39] puf17640 commented on #514
i am investigating, but we are only serving the data, we do not control what is published by JHU unfortunately

[2020-04-15 10:13] unsingned opened #515 "Data Error on UK Recovery cases"
Thank you for your great job of providing these data, from the last few days the Recovery data on UK is coming as zero. which is not correct.
https://corona.lmao.ninja/Countries/UK
{
  "updated": 1586944975056,
  "country": "UK",
  "countryInfo": {
    "_id": 826,
    "iso2": "GB",
    "iso3": "GBR",
    "lat": 54,
    "long": -2,
    "flag": "https://raw.githubusercontent.com/NovelCOVID/API/maste

[2020-04-15 11:14] puf17640 commented on #515
This is not an error, this is what Worldometers gives us basically.
https://www.worldometers.info/coronavirus/country/uk/

[2020-04-15 11:26] puf17640 commented on #506
can we close this down ? #513

[2020-04-15 12:20] #506 closed

[2020-04-15 12:20] EliteDaMyth commented on #514
^

[2020-04-15 12:20] #514 closed

[2020-04-15 12:21] EliteDaMyth commented on #515
^

[2020-04-15 12:21] #515 closed

[2020-04-15 15:08] ebwinters opened #516 "Swagger documentation v2/continents"
@puf17640 pls do

[2020-04-15 15:44] puf17640 commented on #516
ye will do

[2020-04-16 07:24] ofu997 opened #521 "/states and v2/states including 'USA Total'"
Right now, 'v2/states' as well as '/states' include USA Total. In my experience sometimes 'usa total' is there, sometimes it isn't. Can someone take it out, given that USA information can be accessed at "/countries/usa"?

[2020-04-16 07:51] puf17640 commented on #521
investigating on this

[2020-04-16 07:54] puf17640 commented on #521
and found it!! this bug was introduced by, who would have guessed it, me. 2 days ago when refactoring i took out the splice calls because of how we refactored the other routes, i will fix this and pr instantly!

[2020-04-16 09:38] priyaes opened #523 "Get Only Countries List as Array"
Dear Team,
Is there a way to get only the list of countries from the output using below method in Swagger.

corona.lmao.ninja/Countries .

I need only the list of Affected countries in an array.Below is the swagger definition that I am using
 /countries:
   get:
      summary: Get Coronavirus List of countries
      description: Get Coronavirus List of countries testing
      operationId: getCOVID

[2020-04-16 10:47] puf17640 commented on #523
There is no endpoint to only retrieve country names, but the endpoint you specified (https://corona.lmao.ninja/countries) is deprecated as of today night!
### !please use v2 endpoints only!

https://corona.lmao.ninja/v2/countries -> this will give you an array of all affected countries, which you then can map to the country names

`const countryNames = data.map(country => country.country);`

[2020-04-16 10:56] priyaes commented on #523
Thanks for the update.But do u have any suggestions on how to filter the response using swagger.