[2020-04-16 11:33] puf17640 commented on #523
What are you even trying to do? Swagger is a tool for building API Documentations as far as I know.

[2020-04-16 11:43] priyaes commented on #523
Developing custom JSON file , based on the endpoints to he used in another application

[2020-04-16 11:56] puf17640 commented on #523
okay lmao
I will just copy the returned json, strip out everything that is not countryname and upload the array to a pastebin

[2020-04-16 12:09] priyaes commented on #523
I want this output to b dynamically generated in my application using the endpoints. IS that possible.

[2020-04-16 12:13] puf17640 commented on #523
If you were to tell me which language and framework your application is using, I could try and find a way to help you. Swagger is surely not a programming language and also not a framework to build applications, so I don't even know why you want to use Swagger for this,

[2020-04-16 12:16] priyaes commented on #523
I am building  a custom connector extension  using this endpoint in swagger for Nintex workflow cloud.

[2020-04-16 15:09] #521 closed

[2020-04-16 22:45] #486 closed

[2020-04-16 23:20] SV932 opened #526 "NPM Package not working anymore?"
It shows the below message "Deprecated, use /v2/countries"

[2020-04-16 23:23] ebwinters commented on #526
https://github.com/NovelCOVID/node-api
Make an issue here

[2020-04-16 23:24] #526 closed

[2020-04-17 00:47] puf17640 commented on #516
fuck i forgot, will do asap

[2020-04-17 01:53] colbyfayock opened #528 "Map v1 endpoint to v2"
Is there any chance you all would be willing to maintain the v1 endpoints by redirecting them to v2? In my case, particularly /countries, but if you can map https://corona.lmao.ninja/ > https://corona.lmao.ninja/v2, it would be helpful.

My request is small compared to what you all are doing with this, but I had a fair amount of people work through a tutorial with that endpoint, and I'm guessing a

[2020-04-17 02:00] ebwinters commented on #528
Really cool to see a tutorial using our API 🤠

Actually. A lot of people have asked to do this and I’ve said no because of different data structures. But it is possible to do it for the endpoints we deprecated today and give people slightly more time to adjust, even though this was announced **a week ago**. We are trying to retire v1 of the api, and it’s hard to do that if it is still usable.
Let

[2020-04-17 02:02] colbyfayock commented on #528
Totally understand if not, my fault for not having kept up with the updates. Figured I'd ask though! Thanks either way.

[2020-04-17 03:05] urgentx opened #529 "There haven't been any todayCases or todayDeaths for a few days now on most countries"
Can we make sure it's not the Worldometers API issue, and if it is, maybe consider switching sources?

[2020-04-17 03:55] vikas972 opened #531 "API is giving null responses"
kotlin.KotlinNullPointerException
	at com.vikasmaurya.corona.presenter.MainDashboardPresenter$getData$1.onResponse(MainDashboardPresenter.kt:27)
	at retrofit2.ExecutorCallAdapterFactory$ExecutorCallbackCall$1$1.run(ExecutorCallAdapterFactory.java:70)
	at android.os.Handler.handleCallback(Handler.java:742)
	at android.os.Handler.dispatchMessage(Handler.java:95)
	at android.os.Looper.loop(Looper.jav

[2020-04-17 06:17] akanshgulati opened #532 "Not getting Yesterday Data"
We are getting deprecated errors on API v1 and with v2, no yesterday data is coming
https://corona.lmao.ninja/v2/countries/IN?yesterday=true

[2020-04-17 07:52] puf17640 commented on #529
There is no Worldometers API, check out https://worldometers.info/coronavirus to see that this is not our problem, but theirs. We only scrape their page and deliver all numbers unfortunately.

[2020-04-17 07:52] puf17640 commented on #531
Are you serious?

[2020-04-17 07:55] puf17640 commented on #532
Well that might be because of the v1 endpoints being deprecated as of yesterday.
What do you mean by no yesterday data is coming? Open the link and see yourself.

[2020-04-17 08:03] akanshgulati commented on #532
Okay, I got it by setting the flag `yesterday` to true I am only getting yesterday data..I assumed that it will show me both today and yesterday data.

[2020-04-17 08:09] puf17640 commented on #528
@colbyfayock i understand you but it would be bad practice to map old endpoints to new ones instead of only supporting the new ones, since there is a reason the old ones were deprecated.

the reason for making a new version of endpoints is that the structure and the way you use the api changes so that it would break applications.
we made an announcement that we are going to deprecate and added an

[2020-04-17 08:13] akanshgulati commented on #532
@puf17640 This was handled in much better way with different API for yesterday. Setting a flag for yesterday seems like a add-on we are asking just like you offfer `sort` in flag.

[2020-04-17 08:26] puf17640 commented on #532
well, I agree on that. the yesterday endpoint was better than ?yesterday but I can't really see a problem in that, just use `/v2/countries/COUNTRY?yesterday=true` instead of `/yesterday/COUNTRY`.

if you are using javascript or python, you can also use the api wrappers and not worry about any changes to the api

[2020-04-17 09:13] DannyDainton opened #534 "Update Published Postman Documentation"
Hey,

As the version has now been bumped to V2, would you be able to edit the Postman Collection and republish the documentation again?

https://documenter.getpostman.com/view/8854915/SzS7R6uu?version=latest

We list the API on our https://covid-19-apis.postman.com/ page and I would hate to see people missing out on using the resource :)

Having looked through the Issue again, I see that Kin Lane

[2020-04-17 09:16] puf17640 commented on #534
We already talked about doing this! :+1: @EliteDaMyth created the postman team i think

[2020-04-17 09:19] DannyDainton commented on #534
Cool, there were user asking about the routes on the published collection. They can manually fix the route but I wanted people not to have to do that :)

Great resource, keep up the great work!!

[2020-04-17 09:21] puf17640 commented on #534
Yeah I understand! We will update this as soon as possible!
Thanks so much for the feedback and also for showing our work to the world!

[2020-04-17 09:22] #532 closed

[2020-04-17 09:23] #531 closed

[2020-04-17 09:31] #528 closed

[2020-04-17 09:33] puf17640 commented on #528
@colbyfayock can't you add an annotation to the video that tells people to use /v2/ endpoints? i havent uploaded a video to youtube yet

[2020-04-17 10:07] Noblauch opened #535 "NPM .yesterday() not working"
The .yesterday() function of the NPM Module still runs "https://corona.lmao.ninja/v2/yesterday" which currently returns: "Cannot GET /v2/yesterday"

PS: Overall great work! I'm using the web query since the very beginning and am just switching to the NPM module, because of the discontinuance of v1. Great to see how much attention this API gets! I'm currently running an idle web-game with the data

[2020-04-17 11:02] AjayrajSingh opened #536 "returning null, Error 410. Not working. Maybe its depreciated."

[2020-04-17 11:14] thealiilman commented on #536
Ran into this as well. Here's what the response says.
<img width="391" alt="Screen Shot 2020-04-17 at 19 13 30" src="https://user-images.githubusercontent.com/26957580/79563523-8ffce780-80df-11ea-90aa-6ab383aa5993.png">

[2020-04-17 11:25] colbyfayock commented on #528
@puf17640 totally understand your position :) no problem. biggest bummer though is people who have already created it and wont realize until they go back and see it broken

Fwiw i think the /countries endpoint is identical 🤷‍♂️ i only needed to update the endpoint

WRT the annotations - i think you have to have a certain number of subscribers before being able to do that, but will check and see if

[2020-04-17 12:08] vikas972 commented on #531
Yes, My app is  crashing because it is not able to fetch the data.
Please look into this and fix it.

On Fri, 17 Apr 2020 at 13:23, puf17640 <notifications@github.com> wrote:

[2020-04-17 12:12] puf17640 commented on #531
This is not a problem on our side, but on yours. Fix your code and use up to date endpoints.

[2020-04-17 12:12] puf17640 commented on #535
this is not the repo for the npm package.
https://github.com/novelcovid/node-api

[2020-04-17 12:13] puf17640 commented on #535
also the package hasnt been updated because the maintainers havent done it yet. i have write access to the repo now and will update it with my own code which is currently here: https://github.com/puf17640/covidapi

[2020-04-17 12:15] #535 closed

[2020-04-17 12:17] puf17640 commented on #536
You just have to read.

[2020-04-17 12:17] #536 closed

[2020-04-17 12:19] #529 closed

[2020-04-17 12:27] puf17640 commented on #528
@colbyfayock yeah i feel that, some people will be quite confused :/

yeah /countries and /all endpoint are pretty much the same structure but work a bit different codewise, we wanted to update all endpoints to v2 and not just the ones that changed

crazy to think about it but i will have a discussion with ethan about it, maybe we could really redirect the endpoints that are "the same"

[2020-04-17 12:34] colbyfayock commented on #528
yeah and again - totally understand if not. i appreciate you all considering it though!

[2020-04-17 12:46] vikas972 commented on #531
The app is working well. Suddenly it started behaving like this and keep crashing as I open the App.I googled the Error it is showing it is getting null responses.
Please do check once and fix this.

[2020-04-17 13:03] puf17640 commented on #531
Dude I don't even have to check anything to tell you that you are 100% using the deprecated endpoints. Just read the docs.

[2020-04-17 13:37] #516 closed

[2020-04-17 14:08] Noblauch commented on #535
Whoopsy, didn't realize there was a seperate one. But thanks for picking it up anyways ;)

[2020-04-17 15:44] artemandroid opened #538 "Deprecated api question"
Is it possible to turn on deprecated /countries api till end of weekend?
The problem is that mobile app stores don't review apps on weekends.

[2020-04-17 15:53] puf17640 commented on #538
I am sorry for you but we announced the deprecation a week before it being deprecated, we will not revert changes that have been announced before and merged already.

PS: Did you get your App successfully reviewed before? I heard that no mobile apps regarding covid19 are being reviewed right now.

[2020-04-17 15:54] #538 closed

[2020-04-17 16:01] artemandroid commented on #538
Ok. I see)

Only Google rejects Covid apps. (And Amazon probably)

[2020-04-17 16:02] artemandroid commented on #538
Only Google rejects Covid apps (And Amazon probably)

[2020-04-17 16:52] puf17640 commented on #538
I heard it for Apple tho haha but nice that you got yours to be reviewed

[2020-04-17 20:46] OlukaDenis commented on #531
You may have to migrate to` v2` of the endpoint

[2020-04-17 21:04] puf17640 opened #539 "add countries list to /continents endpoint too (now only on specified continent)"
to have consistent modeling of continent object, could be beneficial to applications using the api

[2020-04-17 21:04] puf17640 commented on #539
will work on this tomorrow (11pm now)

[2020-04-17 21:13] puf17640 commented on #531
he has to update, not migrate. but yes, he should use v2 endpoints

[2020-04-17 21:23] apex2504 opened #540 "[Bug] NYT endpoints give strings rather than integer numbers"
`/v2/nyt/usa`, `/v2/nyt/states`, `/v2/nyt/counties` and all of their respective filters all report strings for `fips` (not applicable for `/v2/nyt/usa`), `cases` and `deaths`.

It would seem more logical and make more sense to cast these to integers/numbers instead of strings.

[2020-04-17 21:34] puf17640 commented on #540
okay im doing it

[2020-04-17 22:13] yogeshgosavi opened #541 "Please keep Version 1 API alive"
Hi i have been using Version 1 API endpoints
For COVID 19 kwgt widgets that are active on many people homescreen
https://youtu.be/BOCVsAXZVfw 6:00
https://twitter.com/Yogesh_gosavi_/status/1240903825684189184?s=19

it would be nice if you would keep those running.

Url shows : This endpoint has been deprecated. Use v2

I'll have to update widgets to use newer API But they'll have to re download ne

[2020-04-17 23:39] ebwinters commented on #540
@puf17640 remember to update docs to reflect the values returned data type

[2020-04-18 00:26] ebwinters commented on #541
It would be bad practice to un-deprecate endpoints, and nobody would end up upgrading. We are making twitter and other forms of communication to ensure this is not an issue again.

[2020-04-18 00:26] #541 closed

[2020-04-18 02:08] shankhadevpadam opened #542 "Data update time is too long."
I have seen on the website data sources update every 10 min but I think it is too long can you possible to make data update every minute.

[2020-04-18 02:13] ebwinters commented on #542
why? What's wrong with a 10 min interval?

[2020-04-18 02:13] #542 closed

[2020-04-18 02:16] shankhadevpadam commented on #542
Because data is not updated after updated in worldmeters its takes 10 min to update.

[2020-04-18 13:16] Sanan4li opened #545 "API not working (April 18, 2010)"
I used the API in my mobile app. It was working perfectly. From last night, its down, I can't get the data from last night.

[2020-04-18 14:23] ba1948 commented on #545
You should probably use Discord channels for better and timely support.

What API are you using and what is the error you're getting?

[2020-04-18 14:27] Sanan4li commented on #545
I used novelcovid npm package for my react native app..
It has been working since it was developed.
From last night, no data has been shown.
My app is in production.

[2020-04-18 14:29] EliteDaMyth commented on #545
@Sanan4li the package was updated did you update it? we moved all endpoints to v2 thats why.

[2020-04-18 14:30] Sanan4li commented on #545
No, my app is in production. I have shared my app to many people.
How I can change it now?

[2020-04-18 14:34] EliteDaMyth commented on #545
We are sorry. we have been announcing the depreceation of v1 endpoints from almost 2 weeks. at this point you'll have to push an update to your app

[2020-04-18 14:40] Sanan4li commented on #545
I am facing problem from the last night. Had no issue before that.
Anyways thanks.

[2020-04-18 14:40] #545 closed

[2020-04-18 16:35] lukehecht opened #546 "Yesterday data not being received"
Using V2, trying to access 'yesterday' data, but it is not being returned despite the yesterday parameter being set to 'true'.

This can also be replicated using the API  test on the documentation page:
https://corona.lmao.ninja/docs/

[2020-04-18 17:08] ebwinters commented on #546
Seems to be working just fine. https://corona.lmao.ninja/v2/countries?yesterday=true&sort=cases

[2020-04-18 17:08] #546 closed

[2020-04-18 18:16] lukehecht commented on #546
Can you tell me the name of the property that denotes yesterday's deaths

[2020-04-18 21:01] ebwinters commented on #546
@lukehecht I can see how this is a little confusing, but it is just `deaths`.

[2020-04-19 03:27] suraj-deshmukh opened #548 "Not getting expected behaviour from '/v2/historical/{query}' this endpoint"
As per the documentation

    number of days you want the data to go back to. Default is 30. Use all for full data set. Ex: 15, all, 24

when used with _'all'_, api should all return all the available data points but thats not happening instead i am getting data till 17th april see below screenshots

![history](https://user-images.githubusercontent.com/14833831/79678675-7fea2280-821b-11ea-9e13-f45

[2020-04-19 06:03] puf17640 commented on #548
I don't know what happened there, check it ou yourself https://corona.lmao.ninja/v2/historical/USA?lastdays=all

[2020-04-19 06:23] ronenmiller-khealth opened #549 "Get JHUCSSE historical data for US states"
I need to get historical data for each US states from JHUCSSE data.
Currently we only get the historical data for counties and countries but not US states.
Thanks in advance

[2020-04-19 08:14] puf17640 commented on #549
https://i-dont-ca.re

[2020-04-19 12:35] EliteDaMyth commented on #549
read the docs 💯
join discord for further help

[2020-04-19 12:35] #549 closed

[2020-04-19 13:23] #548 closed

[2020-04-19 13:37] techiela2 opened #552 "Did these APIs stop working?"
https://corona.lmao.ninja/all
https://corona.lmao.ninja/countries?sort=cases
https://corona.lmao.ninja/states

[2020-04-19 13:40] geekygaurav commented on #552
They moved to version 2.
Just add /v2/
Like /v2/all
Read their documentation

[2020-04-19 13:58] techiela2 commented on #552
Lovely! thanks very much @geekygaurav. They work again. Here's my simple app, feel free to use.

https://medium.com/techiela-net/my-covid-19-tracker-3fc12b002364

[2020-04-19 14:05] geekygaurav commented on #552
That's beautiful! Thanks!

[2020-04-19 15:24] #552 closed

[2020-04-19 16:39] #540 closed

[2020-04-19 18:34] ebwinters opened #554 "Fix header for landing page on mobile"
https://corona.lmao.ninja/ on mobile view has a strange looking header.

[2020-04-19 18:48] YeabkalA opened #555 "World Sum for Recoveries Don't Match"
The sum of all 'recovered' values from https://corona.lmao.ninja/v2/countries don't match with the live global data (https://corona.lmao.ninja/v2/all); cases and deaths match.

[2020-04-19 21:11] puf17640 commented on #555
can you show proof? im really not going to try it out right now im busy as fuck

[2020-04-19 23:08] YeabkalA commented on #555
Yes. Here is a test page.
https://github.com/YeabkalA/COVID_Tracker_Chrome_Extension/blob/master/recovered_test.html

All the script is included within the HTML file.

[2020-04-19 23:17] Tweaker177 opened #557 "Latest version causes immediate safe mode crash."
I had the original version for a long time working great, updated to the first April fools version and that one worked, got the most recent update and it causes an immediate crash. I tried downgrading in Cydia but the last version isn’t showing the correct numbers (it is negative at the moment for USA total cases setting).

Here’s the crash report....
https://pastebin.com/PhHXg748

Thanks!

[2020-04-19 23:28] ebwinters commented on #557
I don't even know what you're talking about. cydia is an ios app, we provide an API service and a node wrapper for the service. Closing for now feel free to keep thread going though

[2020-04-19 23:28] #557 closed

[2020-04-19 23:31] #554 closed

[2020-04-19 23:31] puf17640 commented on #557
lmao

[2020-04-19 23:33] ebwinters commented on #555
not our problem, a slight anomaly within the data source

[2020-04-19 23:33] #555 closed

[2020-04-20 00:32] YeabkalA commented on #555
Sounds good.

[2020-04-20 04:16] EliteDaMyth commented on #539
@puf17640 this is a friendly reminder!

[2020-04-20 04:18] EliteDaMyth commented on #534
@puf17640 I haven't yet created any team or stuff
@DannyDainton how will this go through? I make a team and you can assign the api the team on the page? If there is any existing team I do not own it.

[2020-04-20 04:45] andreascai opened #559 "Add country data in continent detail route"
I'm really grateful about what you all built. I wanna suggest to put every country in that continent data like
`{
name:
tests:
cases:
active:
deaths:
recovered:
todayCases:
todayDeaths:
and so on
`
to the
`/v2/continent/:name` route
It will not be battery efficient when request each country in continent for us.
Cheers all

[2020-04-20 07:57] puf17640 commented on #539
already done just doing linting

[2020-04-20 08:02] EliteDaMyth commented on #559
#539 please look at open issues before making one :)

[2020-04-20 08:02] #559 closed

[2020-04-20 08:10] andreascai commented on #559
I was saying about all data in continent detail route. Not just array of string

[2020-04-20 09:18] DannyDainton commented on #534
@EliteDaMyth  I believe the published template that's currently on the site, was created by @kinlane, as he mentioned in this Issue. https://github.com/NovelCOVID/API/issues/68#issue-585367428

I spoke to @arlemi about this and he's made some changes that would need to be approved by Kin and that will eventually be updated on the site for other users to import.

@arlemi I'm not sure what's the bes

[2020-04-20 09:31] EliteDaMyth commented on #534
@DannyDainton so is there a way to transfer teh ownership of the collection so we can keep it up to date? @kinlane do you want to work together and sort this out?

[2020-04-20 10:07] ronenmiller-khealth commented on #549
Read the docs, perhaps you could give it a try and let me know how you could get historical data for states.

[2020-04-20 10:40] arlemi commented on #534
@EliteDaMyth Oops, didn't realise there was several discussions going on! I've already created a collection that reflects the latest version of the API (unless it's changed since last Friday :D), feel free to import that in your Postman and publish under your name, once that is done we can feature your collection on our page:
https://www.getpostman.com/collections/b52698bc5ef407158f3f

Here's our

[2020-04-20 10:53] EliteDaMyth commented on #534
@arlemi whats your discord?

[2020-04-20 13:02] arlemi commented on #534
@EliteDaMyth `arlemi.postman#3395`

[2020-04-20 15:38] #539 closed

[2020-04-20 16:55] wxflint commented on #549
https://corona.lmao.ninja/docs/#/Default/get_v2_states

[2020-04-20 17:29] artemandroid commented on #549
As I understood question is about cases/death/recovered timeline per state?

There are only timelines for state counties:
like https://corona.lmao.ninja/v2/historical/usacounties/minnesota

[2020-04-20 17:50] ronenmiller-khealth commented on #549
Exactly. So wan hoping to get the accumulated data per state.

[2020-04-20 18:10] artemandroid commented on #549
@puf17640 looks like you misunderstood the issue. Problem in absence of time series per state.

[2020-04-20 21:51] itsamirrezah opened #561 "historical data is not accessable for some countries (self-governing countries)"
I'm considering migrate my app to the API, but I have a little issue with /v2/historical/:country request.
from /v2/countries request I get list of "countries" and their related data but strangely I cant access their historical data with /v2/historical/:country(id,name,iso2,etc).
f.e this result has came from /v2/countries:
{
. . .
    "country": "Isle of Man",
    "countryInfo": {
      "_id": 83

[2020-04-20 21:55] Tweaker177 commented on #557
Sorry Cydia doesn’t have anything to do with it, besides being the package manager used to download an extension that listed this API as the source code. I didn’t look at the code or full Readme, I just followed the link in the settings app listing this as the source code. (Not realizing this was just the API’s source, not the extension’s.)

Obviously crashing iOS’s SpringBoard  isn’t going to be

[2020-04-20 22:21] ebwinters commented on #561
https://corona.lmao.ninja/v2/countries/833 is working fine

[2020-04-20 22:32] itsamirrezah commented on #561
yes but it doesn't have historical timelines. Try https://corona.lmao.ninja/v2/historical/833

[2020-04-20 22:55] markskull opened #562 "Daily New Cases"
Is there a way to show the Daily New Cases as a dataset for Countries via John Hopkins?

[2020-04-20 23:46] ebwinters commented on #561
Because it is a UK province, and it is not listed as its own country in the JHU data set. This anomaly comes from using  multiple sources, so you can filter down the result of `/v2/historical/uk`

[2020-04-20 23:46] #561 closed

[2020-04-20 23:48] ebwinters commented on #562
currently you'd have to use` https://corona.lmao.ninja/v2/historical/armenia`, for example, use `timeline.cases` to calculate differences between each element in succession.

[2020-04-21 03:49] zhongqi1112 commented on #562
I am using `https://corona.lmao.ninja/v2/countries/USA` to get USA `todaycases`, but it looks like the database is updated around 00:00 UTC. Sometimes, the database is updated 30 minutes late and sometimes the database is updated 3 hours late. How can I get `todaycases` by current timezone instead of UTC? For example, I wonder `todaycases` of PDT timezone is. How can know the database is update af

[2020-04-21 07:46] itsamirrezah commented on #561
same problem with these country/provinces:
Ids: 540, 258, 60, 238, 136, 535, 254, ...

[2020-04-21 13:11] lukehecht commented on #546
That can't be right, as the 'deaths' property of the response clearly denotes total deaths, and not yesterday's deaths

[2020-04-21 15:26] ebwinters commented on #562
the `updatedAt` key indicates when we pull the data. You can use that to know exactly when the data is from.

[2020-04-21 15:26] #562 closed

[2020-04-21 17:23] markskull commented on #562
Couldn't that just be put into the data by the team? You're already doing the compiling and you're reporting new cases for the day, wouldn't adding that to the historical table just be a matter of putting that information there?

[2020-04-21 18:38] ebwinters commented on #562
That’s a matter of weather or not we want to add a `newCases` attribute to the timeline. Right now we are just reporting the data as is, so it would be a decision of whether to add our own calculations or keep it strictly the data set JHU has. If it’s something more people want, we will consider, but for now it’s a pretty simple solution on the user’s end

[2020-04-21 18:46] markskull commented on #562
With more places focusing on "Flattening the curve" and people asking if we're doing so and with New York state along with Italy and Germany believing they've done just that, I think the demand may be there.

[2020-04-21 18:51] ebwinters commented on #562
@puf17640 @buster95 @EliteDaMyth what do u guys think about this possible feature

[2020-04-21 19:01] puf17640 commented on #562
To be honest, I'm really split on this...
If we do this we will have to put a message out saying we are adding our own properties which we calculate from the data to be transparent.

The thing is, currently, this API is just serving data. We are not really adding anything besides the flags and shit although we could, we got some issues from people asking for stuff that we then kinda turned down be

[2020-04-21 20:05] buster95 commented on #562
I think it is unnecessary, with the current data you can get the daily new cases, just subtract the daily amount minus the amount from the previous day

[2020-04-21 20:06] puf17640 commented on #562
its literally 1 map call in js

[2020-04-21 20:09] akanshgulati opened #563 "Macao is coming as a country"
Any specific reason to include Macao in the list of countries?
I can see only 195 countries on Wiki while `v2/countries` api returns 212 entries. Could you please explain what is being included in this data.

[2020-04-21 21:19] Nekiono commented on #562
@ebwinters [[Q]](https://github.com/NovelCOVID/API/issues/562#issuecomment-617342128) This issue entails a fundamental concept-change in the API. Surely this is not gonna be taken lightly or discussed in this issue.
We should take some time to discuss and weigh this out between core contributors/reviewers/backers. IMO it's best if we discuss this on the Discord.

From my PoV, there are only two re

[2020-04-22 04:00] ebwinters commented on #563
The countries are coming from worldometers, and some provinces or regions are listed as countries for their data set.

[2020-04-22 04:00] #563 closed

[2020-04-22 05:42] puf17640 opened #569 "Expand testing support"
Testing support for:
- [ ]  advance testing ( maybe even to another instance, not local )

- [ ]  to make the thing above possible -> add a testing/staging environment with own domain

- [ ]  maybe also add stuff so we not only test if what we need is there, but also that we arent sending any properties that we should not

[2020-04-22 05:44] puf17640 commented on #569
probably should go a bit more into detail i just realised,

- [ ]  advance testing ( maybe even to another instance, not local )

- [ ]  to make the thing above possible -> add a testing/staging environment with own domain

- [ ]  maybe also add stuff so we not only test if what we need is there, but also that we arent sending any properties that we should not

[2020-04-22 10:12] chan-dev opened #570 "The result for different endpoints are out of sync"
The result for the endpoints `https://corona.lmao.ninja/v2/all` and `https://corona.lmao.ninja/v2/historical/all` are out of sync.

It seems like the endpoint for getting the aggregated result using `/all` endpoint is ahead and getting updated live while the other is not.

Here's the result as of the *time of this comment* for `/all` endpoint.
[code]

Here's the result as of the *time of this comm

[2020-04-22 10:31] puf17640 commented on #570
they have never been in sync

[2020-04-22 10:32] puf17640 commented on #570
/countries endpoints data is fetched from worldometers.info
/historical endpoints data is fetched from JHU repository

[2020-04-22 10:32] #570 closed

[2020-04-22 14:06] coolplugins opened #572 "Cloudflare blocking API Requests"
Hi there,
Thanks for creating an awesome COVID-19 Data API.

We are regularly facing this error while try to access the API endpoint.
Could you please update Cloudflare rules.
https://community.cloudflare.com/t/community-tip-fixing-error-1020-access-denied/66439

Here is the error message:-

[2020-04-22 14:19] EliteDaMyth commented on #572
we are sorry. some people are trying to launch a DDoS attack which is strssing our server. to prevent this we put some security checks in place. you can dm me on discord for more information

[2020-04-22 14:19] #572 closed

[2020-04-22 14:20] jasmeetsinghbhatia opened #573 "Historical Recovered cases return 0s for last 14 days and newer"
API URL used  [last 7 days](https://corona.lmao.ninja/v2/historical/all?lastdays=7)

The number of recovered cases shows 0s.
This works for lastdays >=15.

[2020-04-22 14:30] mo3aser opened #574 "403 Forbidden"
Hi,

Thanks for great efforts,

Today we got this response when we are trying to access the API

 ["errors"]=> array(1) { [403]=> array(1) { [0]=> string(9) "Forbidden" } } ["error_data"]=> array(1) { [403]=> array(3) { ["response_code"]=> int(403) ["response_cf_ray"]=> string(20) "588008fabadf16f2-FRA" ["response_server"]=> string(10) "cloudflare" }

Best regards

[2020-04-22 14:34] EliteDaMyth commented on #574
https://github.com/NovelCOVID/API/issues/572

[2020-04-22 14:34] EliteDaMyth commented on #574
https://github.com/NovelCOVID/API/issues/572#issuecomment-617808029

[2020-04-22 14:41] LuXDAmore opened #575 "Error: invalid json response body at https://disease.sh/v2/historical/Brazil reason: Unexpected token < in JSON at position 0"
**Belgium is going well:**
_https://disease.sh/v2/historical/Belgium_
Response header: `content-type: application/json; charset=utf-8`

**Brazil is throwing this error:**
_https://disease.sh/v2/historical/Brazil_
Response header: `content-type: text/html; charset=utf-8`

[2020-04-22 14:48] EliteDaMyth commented on #575
@LuXDAmore does it not load in the browser for you?

[2020-04-22 14:50] Nekiono commented on #575
This is likely due to us currently being under a DDoS attack. Please limit the number of requests you're doing in order to avoid this from happening.
On a side note - [this works just fine for me](https://i-love.pink/YksUVdeK.png).

[2020-04-22 14:50] #575 closed

[2020-04-22 14:52] #574 closed

[2020-04-22 14:53] puf17640 commented on #573
[code]

[2020-04-22 15:02] LuXDAmore commented on #575
How many request/second can i send?

I'm getting this error after the update of the library and in the previous version i'm just getting the data for all the countries with a `countries.forEach => covid.historical( null, country )`

How can i achieve the same results with the updated api?

[2020-04-22 15:04] EliteDaMyth commented on #575
@LuXDAmore look at the readme of the updated npm package https://www.npmjs.com/package/novelcovid

[2020-04-22 15:25] LuXDAmore commented on #575
I've read it and i'm using this one `.historical(null, 'country name');`, but doing this for every country throw me this error..

Maybe it's the limit of request, so How many request/second can i send?

[2020-04-22 15:41] jasmeetsinghbhatia commented on #573
This is working fine now. Closing the issue.

[2020-04-22 15:41] #573 closed

[2020-04-22 15:45] Nekiono commented on #575
From our rate limit config, you can send 1 r/s with a burst of 10 at once before getting put into a lower priority queue. Though, this should barely affect you at all.

[2020-04-22 15:51] ebwinters commented on #573
thanks for bringing this to our attention @jasmeetsinghbhatia. We had to purge the cloudflare cache

[2020-04-22 17:19] DonPramis opened #577 "Case numbers"
If you compare to google statistics https://news.google.com/covid19/map?hl=en-US&gl=US&ceid=US:en

E.g China not the same

[2020-04-22 17:25] puf17640 commented on #577
Source: Wikipedia

[2020-04-22 17:25] #577 closed

[2020-04-22 19:12] khubbaib opened #578 "Attention Required! | Cloudflare"
When call to API i got Cloudflare Error and no data received

[2020-04-22 19:22] ebwinters commented on #578
This makes absolutely 0 sense. Why don't you explain the issue using words.

[2020-04-22 19:23] khubbaib commented on #578
I got this response when calling the API instead of getting data..

[2020-04-22 19:41] ebwinters commented on #578
what was the call

[2020-04-22 19:43] khubbaib commented on #578
https://corona.lmao.ninja/v2/countries and all other endpoints blocking the IP

[2020-04-22 19:47] khubbaib commented on #578
Other people also face same issue and one of the contributor said

we are sorry. some people are trying to launch a DDoS attack which is strssing our server. to prevent this we put some security checks in place. you can dm me on discord for more information

How i can dm on discord?

[2020-04-22 20:05] ebwinters commented on #578
@khubbaib  Ethan Winters#6305 is my tag

[2020-04-22 20:31] #578 closed

[2020-04-22 22:43] gmagno opened #580 "Qatar flag aspect ratio does not seem right"
Take a look: https://github.com/NovelCOVID/API/blob/master/public/assets/img/flags/qa.png
Compare with: https://en.wikipedia.org/wiki/Flag_of_Qatar#/media/File:Flag_of_Qatar.svg

Is it okay from a license point of view to just grab wikipedia one and export the png?

[2020-04-22 22:56] OlukaDenis opened #581 "Landing page join our API Newsletter not working"
I have checked the newsletter submission for both https://corona.lmao.ninja/ and https://disease.sh/, the newsletter submission isn't working.
Watch this [video](https://www.loom.com/share/3398ea027b2a4307bb4fabc01a122799) I recorded the response.
Thanks

[2020-04-22 23:08] gmagno commented on #580
It should be fixed with this PR #582

[2020-04-23 00:58] ebwinters commented on #581
ok weird. go to it now, in a new session, and try again

[2020-04-23 00:58] #580 closed

[2020-04-23 07:08] puf17640 commented on #581
looking at this
any console error?

[2020-04-23 07:09] puf17640 commented on #581
![image](https://user-images.githubusercontent.com/17516174/80069732-27c85e80-8542-11ea-9f9b-26e15868c0f6.png)

[2020-04-23 07:14] EliteDaMyth commented on #581
Seems like an csrf token issue
[code]

[2020-04-23 07:24] puf17640 commented on #581
yeah but it works for me now... can you all try too?

[2020-04-23 07:24] puf17640 commented on #569
i kinda liked my title, but yeah, expand testing suite

[2020-04-23 08:53] LuXDAmore commented on #575
@Nekiono This is the code generating the error:

[code]

Any advice?

[2020-04-23 09:03] OlukaDenis commented on #581
Great it works now.
![Screenshot from 2020-04-23 12-00-37](https://user-images.githubusercontent.com/37341054/80080338-260a9500-855a-11ea-885f-041110c560df.png)

But one more thing, I think it would be perfect to clear up the input text when it is a success. How do you think?

[2020-04-23 09:04] EliteDaMyth commented on #581
@OlukaDenis you can open a pull request maybe? also if further help is not needed please close this issue :)

[2020-04-23 09:05] OlukaDenis commented on #581
Okay lemme jump to it

[2020-04-23 09:07] #581 closed

[2020-04-23 18:28] croxydad opened #586 "I got an error"
FetchError: invalid json response body at https://disease.sh/v2/countries/tr reason: Unexpected token < in JSON at position 0

how can i fix this?

[2020-04-23 18:55] drewpayment commented on #586
Sounds like a parsing error with your HTTP library.

Does your HTTP response headers including JSON?

(This is probably a better question for SO, because you should see the response from the API is working as expected when you click the URL in your post.)

[2020-04-23 19:47] puf17640 commented on #586
(wild guess) the problem here is probably that @croxydad did not await an async call using a library to get the json response and actually tried to JSON.parse() a Promise instead of the json string returned if you await the Promise

[2020-04-23 21:44] ebwinters commented on #534
@arlemi is there any way we can fix this kind ASAP

[2020-04-23 21:44] #586 closed

[2020-04-24 04:12] ebwinters opened #587 "Canada Scraper"
__Link__: https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection.html#a1
__General Data Available__: cases, probable cases, deaths
__State Data Available__: cases, probable cases, deaths

[2020-04-24 04:13] #587 closed

[2020-04-24 12:14] arlemi commented on #534
@ebwinters This will be fixed as soon as https://github.com/postmanlabs/covid-19-apis/pull/252 is merged, hopefully later today!

[2020-04-24 15:21] EliteDaMyth commented on #534
:) lmk if that gets merged and ill close

[2020-04-24 15:25] Roguevashda opened #590 "Documentation Error"
On the documentation [(link)](https://disease.sh/docs/) upon clicking on the GET section for /v2/continents this error is emitted at the top of the page: ![/v2/continents error](https://i.imgur.com/FAp0w8S.png)

[2020-04-24 15:38] EliteDaMyth commented on #590
@Roguevashda can you try to reproducs this now? please check console too

[2020-04-24 15:42] Roguevashda commented on #590
@EliteDaMyth Same message, nothing in the console

[2020-04-24 16:08] #590 closed

[2020-04-24 16:08] ebwinters commented on #590
should be all good now, reply back if not

[2020-04-25 06:50] skavinvarnan opened #594 "Error fetching"
JHU File not found at this URL https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-24-2020.csv

This happens because CSV is not generated yet for that day. Can this error be handled more gracefully?

Error
[code]

[2020-04-25 07:01] puf17640 commented on #594
it could be handled more gracefully, yes

i will make it return after logging the error

[2020-04-25 16:08] #594 closed

[2020-04-26 17:11] ebwinters opened #602 "Docker"
- [x] Change workflow publish file to run on master
  -  [x]  `if: github.repository != 'NovelCOVID/API'` to `if: github.repository == 'NovelCOVID/API'`
  -  [x]   push: `branches: [master, docker-dev]` to `branches: [master]`
  -  [x]   pull_request: `braches: [master]` to removed
-  [x]  Instructions for usage
-  [x]  Test entire workflow as it would be on server
-  [x]  New branch on push to `p

[2020-04-26 17:43] omergal99 opened #603 ""country": "UK" - recovered is null"
"country": "UK" (& "country": "Netherlands")
{
    "country": "UK",
    "cases": 148377,
    "todayCases": 0,
    "deaths": 20319,
    "todayDeaths": 0,
    "recovered": null,
    "active": 127714,
    "critical": 1559,
    "casesPerOneMillion": 2186,
    "deathsPerOneMillion": 299,
    "totalTests": 640792,
    "testsPerOneMillion": 9439
  }

[2020-04-26 18:28] puf17640 commented on #603
Would you mind explaining what endpoint you are using... ?

[2020-04-26 18:28] puf17640 commented on #603
The API does not return null.
https://corona.lmao.ninja/v2/countries/UK

[2020-04-26 18:30] puf17640 commented on #569
this be due soon

[2020-04-26 19:31] #603 closed

[2020-04-26 23:42] Tetracyl opened #605 "No Results for Laos In /countries Endpoint"
There seems to be no results for Laos in the /countries endpoint. I checked on the worldometers website and it says the country has 19 cases:
![image](https://user-images.githubusercontent.com/29833473/80322872-a7715a00-87dc-11ea-90c1-976ec74ee7f9.png)

However, when I tried to search for it in the API, I couldn't find any results:
![image](https://user-images.githubusercontent.com/29833473/803228

[2020-04-26 23:43] Tetracyl commented on #605
Nevermind! I managed to find the country, it was labeled as:

[2020-04-26 23:43] #605 closed

[2020-04-27 05:41] tandduong opened #607 "Hi. There is Error from the website: Connection Timed Out"
Error 522 Ray ID: 58a633d51b59c1a2 • 2020-04-27 05:39:51 UTC

[2020-04-27 05:44] EliteDaMyth commented on #607
Seems like an cloudflare error.

[2020-04-27 05:48] tandduong commented on #607
Are you getting the same like me?

[2020-04-27 05:49] EliteDaMyth commented on #607
It's different in different regions. We cannot change anything. And to answer your question yes I am getting the same error but the backend seems to be fine

[2020-04-27 05:53] tandduong commented on #607
OK my backend works fine now. It seems to be broken few minutes ago. I have this API for my project that will be represented to my prof as final exam. The error got me panic really. Thanks for your help.

[2020-04-27 05:55] #607 closed

[2020-04-27 05:55] EliteDaMyth commented on #607
No worries 👍 hope you get a good grade @tandduong

[2020-04-27 06:04] puf17640 commented on #602
@ebwinters  1 should be done right?, i can do the readme updating

[2020-04-27 06:07] ebwinters commented on #602
Sure update readme. Don’t touch the action stuff tho until ravy is awake so we can coordinate

[2020-04-27 06:41] puf17640 commented on #607
we are working hard to keep it up, but we cannot change the way services we use work unfortunately 😞anyways, the problem was on cloudflare not on us, hope you get a good grade man :)

[2020-04-27 15:34] omergal99 commented on #603
it return 0 in the recovered

[2020-04-27 15:36] EliteDaMyth commented on #603
@omergal99 worldometers doesnt have data for that

[2020-04-27 15:46] puf17640 commented on #603
yeah also that but the API literally can't return null for it, I implemented the 0 -> null thing myself iirc

[2020-04-27 18:33] arlemi commented on #534
Aaaand it's merged! 🐌

[2020-04-27 18:37] kinlane commented on #534
Boom! Thank y'all.

[2020-04-27 20:00] puf17640 commented on #534
Awesome!

[2020-04-27 20:00] #534 closed

[2020-04-28 01:19] souravp712 opened #610 "Number params countries"
The number params in /v2/countries are both returning todays data, but the boolean params are working fine and returning yesterdays correct data.

Yesterday = false image
![image](https://user-images.githubusercontent.com/30350506/80436186-93a52100-88cc-11ea-9c4c-41e23813ee1d.png)

Yesterday = true image

![image](https://user-images.githubusercontent.com/30350506/80436226-ac153b80-88cc-11ea-8ea6-

[2020-04-28 02:32] ebwinters commented on #610
worldometers is reflecting same cases for yesterday and today...weird. Will monitor this over the next day to see if they update and we match it

[2020-04-28 14:18] souravp712 commented on #610
I will close the issue if the bug stays fixed. I believe the data is showing up correctly for the time being. The problem may have been the fact that they were updating at different times, and showing false data as a result.

[2020-04-28 15:17] #610 closed

[2020-04-29 00:19] colbyfayock opened #613 "COVID-19 Testing Sites"
I saw [this article on the Verge](https://www.theverge.com/2020/4/28/21240546/apple-maps-covid-19-testing-sites-mobility-trends) about Apple Maps including testing site locations - I was wondering if that's something that's accessible that you all might consider being able to provide as part of the API?

I'm not sure how that fits in with the other endpoints as they're mostly statistics, but I'm i

[2020-04-29 08:38] LuXDAmore commented on #575
I don't think what i've done it's wrong, any suggestion?

[2020-04-29 09:39] Nekiono commented on #575
well, you send 200 requests at once; of course, our DDoS protection is going to pick up on that.

[2020-04-29 10:21] puf17640 commented on #613
I don't really think it would fit into the current stage of the API, but good idea.

@ebwinters ? @buster95  ?

[2020-04-29 10:28] LuXDAmore commented on #575
How can i get all historical data for statistics purpose?
I should delay some calls?

[2020-04-29 17:05] ebwinters commented on #613
I like the idea, but I don't see a publicly available API we can pull from to get these location

[2020-04-29 17:06] ebwinters commented on #613
https://www.apple.com/covid19/mobility this could be cool data tho

[2020-04-29 18:48] puf17640 commented on #575
@LuXDAmore please try calling in batches of like 5 countries, then wait 1-2 seconds and then go for another 5, that should work out, you can test out how much you can do more from there then.

as @Nekiono said,

[2020-04-29 20:38] skavinvarnan opened #616 "Graphql API's"
I have created Graphql api's using this repo. Please take a look at the document here https://github.com/COVID19-SARS-CoV-2/web-covid-api/blob/master/README.md

Let me know if this can be added to readme.

#### Notes
1. Data is scraped every 10 mins for JHU and worldometer and every 1 hour for NYT
2. The current server can handle a load of 1000 requests second. In theory the server can handle 840m

[2020-04-29 21:08] #613 closed

[2020-04-29 21:08] #602 closed

[2020-04-29 21:09] ebwinters commented on #616
no but you can add it to the awesome-novelcovid readme as before :)

[2020-04-29 21:09] #616 closed

[2020-04-30 04:18] #569 closed

[2020-04-30 06:42] puf17640 commented on #569
@ebwinters explain hahaha

[2020-04-30 08:18] HarshavardhanK opened #620 "Adding APIs for Indian state-wise COVID19 cases"
Data obtained from www.covid19india.org.

[2020-04-30 08:26] puf17640 commented on #620
@ebwinters - should we consider adding data from india?
the structure is quite weird but it surely is doable, if you want, let's talk about this on the hangout today.
["API Docs"](https://api.covid19india.org)

@HarshavardhanK thanks for suggesting

[2020-04-30 08:27] puf17640 commented on #620
I just realised we already plan to add official data from india using this ressource https://www.mohfw.gov.in/

thanks anyway!

[2020-04-30 08:27] #620 closed

[2020-04-30 14:02] HarshavardhanK commented on #620
Hey! The update frequency is once in 24hrs so I thought the data from www.covid19india.org would be good since it updates faster than the official ministry site

[2020-04-30 16:34] TheWCKD opened #621 "API is down (502 Bad Gateway)"
![image](https://user-images.githubusercontent.com/37099416/80735638-a95b5600-8b19-11ea-9ca0-38e3ee5ffb9f.png)

[2020-04-30 16:38] buster95 commented on #621
both urls??
https://disease.sh
https://corona.lmao.ninja

[2020-04-30 16:38] #621 closed

[2020-04-30 16:39] puf17640 commented on #621
We are already working on it!

[2020-05-01 14:26] Giancarl021 opened #626 "CORS error on fetch API"
I'm getting a CORS blocking error using the fetch API.

![image](https://user-images.githubusercontent.com/44367174/80812503-7effac00-8b9e-11ea-8e43-9094dc20381f.png)

[2020-05-01 14:34] puf17640 commented on #626
Has this been happening before or has this started just like 40 minutes ago?

[2020-05-01 14:37] Giancarl021 commented on #626
Another person notified me ~50 minutes ago.

[2020-05-01 14:42] puf17640 commented on #626
Okay, we are currently in the means of redirecting the old domains (corona.lmao.ninja and api.caw.sh) to the new main domain https://disease.sh because we got free business plan on this domain from cloudflare, this will improve stability enormously

 I am sorry this is happening, I am trying to revert the last changes that might have caused this!!

### THIS DOES NOT MEAN THE OTHER DOMAINS GET DEPR

[2020-05-01 14:47] Giancarl021 commented on #626
Okay, thak you for the support, I should add that in Postman the requests are working (sorry I forget to add in the issue).

The new domain worked. Thank you!

[2020-05-01 14:51] Slimani-Ibrahim opened #627 "Access blocked by CORS policy"
Access to XMLHttpRequest at 'https://corona.lmao.ninja/v2/' from origin has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2020-05-01 15:00] #626 closed

[2020-05-01 15:32] ebwinters commented on #627
This is fixed. If you are still having issues reopen the issue.

[2020-05-01 15:32] #627 closed

[2020-05-01 19:04] puf17640 commented on #626
to the postman thing: yeah the CORS issue only happens when you try to request our resources from the client-side (the javascript on your website).

[2020-05-04 12:46] jpjpjp28 opened #635 "[Feature Request] Add Todays Recovered, Fatality and Recovery Rate"
Hi! Is it possible to add todaysRecovered, fatalityRate and recoveryRate in `(https://corona.lmao.ninja/v2/countries/{country})` endpoint?

[2020-05-04 13:31] puf17640 commented on #635
It is possible yes, but we only serve the data that is provided to us by our sources. We do not plan on adding additional properties to our data.

You can calculate these yourself though, if you need help on that please join our Discord support server.

[2020-05-04 13:31] #635 closed

[2020-05-05 12:06] waleedocp opened #638 "Spain case statistics issue"
i use this api ("https://disease.sh/v2/historical/ES?lastdays=30") but i got wrong case number from date 4/24/20

[2020-05-05 12:16] puf17640 commented on #638
could you please explain what "wrong case number" means... why is it wrong and how do you know? this is fetched from the official source

[2020-05-05 12:23] waleedocp commented on #638
at 4/24/20 your API recorded  202990 cases, but the official source recorded 219,764
and from that date forth all cases mismatched
reference
https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Spain

[2020-05-05 14:34] puf17640 commented on #638
are you literally using wikipedia as your single official source?

we dont record any data, we serve official data from our official sources, for this endpoint, the source is John Hopkins University. please open an issue on their github about this, we do not RECORD data, we only serve what they offer.

[2020-05-05 18:34] #638 closed

[2020-05-06 03:37] smilingchemist opened #640 "endpoints not updating"
Hello, the endpoints have not been updated for the last 2 hours. Thank you!

[2020-05-06 03:40] ebwinters commented on #640
🤔which

[2020-05-06 04:19] smilingchemist commented on #640
e.g. v2/countries: updated 1588729215256; v2/all: updated 1588729215153

[2020-05-06 05:22] AmenehSadat opened #641 "config.example.json not founds in project!"
i can't find config.example.json file in project!

[2020-05-06 07:32] abaranovskis-redsamurai commented on #640
This endpoint is also not updated: https://corona.lmao.ninja/v2/historical?lastdays=all

[2020-05-06 08:44] puf17640 commented on #641
@AmenehSadat I am sorry, the README isn't updated to the newest version yet, I will do this right now! we are now using .env file to read the configuration, please check the README in a few hours!
Thanks!

[2020-05-06 08:46] mostfunkyduck commented on #640
looks like /v2/jhucsse isn't updating, i see the data on their github, but not in the API

[2020-05-06 08:58] puf17640 commented on #641
Updated! Please check [Installation](https://github.com/NovelCOVID/API#installation)

[2020-05-06 09:00] puf17640 commented on #640
yeah it is already being addressed! 👍 thanks guys!

[2020-05-06 10:27] #641 closed

[2020-05-06 13:16] lekhnath commented on #640
Data not updated since past 11 hours. I am using following endpoints of the API:

* https://corona.lmao.ninja/v2/all
* https://corona.lmao.ninja/v2/countries

[2020-05-06 13:17] SuperCoderDamian commented on #640
Hi, as noted in our Discord, the API (or related?) is not updating.

[2020-05-06 14:13] Shanmugabavan commented on #640
No update for 12 hours.....

[2020-05-06 14:25] abaranovskis-redsamurai commented on #640
Any estimate when endpoints could start working again?

[2020-05-06 14:43] abaranovskis-redsamurai commented on #640
I can see latest data now from https://corona.lmao.ninja/v2/historical?lastdays=all, thanks !

[2020-05-06 14:47] ibrahimwickama commented on #640
Thanks Dev Team, things are update now. Cheers!!!

[2020-05-06 14:52] smilingchemist commented on #640
Thank you!! 😊👏🏼👍🏼

[2020-05-06 15:20] acollazog11 opened #643 "Incorrect data in some countries: GET Historical Data by Country Name"
In the historical endpoint I am getting incorrect values for some countries.
for example: Spain
[https://corona.lmao.ninja/v2/historical/spain](https://corona.lmao.ninja/v2/historical/spain)
[code]
this is a portion of the "cases" object within the "timeline"
so here you can see that the number of cases on day "4/24/20" is less than on day "4/23/20", and this should not happen, the number of cases

[2020-05-06 15:24] #640 closed

[2020-05-06 15:26] ebwinters commented on #643
it's an anomaly in the data reported by JHU, we can't do anything for it.
<img width="1001" alt="Screen Shot 2020-05-06 at 10 26 00 AM" src="https://user-images.githubusercontent.com/4297028/81195893-03c63d80-8f84-11ea-8df8-5876cd13093d.png">

[2020-05-06 15:26] #643 closed

[2020-05-06 18:58] saisk73 opened #645 "Countries Images Links"
in the file utils/countryUtils.js the country images links are to the domain corona.ninja.lmao
in line 20 and 34 the link is given as  https://corona.lmao.ninja/assets/img/flags/ .
ISSUE: I deployed the API in my server but the problem is the images are fetched from the ninja.lmao more load on ninja.lmao API. If there are more custom deployments then it will be a problem.
SOLUTION: Change the link

[2020-05-07 05:17] EliteDaMyth commented on #645
This isn't meant for self hosting hence this will not be done. You can edit on your server simply.

[2020-05-07 05:17] #645 closed

[2020-05-08 03:01] andrewvanhemelrijck opened #647 "todayCases & todayDeaths is missing for most countries for /v2/countries endpoint"
[code]

[2020-05-08 03:05] andrewvanhemelrijck commented on #647
nm, looks like it's worldometer data that's empty

[2020-05-08 03:05] #647 closed

[2020-05-08 06:32] puf17640 commented on #647
exactly, this is a worldometers problem :)

[2020-05-08 10:37] mstrfpts opened #649 "Case Count for historical data and countries data is out of sync"
firing a
https://corona.lmao.ninja/v2/historical/UK
gives you ->
{"country":"UK","province":[ ... ],"timeline":{"cases": ... "5/5/20":196243,"5/6/20":202359,"**5/7/20":207977**}....}

and firing a
https://corona.lmao.ninja/v2/countries/UK
on 5/8/20 gives you  ->
{"updated":1588932396815,"country":"UK","countryInfo":{"_id":826,"iso2":"GB","iso3":"GBR","lat":54,"long":-2,...},
"**cases":206715**, ..

[2020-05-08 12:11] puf17640 commented on #649
The data is from different sources.

[2020-05-08 12:11] #649 closed

[2020-05-09 15:52] hreyeslo opened #652 "Incorrect historical case data from Spain"
For a few days I have observed that the historical data does not seem consistent. Could it be a bug?

![Anotación 2020-05-09 174219](https://user-images.githubusercontent.com/12648589/81478361-2cb52f80-921d-11ea-89e9-ab7975fc0f9e.png)
![Anotación 2020-05-09 174321](https://user-images.githubusercontent.com/12648589/81478363-2d4dc600-921d-11ea-877f-c3bb9a4dff8f.png)
![Anotación 2020-05-09 174349](h

[2020-05-09 16:18] puf17640 commented on #652
This is neither a bug nor a inconsistency in the dataset.
This is due to different datasources being used for the different endpoints, so /v2/countries is using data from Worldometers while /v2/historical is using data from JHUCSSE

[2020-05-09 16:18] #652 closed

[2020-05-09 22:41] smilingchemist opened #653 "API is down"
Error 502 is shown (Bad gateway).

[2020-05-09 22:43] aliogaili commented on #653
+1

[2020-05-09 22:56] puf17640 commented on #653
Should be up again!

[2020-05-09 22:56] #653 closed

[2020-05-10 21:56] apex2504 opened #657 "Broken Discord links in readme"
The Discord invites in the readme file no longer work. Presumably they were deleted or have expired.

[2020-05-10 21:58] puf17640 commented on #657
Will fix now!

[2020-05-10 21:58] #657 closed

[2020-05-10 22:03] apex2504 commented on #657
[you missed one](https://github.com/NovelCOVID/API/blob/f51856126f6087381499bef1c3c04466aeeb95ab/README.md#note)

[2020-05-11 05:17] Shiba-Kar opened #660 "I have developed an android application using this api : got Suspended !!"
Additional verification is required to publish this app
--
Pursuant to Section 8.3 of the Developer Distribution Agreement and the Enforcement policy, apps referencing COVID-19, or related terms, in any form will only be approved for distribution on Google Play if they are published, commissioned, or authorized by official government entities or public health organizations. Google reserves the dis

[2020-05-11 05:19] tbnritzdoge commented on #660
Well obviously not, this isn’t a government sanctioned API so you can’t have it on the App Store or the Android Play Store.

[2020-05-11 05:23] Nekiono commented on #660
We're not any official source and don't claim to be.
Google is better off safe than sorry by doing this, and quite frankly the market is oversaturated anyways.

[2020-05-11 05:23] #660 closed

[2020-05-14 23:22] apex2504 opened #669 "Home page is outdated"
the discord link at the top of https://disease.sh is invalid. the current discord invite is https://discord.gg/cEDxzfW. additionally,  it might be worth removing the link to the bot as the API is no longer affiliated with the COVID-19 discord bot.

[2020-05-14 23:41] ebwinters commented on #669
thanks for pointing this out, I'll fix it

[2020-05-14 23:45] #669 closed

[2020-05-15 03:26] Shanmugabavan opened #671 "today_cases>total_cases"

[2020-05-15 03:37] chrisvalmonte opened #673 "/v2/all not working"

[2020-05-15 04:00] ebwinters opened #674 "continents countries field not being set"
`/v2/continents/` does not set property `countries` and tests fail because of this. Oh and worldometer added a `population` field and removed `continent` field
@puf17640

[2020-05-15 04:04] #673 closed

[2020-05-15 04:04] #671 closed

[2020-05-15 05:33] itsbohara commented on #674
Hey @ebwinters , I have fixed it. Check out my pull request.

[2020-05-15 06:49] #674 closed

[2020-05-15 10:42] artemandroid opened #679 "Cases (recovered) inconsistency"
https://corona.lmao.ninja/v2/countries/es (cases :  274367,  todayCases +1721 )
https://corona.lmao.ninja/v2/historical/es (cases :  5/14/20 229540)

[2020-05-15 16:39] ebwinters commented on #679
They are from separate data sources

[2020-05-15 16:39] #679 closed

[2020-05-16 14:52] edmitr opened #685 "Mathematical model for predicting the development of the COVID-19 by countries"
Hello! I have a mathematical model for predicting the development of the COVID-19 epidemic by countries (estimated date to reach the maximum of the epidemic, end date of the epidemic, estimated number of deaths, load of the health care system, estimated number of severe disease and critical). Prognosis will automatically changes dependig on the real situation. Would it be interesting to add such k

[2020-05-16 16:57] puf17640 commented on #685
Can we talk about this with the core-team on Discord?
Please either join our server and give us a notice it's you or dm me `Julian Pufler#0420`

[2020-05-16 16:58] #685 closed

[2020-05-16 19:01] Nekiono commented on #685
Discord server is at https://disease.sh/discord btw :)

[2020-05-16 19:24] ustaslive opened #687 ""todayCases":null"
for https://corona.lmao.ninja/v2/countries some elements have todayCases not number but null

[2020-05-16 19:25] Ibrahimcodes commented on #687
Yes.. This sis true and already published app crashes. Please fix ASAP.

[2020-05-16 19:37] puf17640 commented on #687
We are working on this!

[2020-05-16 20:49] ebwinters commented on #687
An update will be pushed to make it 0 on default and null with a query option passed in

[2020-05-16 22:30] ebwinters opened #689 "test case for allowNull parameter"

[2020-05-16 22:30] #687 closed

[2020-05-17 02:36] crazyuploader opened #690 "[Suggestion] Support for null to 0 in government data"
I don't know about other government end points, but at least on `/v2/gov/India` there are some null values at the end of the response, it'll save me (and others too) from manually having to check if the value is null or not, I think the default value, i.e. 0 is appropriate enough than to have our app crashing.
Thanks in advance!

[2020-05-17 02:44] crazyuploader commented on #690
As for the response, I've had this

[code]

The source have empty fields like this : -

![Screenshot_20200517-081130801](https://user-images.githubusercontent.com/49350241/82134483-12c7ae00-9816-11ea-99be-d5fb246cd93a.jpg)

[2020-05-17 03:59] hcovs commented on #690
@crazyuploader  Today there was a decent amount for time in which many values had 'null' which was new comparatively (unlike previous normal) - prob causing havoc for some usage. So far it has been assumed that 'null' meant nothing reported and whereas '0' [zero] meant reported but with a 0 value. Unless we are wrong here ... hopefully we can get some insight regarding this API.

[2020-05-17 04:12] crazyuploader commented on #690
@hcovs I understand, but I'm just proposing that having `allowNull` would make more sense since the app developers can then decide for themselves, which approach do they want to go with, i.e. if they want to consider "null" as zero or not reported. Not having that would only mean app crashes if null not handled, so better we implement that parameter here as well. It'll be up to the app developers

[2020-05-17 06:00] puf17640 commented on #690
So far (until yesterday GMT), we transformed all values that were NULL to 0 so people wouldn't have to deal with NULL values. After receiving quite a bunch of messages in the last months, we decided to leave NULL as it is. This broke a few applications so we discusses how we could have the feature while being downward compatible.
We now added a new query parameter, **allowNull**, which defaults to

[2020-05-17 06:17] crazyuploader commented on #690
@puf17640 That would be appreciated, since we as developers can then decide whether we want the value as null or zero.

I actually had thought that the `allowNull` parameter was applied to every endpoints but trying that on `/v2/gov` showed me otherwise.

[2020-05-17 06:20] puf17640 commented on #690
yeah it is quite hard to implement it for every endpoint since they all use different data sources, but `v2/historical` or `v2/jhucsse` dont return null values as far as i have seen

[2020-05-17 06:24] crazyuploader commented on #690
@puf17640 I would love to open a pull request for the same, but I don't really know the JavaScript used here, so I can't help.

[2020-05-17 06:34] puf17640 commented on #690
@crazyuploader no problem, I am already working on it

[2020-05-17 07:04] hcovs commented on #690
@puf17640
Thanks for getting back to us here! When do you expect to have the 'allowNull' added to these: v2/states and v2/gov too? -since the code expects 'null' for non-reported and zeros will provide incorrect info.

[2020-05-17 07:15] puf17640 commented on #690
The code is already in place, I will have to wait for @ebwinters to wake up (he's from the US) to review the PR

[2020-05-17 07:43] hcovs commented on #690
Niice! The API allows the param so I should just work once up. I will check later (I am in the US too.). Thanks!

[2020-05-17 07:53] puf17640 commented on #690
https://github.com/NovelCOVID/API/pull/691

[2020-05-17 07:53] #690 closed

[2020-05-17 11:41] Nekiono commented on #690
@hcovs @puf17640 merged

[2020-05-17 12:32] puf17640 commented on #689
kinda done i guess

[2020-05-17 12:32] #689 closed

[2020-05-18 03:33] kajbo92 opened #694 "No data for Netherlands?"
showing only 6 total cases

[2020-05-18 03:36] ebwinters commented on #694
Which endpt

[2020-05-18 04:12] kajbo92 commented on #694
sorry my mistake, its showing data from Caribbean Netherlands on my site

[2020-05-18 04:12] #694 closed

[2020-05-18 15:20] MaxSpane opened #695 "Consistent Gov data"
Could the gov data have some sort of consistency to their keys and the way they are accessed?
In my app I was going to frequently fetch the list of countries with available gov data so as to not have the user update the app when the new gov data is available.
But I realized the response for each gov data is very different so I wouldn't be able to avoid the issue.
I was thinking while scraping you

[2020-05-18 22:07] ebwinters commented on #695
Can you elaborate on your proposal more. I'm not trying to be rude but it's difficult to understand what you're trying to say at the end of your post.

[2020-05-19 04:24] MaxSpane commented on #695
It's fine. I'll be happy to elaborate.
The data structure I'm proposing is this.
[code]
I hope what I'm proposing is clearer now. This way the general or rather the most commonly expected data is always available at the same position for all the government data so It'll be easier on the client-side to add any new government data without having to update the code.

[2020-05-19 07:00] puf17640 commented on #695
I understand you, it's a good idea. Me and Ethan probably both did an equal half on the endpoints and I also initially thought about having them a bit more standardized than it really was in the end. We will discuss on how this could be done the easiest way!

[2020-05-19 12:10] egbakou opened #698 "Add CONTRIBUTION guideline"
Add CONTRIBUTION guideline for improved collaboration in the open source project. It enables a self-onboarding concept for developers.

[2020-05-19 12:28] puf17640 commented on #698
Yes I have been wanting to do this quite some time now, will work on it but I have to look at example Contribution Guidelines because I don't really know what should be included there

[2020-05-19 12:29] puf17640 commented on #698
oops

[2020-05-19 12:49] egbakou commented on #698
Okay.
I can make a PR for it if you want.

[2020-05-19 13:40] puf17640 commented on #698
yes please, i will look over it and change some stuff but that would be really helpful

[2020-05-19 17:13] ebwinters commented on #695
This is something that would be great to have, but since we already have the data formatted this way, it would be a breaking change to suddenly re-format. People who have apps using our API will have their apps broken.
Instead, this is something to add to our V3 release. I will add it there

[2020-05-19 17:13] #695 closed

[2020-05-20 14:15] EliteDaMyth opened #705 "test issue"

[2020-05-20 14:15] EliteDaMyth commented on #705
@all-contributors please add @himanshu2406 for code

[2020-05-20 14:16] #705 closed

[2020-05-21 11:57] puf17640 commented on #698
@egbakou are you gonna do a pr?

[2020-05-21 12:00] egbakou commented on #698
Hi @puf17640
Yes i work on it like that.
I will make the PR soon.

[2020-05-21 13:14] egbakou commented on #698
PR submitted !

[2020-05-21 13:38] #698 closed

[2020-05-23 17:55] smilingchemist opened #711 "Endpoint v2/continents: today's and yesterday's data mixed up"
Hi,
endpoint v2/continents shows yesterday's data for ?yesterday=false and today's data for ?yesterday=true.

[2020-05-24 01:13] heidy-miguel opened #713 "Undefined index: iso2"
When trying to call iso2 and iso3 it says it's undefined.
Making the on development environment. It happens when I try to call All Countries and a Specific Country.

[2020-05-24 02:29] #713 closed

[2020-05-24 11:41] puf17640 commented on #711
this seems to be true, im investigating

[2020-05-24 14:18] ebwinters commented on #711
Seems to be working fine for me:
https://disease.sh/v2/continents/europe
https://disease.sh/v2/continents/europe?yesterday=true

[2020-05-24 14:25] smilingchemist commented on #711
If you do not chose a continent it is mixed up.

[2020-05-25 15:42] puf17640 commented on #711
im too smashed to fix this currently but i think its true, ethan?

[2020-05-25 18:01] ebwinters commented on #711
Nope, it works. See Asia's entry in JSON returned from the links below
https://disease.sh/v2/continents
https://disease.sh/v2/continents?yesterday=true

[2020-05-25 18:11] smilingchemist commented on #711
No, see e.g. Australia: Today: 8722 cases, yesterday 8726 cases.

[2020-05-25 18:41] ebwinters commented on #711
u rite
![](https://i.giphy.com/media/hzrvwvnbgIV6E/giphy.gif)

[2020-05-25 18:54] #711 closed

[2020-05-25 19:41] puf17640 commented on #711
told ya

[2020-05-29 02:22] jmtblei opened #719 "v2/countries response body changed/mixed up?[BUG]"
1. Response body appears to be mixed up for some fields. Continents used to return a string for a specific region e.g. "Asia", "Europe", "North America", etc; now returns a number string for what appears to be the country's population.

2. ~~todayCases and todayDeaths return only 0 for both true/false yesterday queries.~~

3. Population, tests, testsPerOneMilion, recoveredPerOneMillion also do not

[2020-05-29 04:13] ebwinters commented on #719
Thanks for notifying us. We are looking at a fix - our source changed their format

[2020-05-29 05:43] ivan0071 opened #720 ""Critical" cases is always the same value with "Active" cases"
From this endpoint: [https://disease.sh/v2/countries](https://disease.sh/v2/countries) I can see that the number of "critical" case is always the same with the number of "active" cases, which does not seems right.

![critical](https://user-images.githubusercontent.com/4018803/83225504-38db3f80-a180-11ea-8f64-1a1420e07f7c.png)

The same applies for all the countries.

[2020-05-29 05:50] ebwinters commented on #720
fix coming in 5 min

[2020-05-29 05:53] #719 closed

[2020-05-29 05:53] #720 closed

[2020-05-29 18:26] smilingchemist opened #722 "Active cases: wrong data"
Hi! The data of active cases on endpoint /countries is wrong. I think worldometers changed its table.

[2020-05-29 18:28] ebwinters commented on #722
Fill out the template

[2020-05-29 18:35] #722 closed

[2020-06-02 01:49] Nivedita-coder commented on #626
The same problem happens with I'm trying to fetch the "ninja" API in my project but it shows error. Why??? please solve my problem.

[2020-06-02 02:53] ebwinters commented on #626
Where are you fetching from? Wordpress?

[2020-06-02 03:10] Nivedita-coder commented on #626
No, actually I'm making a website on react and I'm fetching this "ninja" API there.

[2020-06-02 03:13] ebwinters commented on #626
Give an example of your call and env

[2020-06-02 03:41] Nivedita-coder commented on #626
![Screenshot from 2020-06-01 18-16-26](https://user-images.githubusercontent.com/56059682/83477475-ef0c9500-a4b0-11ea-92a8-b9682234c836.png)
this the error after fetching API

[2020-06-02 17:49] puf17640 commented on #626
the error is no CORS error.

[2020-06-02 18:34] EliteDaMyth commented on #626
The error is not a CORS error @Nivedita-coder  also we suggest using disease.sh as your main domain as it is the main domain now

[2020-06-03 12:48] MarvelDC opened #728 "[Feature Req] Add possibleNames field to a country's countryInfo object"
**Is your feature request related to a problem? Please describe.**
To reduce myself having to query `/countries/:query` each time I want to find a country, that can have aliases, having a way to view the possible names of a country will allow me to simply query the `/countries` endpoint once (when cached), and find the country in the array of countries.

**Describe the solution you'd like**
Using

[2020-06-03 14:56] ebwinters commented on #728
This is a good request, but first and foremost we cannot discontinue the standardization of possible names. This is what allows people to make queries without having the entire countries JSON file, which when returned, is large.

I will look into the possibility of adding `possibleNames` as a feature

[2020-06-03 22:03] mkusche opened #729 "[BUG] Missing Countries"
**Describe the bug**
In the Worldometer Data the following Countries are missing:
- Kosovo
- Gaza

**To Reproduce**
The following Requests don't show any data:
curl -X GET "https://disease.sh/v2/countries/Kosovo" -H  "accept: application/json"
curl -X GET "https://disease.sh/v2/countries/Gaza" -H  "accept: application/json"

**Expected behavior**
Both Requests show the expected data.

[2020-06-03 22:16] ebwinters commented on #729
Are those countries listed on the worldometers website?

[2020-06-04 06:58] mkusche commented on #729
Sorry, I hadn't have a look at Worldometer before. I guess there is nothing you can do about it.

[2020-06-04 09:05] puf17640 commented on #728
Very cool idea! Let's add this to the topics of the discussion today @ebwinters

[2020-06-04 16:00] puf17640 commented on #729
well, there kinda is, do you have any official sources of these countries? I would be happy to add those to our government endpoints!

[2020-06-04 17:04] puf17640 commented on #728
So me and @ebwinters just discussed this and we think that the possiblenNames would not be needed to have sent with the response but after that we discussed adding more possibleNames to the countries and making it possible to leave out whitespaces in names (like "United States Of America" -> "UnitedStatesOfAmerica")

[2020-06-05 14:20] ebwinters commented on #728
@MarvelDC if you have any ideas of countries that are currently missing a possible name in [this file](https://github.com/NovelCOVID/API/blob/master/utils/countries.js) that would be helpful!

[2020-06-05 15:10] MarvelDC commented on #728
I wouldn't know any as of now, but [this Wikipedia page](https://en.m.wikipedia.org/wiki/List_of_alternative_country_names) does seem to sum up the possible names of many countries.

[2020-06-06 06:45] mkusche commented on #729
In the historical API I can find them. When I do an get rquest from  https://disease.sh/v2/historical?lastdays=30, there is Kosovo and Westbank and Gaza listed with daily data.

[2020-06-06 15:39] lbalmaceda opened #732 "[BUG] Accumulative recovered cases"
**Describe the bug**
The accumulative "recovered" cases value is lower than the previous day

**To Reproduce**
Make a request to https://corona.lmao.ninja/v2/historical/all?lastdays=3

**Expected behavior**
The accumulative "recovered" cases value for each day is equal or greater than the previous day.

**Screenshots**
![image](https://user-images.githubusercontent.com/3900123/83948194-0ff72200-a7

[2020-06-06 21:41] jzhao62 commented on #732
Hi, under which country do you see this behavior ?

[2020-06-06 22:04] jzhao62 commented on #732
Looks like your problem has been fixed, they probably just upload wrong data.
`{
    "cases": {
        "6/3/20": 6508635,
        "6/4/20": 6632985,
        "6/5/20": 6764918
    },
    "deaths": {
        "6/3/20": 385947,
        "6/4/20": 391136,
        "6/5/20": 395880
    },
    "recovered": {
        "6/3/20": 2822619,
        "6/4/20": 2892105,
        "6/5/20": 2960058
    }
}`

[2020-06-07 07:45] EliteDaMyth commented on #732
We use the JHU CSSE repo data for historical cases. They sometime have somewhat inaccurate data but fix it later on. This issue is not related to this repository as we just scrape their data!

[2020-06-07 07:48] #732 closed

[2020-06-08 20:05] ebwinters commented on #729
It’s a separate source.

[2020-06-08 23:56] #729 closed

[2020-06-10 16:09] ghost opened #737 "[BUG] 'Laos' & iso doesn't work on /countries/:query"
**Describe the bug**
In the file with the aliases of names, 'Laos' is one of the possible names of the country, 'Lao people''s democratic republic', with 'LA' and 'LAO' as iso2 and iso3. Those inputs, excluding the full country name, produce 404 on the endpoint.

**To Reproduce**
Where the bug occurring? Examples:
https://disease.sh/v2/countries/laos
https://disease.sh/v2/countries/la
https://dise

[2020-06-10 18:49] #737 closed, assigned to nobody

[2020-06-11 18:34] jsebastianms1 opened #740 "[Feature Req] Add info from Colombia"
Support data from Colombia government

Add this information in /v2/gov/colombia

This will return a json object like the other supported countries

[2020-06-11 18:35] jsebastianms1 commented on #740
I will be happy to add this

[2020-06-12 06:59] #740 closed

[2020-06-15 07:16] ivan0071 opened #744 "Incorrect data for USA (June 13th)"
Data which was returned for USA for June 13th does not seems correct (this was updated on June 14th, calling the [https://disease.sh/v2/countries?yesterday=true](https://disease.sh/v2/countries?yesterday=true) endpoint). I am not sure which results were returned during the day June 13th itself.

...
"countryName": "USA",
"cases": 2117027,
**"todayCases": 105,**
"deaths": 116831,
**"todayDeaths": 6

[2020-06-15 07:22] EliteDaMyth commented on #744
https://disease.sh/v2/countries/USA?yesterday=true
seems to be the correct values and matches worldometers.
We are scraping from Worldometers so the data matches there.

[2020-06-15 07:23] EliteDaMyth commented on #744
Let me know if further help is needed @ivan0071

[2020-06-15 07:23] #744 closed

[2020-06-15 15:41] Slimani-Ibrahim opened #746 "Access to XMLHttpRequest at 'https://disease.sh/v2/' from origin has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource."
The endpoints are not accessible owing to CORS policy issue
[](url)
<img width="935" alt="Sans titre" src="https://user-images.githubusercontent.com/36894964/84677747-13dc2000-af27-11ea-86d8-96864d13d75f.png">

[2020-06-15 16:03] ebwinters commented on #746
This should be fixed now. Reopen if still issues.

[2020-06-15 16:03] #746 closed

[2020-06-19 09:29] skyzadev opened #751 "[Feature Req] South Africa - Scrape data from Wikipedia"
**Is your feature request related to a problem? Please describe.**
Many government websites are too hard to scrape for detailed COVID-19 country data for various reasons (constantly changing formats, data posted as images etc). The official COVID-19 data sources from South Africa is an example of this.

Also, since the current NovelCOVID API endpoints do not provide granular country-level data, I

[2020-06-19 14:21] ebwinters commented on #751
This would be great to have for many more `/gov` endpoints, my only concern is that the data reported in the charts will not actually be _government reported_ data, as we have made sure the endpoints to be.

Looking at the sources listed for the South Africa, they are almost all from NICD and the Department of Health.

I think you should write a South Africa scraper using the page linked above, si

[2020-06-19 17:24] puf17640 commented on #751
I agree with Ethan

[2020-06-20 07:57] skyzadev commented on #751
Closing... Will implement an PR for a new /gov/SouthAfrica endpoint

[2020-06-20 17:23] puf17640 commented on #751
@skyzadev no need to close the issue, just put `closes #751` into the PR description

[2020-06-21 23:42] ebwinters commented on #728
Any chance you want to add them into the file mentioned above, and submit PR? @MarvelDC

[2020-06-22 21:29] #751 closed

[2020-06-22 21:29] #728 closed

[2020-07-01 23:30] MenaiAla opened #768 "Use Webp or SVG types for images instead of png and jpg."
**Description :**

After checking the `public/assets/img` folder I've noticed that it contains `png` and `jpg` images instead of `webp` or `svg`

*Expected issues:**

 * Lose quality in small screens.
 * Large size and low performance.
 * Impossible to redesign the same file ( Image

[2020-07-02 09:41] puf17640 commented on #768
Feel free to convert them and file a PR! 👍

[2020-07-03 02:53] ebwinters opened #769 "[Feature Req] Israel data"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Israel gov scraper, with links sent on discord:
[Dashboard](https://datadashboard.health.gov.il/COVID-19/)
[Translation](https://media.discordapp.net/attachments/727682901881389137/727930855451918496/Hebrew_translation.png)

**Describe the

[2020-07-03 20:15] puf17640 commented on #769
nice!

[2020-07-04 01:21] MenaiAla opened #771 "Why there's double country.country[BUG] ?"
**Javascript Syntax**

In the line of 14 of [apiWorldometers.js](https://github.com/disease-sh/API/blob/master/routes/v3/covid-19/apiWorldometers.js) we have double access to the country.

`const worldData = countries.find(country => country.country.toLowerCase() === 'world');`

I know the first one is a country `parameter` but I don't know what's the second one.

[2020-07-04 01:28] ebwinters commented on #771
Believe it is the name of the country itself. Maybe change name of parameter to make it more clear, or change the property to `countryName`

[2020-07-04 02:24] puf17640 commented on #771
we cannot rename properties, we could only call the first one 'countryData' instead of 'country' to make it more distinguishable.

[2020-07-04 11:29] shashwat1998 commented on #771
Assign it to me please

[2020-07-04 13:28] #771 closed

[2020-07-04 13:31] ebwinters commented on #768
any update on this @MenaiAla

[2020-07-04 21:40] MenaiAla commented on #768
@ebwinters trying to test the performance between the two different extensions ( png vs webp ).

[2020-07-05 00:40] #769 closed

[2020-07-05 09:12] MenaiAla opened #775 "How transformNull transform a continent/country object into null ?"
I'm trying to understand how  `transformNull` function in `utils/countryUtils` transform a continent/country `object` into `null`.

Please, provide me an example with `input` and `output`.

[2020-07-05 14:08] ebwinters commented on #775
I guess the function is kind of confusing and can be refactored. All this does is transform a value from 0 to null. If we are missing data for say deaths of a country, we fill it with 0. This just allows for null instead

[2020-07-05 16:22] meirroth commented on #768
Can we have a few file type options or does it have to be one of them?
Currently, I'm using svg flags from this repo: [ behdad / region-flags ](https://github.com/behdad/region-flags)

[2020-07-05 17:30] ebwinters commented on #768
@meirroth we can have a few options, with the default being PNG (so as not to mess with peoples' current use of flags). But we can add a query parameter for `fileType`, which would allow for a link to an SVG to be returned. Personally, I am not going to implement this, but if someone else wants to, PRs are welcome.

[2020-07-05 20:40] puf17640 commented on #775
definitely not a bug. feel free to refactor the method if you think it needs a cleanup.

JSDOC explains it though.
[code]

[2020-07-05 20:40] #775 closed

[2020-07-06 12:14] MenaiAla opened #777 "[BUG] Why wordsStandardize returns 'null' but not null ?"
**Description**

In [stringUtils](https://github.com/disease-sh/API/blob/master/utils/stringUtils.js) script line `6` :
`const wordsStandardize = (word) => word ? word.trim().toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '') : 'null';`

**Expected**
`null`

**Found**
`'null'`

[2020-07-06 12:19] MenaiAla commented on #775
Indeed, it's a **fatal bug** because even `null` value is an `object`.

**Reproduce by example**
`
console.log(typeof null)`

**Output**
`object`

**Description**
If the object passed is a `null` value the condition will pass. Also, if the `value` passed has `length` equals `0` the condition will pass.

[2020-07-06 12:41] puf17640 commented on #777
I am [blaming](https://github.com/disease-sh/API/commit/c65bfae1601879f457ab5092a803889f21670e01#diff-20510c60361f45829ec242bf65259fd0R6) @buster95 🤣

Will be fixed in a minute! Thanks for letting us know!

[2020-07-06 12:57] puf17640 commented on #777
![image](https://user-images.githubusercontent.com/17516174/86595414-fab01780-bf98-11ea-9b51-e9e6a334d3d4.png)
now I remember why 🤣 🤣 will be fixed soon

[2020-07-06 14:17] buster95 commented on #777
Hahahahaha oi, that was when you were doing code refactoring hahah

[2020-07-06 14:24] puf17640 commented on #777
this is already fixed in #779

[2020-07-06 15:27] #777 closed

[2020-07-06 15:35] puf17640 commented on #775
`null` is only 'an object' because of bad design decisions when JS first started and is definitely not handled like an object in practice.

If you pass in `null`, the function throws an error (check below) because **null is not an object**, so you can't convert it to one (`Object.entries(object)`). The function works as it should for all inputs that are possible in our code.

![image](https://user

[2020-07-06 15:55] MenaiAla commented on #775
But this is **Unhandled** exception and `null` value pass the check because you wrote `typeof o==="object"` and in case of `o===null` the check will be : `typeof null==="object"` and that's correct. But, in real-world with `null` values we should handle `exceptions`.

This is a quick-refactoring for `transformNull` function with well-debugging status but without unit-testing :
[code]

[2020-07-06 16:10] MenaiAla opened #781 "[BUG] How splitQuery handle null queries and queries without | or , ?"
**Description**
`splitQuery `function is kind of uncomplete and does not treat all cases. It supposes that the parameter `query`  contains `|` or `,` as a splitter. But what if the query does not have both of the splitters.

**Reproduction**
`const splitQuery = (query) => query.indexOf('|') === -1 ? query.split(',') : query.split('|');`
`const query=null`;
`console.log(splitQuery(query))`

**Expec

[2020-07-06 18:52] puf17640 commented on #775
You'll probably find a hell lot of unhandled exceptions because me and @ebwinters didn't bother to do exception handling apparently, if you want you can go over the code and PR your changes, would help a lot

[2020-07-06 21:16] MenaiAla commented on #775
Sur, just trying to be familiar with each script and understand the whole project.

[2020-07-08 19:19] apex2504 commented on #768
this is a few days old now but compatibility could be an issue as some apple devices (specifically iOS/iPadOS - i believe macOS 11 is introducing support) don't support webp images and they simply won't be shown. to ensure the best compatibility, it would make sense to still use jpg/png, or at least include them as an option alongside webp/svg in some way.

[2020-07-08 19:39] puf17640 commented on #768
we could just convert it, it will get cached anyway?

[2020-07-08 23:47] ebwinters commented on #768
Unless I see a benchmark that shows it would be worth storing multiple file types, this will be closed.

[2020-07-09 17:34] buster95 commented on #768
this is a bot for image reduction, maybe could be integrated here
https://github.com/marketplace/imgbot/plan/MDIyOk1hcmtldHBsYWNlTGlzdGluZ1BsYW4xNzQ5#pricing-and-setup

[2020-07-09 17:46] ebwinters commented on #768
Does it provide an real speed benefits to convert every PNG to SVG or another format? Once we have that answered then we can decide on moving forward or not with this

[2020-07-09 19:04] puf17640 commented on #768
@Nekiono surely already has done a benchmark at some time in her life i suppose

[2020-07-12 21:50] meirroth opened #783 "[BUG] Israel Gov data returns 0 for updated timestamp"
**Describe the bug**
Israel gov data endpoint (https://disease.sh/v3/covid-19/gov/Israel) returns 0 for updated time.
`{
  "updated": 0,
  "data": {
...
  }
}
`

**To Reproduce**
Where the bug occurring? Examples:
- https://disease.sh/v3/covid-19/gov/Israel

**Expected behavior**
Expected to get updated time.
`{
  "updated": 1594569303303,
  "data": {
...
  }
}
`

**Additional context**
I checked

[2020-07-12 23:59] ebwinters commented on #768
closing for now

[2020-07-12 23:59] #768 closed

[2020-07-13 00:06] ebwinters commented on #781
Would `null` ever even be passed to this function?
https://disease.sh/v2/countries/null|null
https://disease.sh/v2/countries/null
https://disease.sh/v2/countries/usa,null

All of these results are as expected...

[2020-07-13 00:06] #781 closed

[2020-07-13 00:13] ebwinters commented on #783
The `single` parameter for the POST request was removed, which would tell the API a single value is returned instead of an object or array. PR fixes this.

[2020-07-13 00:15] meirroth commented on #783
Thank you Ethan!

[2020-07-13 00:17] #783 closed

[2020-07-13 04:29] puf17640 commented on #783
Oh! I actually remember it working when I tested it in Postman, thats why I took out the stuff that I thought wasn't needed back then. My bad!! 😳

[2020-07-13 17:01] danrleylfd opened #785 "[Feature Req] Coordinates in /Continents"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Add continent coordinates.

**Additional context**
[code]

[2020-07-14 08:27] MenaiAla commented on #768
@puf17640 , what do you think about [gulp](https://gulpjs.com/), it optimizes images.

[2020-07-14 14:59] #785 closed

[2020-07-16 07:18] MenaiAla opened #787 "[Feature Req] ESlint : Replace --ignore-pattern by .eslintignore file"
### Source
Package.json

### Found
`eslint ./**/*.js --fix --ignore-pattern node_modules/"`

### Suggested
- [x] Create `.eslintignore.js` file.
- [x] Add folders and files that will be ignored.

[2020-07-16 07:23] MenaiAla opened #788 "[Feature Req] Why countryExceptions is file-scoped variable."
### Source
countryUtils

### Line
87

### Found
[code]
### What-If
`
const isCountryException = (countryname, countryExceptions = ['UK', 'UAE', 'DR'])`

[2020-07-16 07:24] puf17640 commented on #787
Should I assign you?

[2020-07-16 07:29] puf17640 commented on #788
we can just completely remove countryExceptions variable and hardcode the array, i see no reason to add a parameter to the function that wont be used for anything other than assign a variable that is only used once

[2020-07-16 07:35] MenaiAla commented on #787
Opened a PR #789 .

[2020-07-16 08:17] #788 closed

[2020-07-17 13:10] karimhb opened #792 "JHU Spain subdivisions | deaths+recovered > confirmed [BUG]"
**Describe the bug**
JHU Spain subdivisions return incorrect data. For some subdivisions `deaths+recovered > confirmed` which can't possibly be correct. Even if the subdivision has 0 active cases, the total of deaths + recovered would become = confirmed, but never higher!

**To Reproduce**
Where the bug occurring? Examples:
https://corona.lmao.ninja/v3/covid-19/jhucsse
**As of the time of reportin

[2020-07-17 16:11] ebwinters commented on #792
This is an anomaly in the data being reported by JHU. That said, we are just reporting a cleaned up version of their exact data.
[Here](https://github.com/RamiKrispin/coronavirus/issues/55) is a link to an issue in their repo with good descriptions as to why it is happening, which should answer your question.

[2020-07-17 16:11] #792 closed

[2020-07-17 16:23] #787 closed

[2020-07-21 03:32] jdahan91 opened #793 "How can I get history of cases by specific datetime range?"
Hi, I am using the following url to get statistics for the country I live at, but I would also like to get history of cases by specific datetime, is it possible?

`https://disease.sh/v3/covid-19/countries/israel`

I've seen this model

country | string
-- | --
province | string

But I'm not sure how to construct it with the current url i'm using, thanks. (POST maybe?)

[2020-07-21 03:58] jdahan91 commented on #793
Nevermind, I saw that there's an api for histogram cases.

[2020-07-21 03:58] #793 closed

[2020-07-21 04:06] ebwinters commented on #793
Yep. Also check out https://disease.sh/v3/covid-19/gov/Israel

[2020-07-21 04:16] jdahan91 commented on #793
Wow... this api is exactly what I was looking for, which contains data about quarantine. Thank you so much.

[2020-07-21 05:41] puf17640 commented on #793
If you need anything else, don't hesitate to ask or join our support discord (can be found in the README)

[2020-07-22 17:02] jdahan91 opened #794 "[BUG] /v3/covid-19/gov/{country} for Israel not working"
I'm getting 404 for Israel when using the following api, yesterday it worked but today it's not.

raw response:

[code]

[2020-07-22 17:10] ebwinters commented on #794
When I test locally and re-scrape, everything works as it should. However, I do see in the live API that the specific endpoint is returning the message you posted above. The data must have been misformatted when scraping the last time, so we can try and reach out to the company who runs our infrastructure and restart the micro-service.

[2020-07-22 17:14] jdahan91 commented on #794
I'm migrating my mobile app to depend on these apis instead, so i need them working ;]

[2020-07-22 17:17] ebwinters commented on #794
Yeah they will work; https://disease.sh/v3/covid-19/gov/Israel is running again.

[2020-07-22 17:17] #794 closed

[2020-07-22 17:53] jdahan91 commented on #794
Ethan tell me something, is it possible to request a custom made api with a specific data structure of data i'm interested in? even if it's to share this api with my privately i would still thank you for it.

[2020-07-22 17:58] ebwinters commented on #794
Well, you can either process the data on your end, or self host the API and edit the structure. We will not change it

[2020-07-22 18:06] jdahan91 commented on #794
I understand, ok. Thank you anyways for restarting the micro-service, case can be closed.

[2020-07-23 10:04] vlasischar opened #795 "[BUG]"
At Australia historical endpoint, at the deaths section, in "6/1/20", the number of the deaths goes from 103 to 102

**Endpoint**
https://corona.lmao.ninja/v2/historical/Australia?lastdays=350

**Screenshots**
![Screenshot_2](https://user-images.githubusercontent.com/28724624/88274803-f5670280-cce4-11ea-8653-c7798f171a08.png)

[2020-07-23 12:34] puf17640 commented on #795
We only scrape and reserve data, this particular dataset is from JHU CSSE (https://github.com/CSSEGISandData/COVID-19) so please open an issue on their repository

[2020-07-23 12:34] #795 closed

[2020-07-25 15:23] jdahan91 commented on #794
This api is down again =/, any idea what causes it to go down? i need it up 100% because i rely on this api.

if this continue happening i'd might have to migrate to a different api.

[2020-07-25 15:35] ebwinters commented on #794
I'm gona make a bug fix right now so the data is always hosted even if the Israel government source is faulty.

[2020-07-25 15:36] jdahan91 commented on #794
Thank you.

[2020-07-25 15:52] ebwinters commented on #794
#796

[2020-07-25 15:58] ebwinters commented on #794
What do you rely on this API for, just curious @jdahan91

[2020-07-25 16:11] jdahan91 commented on #794
https://github.com/jdahan91/Covid19Tracker-for-Israel-Preview

This app uses this endpoint to show the events in the selected date from the list. i'm actually using three endpoints from disease.sh and another one from feel.co.il.

The listview is populated using feel.co.il and the rest of the app relies on disease.sh.

I know it is not a good practice to show details from two different endpoints b

[2020-07-26 03:17] ebwinters commented on #794
It's working @jdahan91

[2020-07-26 22:13] ebwinters opened #797 "[Feature Req] Vaccine data"
Source: https://www.raps.org/news-and-articles/news-articles/2020/3/covid-19-vaccine-tracker
Copyright notes:
- [x] Identify the author;
- [x] Prominently attribute the content to RAPS; and
- [x] If made available online, include a hyperlink back to the original publication on RAPS’ website.

Todo:
- [x] Scraper
- [x] Routes
- [x] Tests
- [x] Docs (copyright)
- [ ] Email notification

[2020-07-27 00:24] MorkWood2 opened #798 "Server down"
The API's are no longer working, the server seems down.
![disease](https://user-images.githubusercontent.com/28037374/88493148-75e76680-cf64-11ea-9db9-28d1f02476c8.png)
Also getting plenty of CORS Policy errors.
![errors](https://user-images.githubusercontent.com/28037374/88493188-a6c79b80-cf64-11ea-8089-225ad0cf770c.png)
Anyone else getting these errors?

Thanks.

[2020-07-27 00:26] ebwinters commented on #798
yep, looking into it. Should be fixed within 15 min

[2020-07-27 00:28] MorkWood2 commented on #798
Awweesome, Thank you!

[2020-07-27 01:10] ebwinters commented on #798
back up!

[2020-07-27 01:10] #798 closed

[2020-07-27 17:00] #797 closed

[2020-07-28 03:23] zekinah opened #801 "Add New API Endpoint for specific set of Continents from Worldometers"
**Is your feature request related to a problem? Please describe.**
Currently, we have an API endpoint that is from Worldometers that gets Covid-19 totals for a specific set of countries in which you can load specific countries in just adding query parameters such as multiple country names, iso2, iso3, or country IDs separated by commas which is like this `https://disease.sh/v3/covid-19/countries/P

[2020-07-28 05:22] puf17640 commented on #801
I actually thought I added that in but I guess I did not. Working on it.

[2020-07-28 18:16] meirroth opened #803 "[BUG] Israel Gov endpoint returning 404 Not Found (disease.sh)"
**Describe the bug**
https://disease.sh/v3/covid-19/gov/israel
Returning 404 not fount with the message "Country 'Israel' not found or no data found for country"

**To Reproduce**
Where the bug occurring? Examples:
- https://disease.sh/v3/covid-19/gov/israel

**Expected behavior**
This endpoint seems to be working fine:
https://corona.lmao.ninja/v3/covid-19/gov/israel

[2020-07-28 18:28] #801 closed

[2020-07-28 18:30] ebwinters commented on #803
The scrape must have failed on that server. I'm not sure why the scraping fails for that server all the time, but it's the Israeli government source that is returning bad response. I tried to fix this but the fix ended up not working so reversed.

[2020-07-28 18:33] meirroth commented on #803
How come it still works on https://corona.lmao.ninja/v3/covid-19/gov/israel?

[2020-07-28 18:35] zekinah commented on #801
Nice one, a very nice quick touch.  Thanks, @puf17640

[2020-07-28 18:36] ebwinters commented on #803
We need a way to make sure that if the data returns 404 the previous data is served.

[2020-07-28 18:36] puf17640 commented on #803
@ebwinters can we talk about this tomorrow in a hangout call?

[2020-07-28 18:37] ebwinters commented on #803
@puf17640 Yes
@meirroth its on a different server.

[2020-07-28 18:40] meirroth commented on #803
Yea but isn't it running the same code?

Anyhow, I have switched my dashboard to use corona.lmao.ninja as the endpoint for now. Hope it lasts
Thank you both so much for maintaining this API, you guys are awesome!

[2020-07-28 18:50] ebwinters commented on #803
It's the same code ye, but each server makes a request o Israel's source. The source returns a 404 sometimes in that request.

[2020-07-29 10:42] meirroth commented on #803
https://disease.sh/v3/covid-19/gov/israel Is working now.

[2020-07-29 16:58] #803 closed

[2020-07-29 18:05] 1CM69 opened #804 "[BUG] Discrepancy with UK COVID19 Data"
Firstly, thanks for putting the time in to this API but I seem to getting some discrepancies between the data returned via the API v3 & the actual data which this API is scraping from the UK Government website.

Looking at the historic data the API returns for the cumulative Deaths, is this:

      "7/20/20": 45397,
      "7/21/20": 45507,
      "7/22/20": 45586,
      "7/23/20": 45639,
      "7/2

[2020-07-29 18:19] puf17640 commented on #804
I don't have much time so I just flew over this but I am quite sure this is because of the historical endpoints using the JHU as a datasource, not official government data, if you want official gov data, please check our `/gov` endpoints

[2020-07-29 18:37] 1CM69 commented on #804
Just checked through JHU data as you posted your reply & I can see that the historic data matches what JHU are putting out.

Thanks, I'll look in to the /gov endpoints. For the moment I have manually setup a subtraction of 85 from the historic records I collect but no doubt this will break at some point.

Thanks for replying.

[2020-07-30 07:50] puf17640 commented on #804
I would really advise you to switch over to the `/gov/uk` endpoint! 👍

[2020-07-30 07:50] #804 closed

[2020-08-03 17:32] Collin-St opened #810 "[Feature Req] Mexico gov endpoint"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A /gov endpoint for Mexico data

**Additional context**
Source: https://coronavirus.gob.mx/datos/
- Gathering the cases/deaths for national and state totals requires making ~4 requests to their server with specific form-data. I can share a postman collection with the requests laid out.

Term

[2020-08-03 18:22] ebwinters commented on #810
The terms of service look good, I would just make sure to site it as the source in the endpoint's return value somewhere. @Collin-St You can work on it and make a PR 👍

[2020-08-04 04:24] Collin-St commented on #810
#811

[2020-08-04 19:49] 1CM69 opened #812 "UK Data no longer being collected"
In their infinite wisdom the UK government has decided to change the API endpoints as of today & this has now broken the URLs in disease.sh.

[https://disease.sh/v3/covid-19/countries/uk](https://disease.sh/v3/covid-19/countries/uk)

returns 0 deaths for today & the cumulative deaths figure is from yesterday.

[https://disease.sh/v3/covid-19/gov/uk](https://disease.sh/v3/covid-19/gov/uk)

only ret

[2020-08-04 20:09] 1CM69 commented on #812
I have been through the new API docs on the UK governments website: [https://coronavirus.data.gov.uk/developers-guide](https://coronavirus.data.gov.uk/developers-guide)

and figured the basic URL for up to date data is: [https://api.coronavirus.data.gov.uk/v1/data?filters=areaType=overview&structure={"date":"date","deaths":{"daily":"newDeathsByPublishDate","cumulative":"cumDeathsByPublishDate"}}](

[2020-08-04 21:47] ebwinters commented on #812
Thanks for the write up, I won't have time to work on this but I'll make it known to the community!

[2020-08-05 09:15] nooblyf opened #815 "api returns old data sometimes"
On page refresh sometimes it returns old data, like on my website it would say 18,722,090 cases then it would jump back to 18,721,965 cases. I'm using the `/v3/covid-19/all` endpoint.

**To Reproduce**
- go to https://disease.sh/v3/covid-19/all?yesterday=false
- hit refresh couple of times

**Expected behavior**
Once new data is available it should not jump back to old one.

**Screenshots**
As see

[2020-08-05 10:57] Kaysil opened #816 "Vietnam's goverment data return an array"
![20200805_175545](https://user-images.githubusercontent.com/31532733/89405016-14ce4880-d745-11ea-8d9d-f8fc697b494d.jpg)

[2020-08-05 11:25] puf17640 commented on #816
I will have a look in a minute!

[2020-08-05 12:09] Kaysil commented on #816
thanks!

[2020-08-05 12:09] #816 closed

[2020-08-05 13:15] nooblyf opened #818 "disease.sh down?"
I'm getting this error when I visit disease.sh or any api endpoints:

`upstream connect error or disconnect/reset before headers. reset reason: connection failure`

[2020-08-05 13:20] ebwinters commented on #818
We are investigating!

[2020-08-05 13:21] #810 closed

[2020-08-05 13:22] ebwinters commented on #815
This has to do with caching, which is necessary for any large scale API. If you want to bust the cache, and get the most up to date data, just add a cache buster (`?t=1`)

[2020-08-05 13:22] #815 closed

[2020-08-05 20:37] Collin-St opened #820 "[Feature Req] getMexico - add data for Active, Suspect, and Negative cases"
**Is your feature request related to a problem? Please describe.**
There is extra data to be added to our response.

**Describe the solution you'd like**
I will add additional information to the response for `getMexico` to account for current Active, Suspect, and Negative cases for National and State (if available).

**Additional context**
- Same source, just extra parsing
- This is per request fr

[2020-08-06 13:17] #818 closed

[2020-08-06 13:50] nooblyf commented on #815
@ebwinters i understand that but using &t=1 does not work, any other solution?
btw thanks for keeping this awesome api free 🎉

[2020-08-08 20:57] ebwinters commented on #815
Is it still happening?

[2020-08-09 21:31] nooblyf commented on #815
@ebwinters yes it's still happening, i tried this `https://disease.sh/v3/covid-19/all?yesterday=false&t=1` but no luck.

[2020-08-09 22:09] ebwinters commented on #815
@nooblyf how about not having a yesterday param at all? If it's false, just don't include it

[2020-08-10 04:33] CovidMexico opened #822 "[Feature Req] Google mobility report"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Add data from the Google mobility reports (COVID-19).

**Additional context**
The API has the mobility information from Apple, this feature is for the Google reports.
The official Google reports are here: https://www.google.com/covid19/mobility/
Also this CSV could be useful: https://github

[2020-08-10 12:23] #820 closed

[2020-08-10 12:24] #812 closed

[2020-08-11 16:19] Collin-St opened #825 "[Feature Req] Therapeutics from RAPS"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
- An endpoint for Therapeutics data based on the chart on this page: https://www.raps.org/news-and-articles/news-articles/2020/3/covid-19-therapeutics-tracker
- a csv with the full chart's data is available by hitting this URL: https://www.raps.org/RAPS/media/news-images/data/20200807-tx-tra

[2020-08-11 19:14] Collin-St commented on #822
The only way I can see this getting into the API is by biting the bullet and fetching/parsing this massive 123 MB csv directly from Google. Unfortunately I can't find the data available anywhere else, and the PDFs for individual regions are useless for this purpose. Also not sure about fetching the CSV from that repo you linked.

I defer to @ebwinters and others

[2020-08-11 20:11] ebwinters commented on #822
I remember we talked about this at one point and decided against it. Not sure if I remember why though @puf17640 was the one who looked into it

[2020-08-12 12:32] ebwinters commented on #825
I already wrote the logic to scrape RAPS CSV files, so I see no issue with implementing this. Could be useful data.

Something to keep in mind is the CSV files are always called something like `{year}{month}{date}-tx-tracker-chart-Craven.csv`. I wrote a method for scraping this based on the updated date listed on the article, so that logic just has to be abstracted and used by both.

[2020-08-12 12:40] ebwinters opened #827 "Return last valid data pull from Redis on scrape error"
Whenever an error is returned from a scraper, instead of returning an error client side, we should use the last valid scraped values from the persistent Redis cache hosted in prod. The logic should be like:
[code]
The main issue here is how we handle errors in gov scrapers, but the every scraping process should be standardized to use one function.
This will require writing middle-ware for all scra

[2020-08-12 12:43] ebwinters opened #828 "Persistence layer testing"
With #827 being implemented, the tests will be out of date with the actual API, since testing starts a new scraper/Redis instance in a Docker container. If the API is serving old data because there was an error, testing will pick up that error.

We would also like a way to test the production version of Redis, to make sure values aren't that out of date. This will require another testing layer tha

[2020-08-14 08:27] puf17640 commented on #822
the data provided is not consistant as to that they publish each days data on the day after, the currently most up to date report is from 3 days ago

[2020-08-14 12:38] ebwinters opened #830 "Historical scraping optimization"
Instead of parsing huge JSON files with time table data and then replacing the whole Redis key/val pair (NYT/JHU), we can simply get the last row and append it to the Redis value. This is more optimal, but not required.

[2020-08-14 12:42] ebwinters opened #831 "Re-direct v2 routes to v3 using Express"
We have many high profile users who are unreachable, and are still using v2. Because of this, we will redirect v2 endpoints to their corresponding v3 endpoint, while no longer supporting v2 testing or docs. Here is an example of a route re-direct for the NYT state endpoint:
[code]

There are three parts to this issue:
- [ ] Redirects
- [ ] Delete v2 tests
- [ ] Deprecate v2 docs

[2020-08-14 15:26] puf17640 commented on #831
I will be working on this later on

[2020-08-14 15:43] ebwinters opened #833 "[BUG] Cache warning on docker-test"
Apple and NYT caches produce warnings on test runs because initially they are not filled

[2020-08-14 15:54] ebwinters opened #835 "[Feature Req] NYT lastDays parameter"
https://disease.sh/v3/covid-19/nyt/counties endpoint takes a very long time to load, and while testing, sometimes causes timeouts. Only returning the last 15-30 days (will need to experiment with what is quicker) by default will be much better performance wise than returning the full data set. This will also speed up testing, while not sacrificing testing data correctness.
We also have a `lastDays

[2020-08-15 17:15] ebwinters commented on #831
We are no longer redirecting, but instead keeping the routes. This issue can be used to deprecate v2 testing and docs though.

[2020-08-15 21:19] Todd812 opened #837 "[BUG] State Statistics Not Updating"
States endpoint not updating.  Last update was several hours ago.  Country endpoint works but states aren't updating.  Todaycases and other data isn't updating.

https://disease.sh/v3/covid-19/states

[2020-08-16 13:44] #831 closed

[2020-08-16 14:22] puf17640 commented on #835
just started working on it, it's a pain in the ass because of how the NYT endpoints work (in particular the counties endpoint)

[2020-08-16 14:22] puf17640 commented on #835
I might work on this in the next few days, but this is really tedious work ...

[2020-08-16 15:01] #833 closed

[2020-08-16 15:38] ebwinters opened #840 "[BUG] NYT county request returns 503 error"
`v3/covid-19/nyt/counties/cook` returns:
[code]

[2020-08-16 15:50] ebwinters opened #842 "[Feature Req] Cloud function to check for stale data"
We will have a cloud function periodically checking the live API to see if data is out of date. In the event it is, we will send a message in a discord channel dedicated to reporting this.
This will in the end be hosted serverless by Greymatter on an AWS Lambda function cron job.
PR#: #849

[2020-08-16 15:54] #840 closed

[2020-08-16 15:56] ebwinters opened #843 "[Feature Req] Intelligent testing for PRs"
**Is your feature request related to a problem? Please describe.**
Tests take a long time to complete

**Describe the solution you'd like**
I would like to check the PR code, and if it only touches a certain file(s) then we will only run the tests for those files.

## Possible Solution
1. Pass PR ID by environment variable to docker testing container
2. Write new testing script to call github API

[2020-08-16 16:02] ebwinters commented on #835
@neo7337 is also working on this

[2020-08-16 16:03] #822 closed

[2020-08-16 16:06] ebwinters commented on #837
I'm getting timestamps like this right now: `1597593464598`
this is from like 9 min ago

[2020-08-16 16:06] #837 closed

[2020-08-16 21:51] ebwinters commented on #843
On second thought, some code changes will have unintended consequences, and the algorithm for mapping changed files to references to tests may not be perfect, and we can merge faulty code. I think we might be better off just running all tests and dealing with the 5-6min runtime, but I am open to discussion

[2020-08-20 13:13] #843 closed

[2020-08-20 13:17] #835 closed

[2020-08-20 13:18] ebwinters commented on #825
Any update on this?

[2020-08-20 13:19] ebwinters commented on #828
This is actually very closely linked to #842 and PR #849, so I am going to close this issue for now

[2020-08-20 13:19] #828 closed

[2020-08-20 20:31] Collin-St commented on #825
I should have this ready by tonight or tmrw

[2020-08-21 12:31] ebwinters opened #851 "[BUG] Fix NYT endpoint lastDays logic"
This issue is based on the work @neo7337 did for NYT endpoint having `lastDays` param to make serving JSON filed less resource intensive, and tests run faster. Te endpoint, however, has a bug where `lastDays=1` returns `[]` because we are behind the official data by around a day.

[2020-08-25 12:21] ebwinters opened #853 "[BUG] Fix cache hang issue in prod by splitting Redis keys"
Right now is prod is seems that a query to Redis on NYT or Apple data hangs because the keys are literally too big. This is causing the entire cache to become stale, so the fix could be splitting keys up for first NYT and seeing if that fixes the issue, then Apple.
@Collin-St will work on this

[2020-08-26 19:42] Collin-St opened #857 "[BUG] Check UK API status and adjust endpoint if necessary before letting the scraper fail"
**Describe the bug**
The UK API has a staging and a prod endpoint. They keep breaking one, and leaving the other working.

**To Reproduce**
Where the bug occurring? Examples:
*CURRENTLY*
This endpoint hangs for 5 minutes before returning results: [prod endpoint](https://api.coronavirus.data.gov.uk/v1/data?filters=areaName=United%20Kingdom;areaType=overview&structure=%7B%22date%22:%22date%22,%22tod

[2020-08-26 19:47] Collin-St commented on #857
Let me know if this makes sense. It aims to not fail - but maybe having the latest data is more important, and we should let it fail without updating redis?

[2020-08-26 22:33] ebwinters commented on #857
This makes sense for all endpoints, trying a timeout instead of running forever. I think a valid timeout is 10s for a request, and on failure, we don't update redis. Our update checker that @puf17640 is doing will catch that

[2020-08-28 13:00] #851 closed

[2020-08-30 14:18] #827 closed

[2020-08-30 14:45] #842 closed

[2020-09-01 20:20] ebwinters opened #861 "Vietnam scraper throws error [BUG]"
"Cannot read property 'updated' of undefined". See action logs from earlier this morning for more detail

[2020-09-02 00:01] ebwinters commented on #861
Also need to unskip-vietnam test

[2020-09-02 00:05] ebwinters opened #862 "Increase range for Worldometers in update checker"
We can safely increase range to `2*`

[2020-09-02 13:31] #861 closed

[2020-09-04 12:31] #862 closed

[2020-09-07 20:43] #853 closed

[2020-09-08 17:31] 1CM69 opened #865 "UK GOV Scraper"
There seems to be some inconsistency with the returned data for Deaths on the UK scraper, returned data does not match the GOV data webpage: https://coronavirus.data.gov.uk/deaths

It looks like the API call is missing the parameters: newDeaths28DaysByDeathDate & cumDeaths28DaysByDeathDate

as shown here:
https://api.coronavirus-staging.data.gov.uk/v1/data?filters=areaType=overview&structure=%7B%2

[2020-09-08 18:08] 1CM69 commented on #865
OK, I think that I have spotted what is going on.

My app scrapes the API at 6pm UK local time each day.

Today (2020/09/08) for instance the api returned a todayDeaths figure of 30 when the actual released figure from the UK Gov is 32.

Looking at the call: https://disease.sh/v3/covid-19/countries & scrolling to the UK data, the figure is displayed as 30 but looking at the call to: https://diseas

[2020-09-09 00:51] ebwinters commented on #865
We scrape our data on an interval. For that endpoint, it's very 10 minutes, so at times we will be behind the official source.

Also, you're querying an endpoint that uses Worldometers as the data source. We provide gov endpoints that scrape directly from the UK government

[2020-09-09 01:21] 1CM69 commented on #865
I would like to use your GOV Endpoint but for the UK there are no fields included that scrape the death data: https://disease.sh/v3/covid-19/gov/Uk

does not include the required fields:
newDeaths28DaysByDeathDate & cumDeaths28DaysByDeathDate

as I stated in my 1st post

This means that I have to get the Deaths data via the woldometer endpoints

Thanks

[2020-09-09 01:28] ebwinters commented on #865
This is an open source project, feel free to add them and make a pull request

[](https://media4.giphy.com/media/RywZsoVyGpHmE/giphy.gif)

[2020-09-09 01:41] 1CM69 commented on #865
OK, never done this before.

Something new to learn then.

From my 6+

[2020-09-09 12:09] ebwinters commented on #865
so you're basically going to
1. Fork the repo
2. npm install
3. Set up redis locally
4. Run the API
5. Make code changes
6. Make pull request

[2020-09-09 20:19] KevinNsimbe opened #866 "Delayed update of covid results"
Delayed update of covid results
My api only updates covid 19 results after a day

[2020-09-10 18:16] KevinNsimbe commented on #866
https://disease.sh/v3/covid-19/countries/Uganda?yesterday=true&twoDaysAgo=true&strict=true&allowNull=false

That's my API url. But I only get updates after a full day.
Below is the application screenshot I created.

On Thu, 10 Sep 2020, 15:55 Ethan Winters, <notifications@github.com> wrote:

[2020-09-11 00:30] ebwinters commented on #866
You have the yesterday parameter set to true. Take it out of the query.

[2020-09-11 00:30] #866 closed

[2020-09-11 06:28] KevinNsimbe commented on #866
Thanks now everything works well.

On Fri, 11 Sep 2020, 03:30 Ethan Winters, <notifications@github.com> wrote:

[2020-09-11 12:30] ebwinters commented on #865
This isn't really an issue so I'm gonna close it. Any further questions find us on Discord, or continue this thread

[2020-09-15 12:23] ebwinters opened #871 "Update Vaccine docs"
There is no longer a `funding` field, and instead we have a `mechanism` field which describes the type of vaccine in terms of injection vector

[2020-09-17 14:57] Kaedh commented on #871
Indeed! I will send a PR fixing it.

[2020-09-18 02:57] Collin-St opened #872 "Hash Apple redis data [Feature Req]"
**Is your feature request related to a problem? Please describe.**
Similar to NYT, restructure the Apple redis data from a single key into a hash.

**Describe the solution you'd like**
The `covidapi:apple_all` string value will instead be a hash, where each hash field is a country from the dataset. Subregions will stay inside their respective country field.

The Apple utility logic will need to ch

[2020-09-18 02:58] Collin-St commented on #872
I can work on this over the next week or so unless anyone else is eager to work on it.

[2020-09-18 12:31] ebwinters commented on #872
All you dude, you have the most context from the NYT refactor

[2020-09-22 12:17] #871 closed

[2020-09-22 22:39] ebwinters opened #875 "[BUG] Tests failing time after time"
We are failing tests because in gov endpoints, when one scrape fails, they all go down. The tests are also running for 1 hour, the hard limit.

Some logs from latest test run scraping:
[code]

Test results all gov tests fail like this:
[code]

[2020-09-22 22:41] ebwinters commented on #875
Oddly enough, in the live API, other countries are updating correctly - here's an Italy entry:
[code]
UK on the other hand is out of date. If scraping works for other countries in prod why not in testing??

[2020-09-23 03:10] ebwinters commented on #875
Columbia is the culprit, returning this response:
<img width="803" alt="image" src="https://user-images.githubusercontent.com/4297028/93962383-bf67ee00-fd28-11ea-965c-04b4b83e24d9.png">

[2020-09-23 05:19] Collin-St commented on #875
#876

[2020-09-23 13:16] #875 closed

[2020-09-23 17:31] Collin-St opened #877 "Add Stoplight indicators to Mexico state data [Feature Req]"
**Is your feature request related to a problem? Please describe.**
No. Just additional data which indicates the severity of the situation in a given state with a traffic light color.

**Describe the solution you'd like**
Use [this](https://coronavirus.gob.mx/datos/#SemaFE) page's data to add a `color` property to each state object.

A `stateID` from `getMexico.js` can be used to match against the

[2020-09-23 17:31] Collin-St commented on #877
I'll pick this up soon.

[2020-09-24 21:31] jmariani opened #880 "[QUESTION] Meaning of field "updated" in covidAll data model"
covidAll data model contains a field called "updated".
At first I thought it was the last update date in Unix Time format, but converting to date results in a nonsensical date ("52703-02-07T07:25:59-05:00").
What kind of information the field contains, and in what format

Thank you in advance!

[2020-09-25 02:53] ebwinters commented on #880
Confused what you mean by covidAll. If you're talking about covid19/all then it is currently 1601001820789, which is right

[2020-09-25 02:57] ebwinters opened #881 "[BUG] Colombia update checker"
remove Colombia from update checker. We no longer support this scraper

[2020-09-25 04:06] jmariani commented on #880
Hi!
I'm talking about "/v3/covid-19/all", model "covidAll". I know the number is right, but how do I convert that number to a Date? What "1601001820789" does mean?

Thanks!

[2020-09-25 05:00] EliteDaMyth commented on #880
@jmariani you were correct, it is an Unix timestamp. You can google how to resolve it to a proper date format. The thing you resolved is a proper date, just not in a readable format

[2020-09-25 05:00] EliteDaMyth commented on #880
I am closing this issue, this is unrelated to the API.

[2020-09-25 05:00] #880 closed

[2020-09-25 11:24] puf17640 commented on #880
this is related to the API.

@jmariani the 'updated' field is a UNIX timestamp. In JS you would convert it to a date by doing `new Date(data.updated)`, but you should be able to find out how to perform that conversion in any language quite easily, since most languages support this particular conversion from unix timestamp to date.

[2020-09-25 11:25] puf17640 commented on #881
fixed by 4fd9332

[2020-09-25 11:25] #881 closed

[2020-09-25 11:26] puf17640 commented on #830
good idea but this would also kill testing since we flush redis data all the time

[2020-09-25 12:35] ebwinters opened #882 "[BUG] Nigeria gov scraper failing"
**Describe the bug**
Nigeria is failing because they have a modal over their actual site
https://covid19.ncdc.gov.ng/report/

We need to somehow simulate a button click on the button with `class=close`

[2020-09-25 12:46] ebwinters commented on #882
Maybe not ... ?

[2020-09-25 13:10] jmariani commented on #880
Thank you very much!

[2020-09-25 22:46] Collin-St commented on #882
The modal doesn't stop our requests from receiving the page data. i did see the scraper failing intermittently though, probably for some other reason

[2020-09-26 14:00] #882 closed

[2020-09-26 14:00] ebwinters commented on #857
is this even happening anymore

[2020-09-26 23:45] Collin-St commented on #857
not right now, but it probably will based on the fact that it's happened like 5x already. i've got a simple solution i'll throw up this week.

[2020-09-27 13:44] #857 closed

[2020-09-28 06:28] Collin-St opened #886 "Provide an updated Postman collection in API/README.md"
It's really old. The website's docs are great, but lots of people use Postman and this would be handy.

[2020-09-28 12:26] #877 closed

[2020-09-28 12:28] ebwinters commented on #886
WDYM by this? Don't they have to update their stuff to reflect v3?

[2020-09-28 16:57] Collin-St commented on #886
Who's they? Postman collections are free to make and share, so one of us could do it ourselves.

[2020-09-28 19:24] Collin-St commented on #886
Oh, I see what you mean. Yeah we can't update the collection linked from the Postman article, but we can update the one we link to in the README.

[2020-09-29 19:13] CovidMexico opened #887 "[Feature Req] Covid-19 projections from UCLA Statistical Machine Learning Lab"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
An endpoint for Covid-19 projections from the UCLA Statistical Machine Learning Lab based on the data from this site: https://covid19.uclaml.org/index.html

- Include US and World projections.

**Additional context**
After looking for several models, found that the UCLA is one of the best. T

[2020-09-30 12:52] ebwinters commented on #887
I am hesitant on this, since we have defined our goal around reporting hard data, pulling from multiple sources. We had something similar to this come up a few months back, and decided against it -- @puf17640 @PrincessRavy @EliteDaMyth any thoughts?

[2020-09-30 13:09] puf17640 commented on #887
Well, the proposal back then was for us to create such a model, do I recall correctly?

[2020-09-30 13:33] EliteDaMyth commented on #887
I think it was when the data was already available in json format, we made thst decision. But this data seems to be available in only csv format, so serving it as json might not be a bad idea.

[2020-10-01 12:34] ebwinters commented on #887
@CovidMexico Do you want to do this work?

[2020-10-01 16:34] CovidMexico commented on #887
I'd like to, but actually I have zero experience with the way you guys work and the github plataform.

[2020-10-02 01:48] ebwinters commented on #887
Github is a good platform to learn how to use. However, if you don't want to, maybe someone else will pick up the work. It will be the same as adding an endpoint, however, it will be directed to a subdomain for `disease.sh.predicitions/...`

[2020-10-02 12:40] ebwinters commented on #887
Would you know how to add the feature to our code base locally @CovidMexico

[2020-10-03 16:58] TotallyNotInUse opened #891 "[BUG] Info gets reset in the night before 12AM"
**Describe the bug**
So the info about today's cases gets reset sometime in the night but before 12AM (CST) and it's annoying since data appears at 2PM and disappears some time around 7 to 8PM

**To Reproduce**
1. Use the [endpoint](https://disease.sh/v3/covid-19/countries/cr?yesterday=false) after 2PM but before 7PM and you'll get data from today.
2. Use the endpoint after 7PM and you'll get 0

*

[2020-10-03 23:06] ebwinters commented on #891
TBH, I have no idea what you're trying to say here. The endpoint seems to be working fine -- as per Worldometers:

[2020-10-03 23:06] #891 closed

[2020-10-05 12:50] ebwinters opened #894 "RAPS 404"
Vaccine and therapeutics endpoints will not be updated, and tests will fail
https://www.raps.org/500.html?aspxerrorpath=/CMSPages/PortalTemplate.aspx

Source returning 404. If this keeps going for multiple days we will need to change something, but lets wait to see if it is transient

[2020-10-06 03:39] phamleduy04 commented on #894
maybe they fixed the bug, my PR unittest is passed. #890

[2020-10-06 12:25] #894 closed

[2020-10-07 13:28] ebwinters opened #900 "DNS Error on Github Test Runner"
[code]
Causes the following failures:
[code]
Not sure why this happens because it works locally, and in production, making me think GH is blocked by S.Korea servers?

[2020-10-07 19:58] ryanlsmith4 commented on #887
I would be interested in doing this if it's still on the table

[2020-10-07 21:29] ebwinters commented on #887
@ryanlsmith4 it is still on the table. One thing we want to do is make a subdomain for predictions, since it is not hard data. But once you get the feature working down the line, we can coordinate setting up a CNAME record and routing it!

[2020-10-07 22:11] ryanlsmith4 commented on #887
Cool, Thanks @ebwinters starting dev soon!

[2020-10-08 13:16] ebwinters opened #905 "Add South Korea to Update Checker"
Adding to endpoints will fix this:
[code]

[2020-10-08 20:18] Dnguye92 commented on #905
@ebwinters can I hab?

[2020-10-08 20:19] ebwinters commented on #905
yessir @Dnguye92

[2020-10-09 12:48] #905 closed

[2020-10-09 13:11] #900 closed

[2020-10-09 15:31] #830 closed

[2020-10-10 17:29] ebwinters opened #913 "Use proxy for Austria request"
Log from production scraper

[code]

[2020-10-12 12:59] #913 closed

[2020-10-12 22:19] ebwinters commented on #886
Issue Update
--------------
The goal of this issue is now to create our own Postman collection reflecting our docs [here](disease.sh/docs)

[here](https://learning.postman.com/docs/getting-started/creating-the-first-collection/) is a good overview of how to create a collection

And in the end you will be able to update the postman collection link in our README to reflect the updated collection. [H

[2020-10-13 19:55] Dnguye92 commented on #886
@ebwinters mind if I grab this one?

[2020-10-13 20:10] ebwinters commented on #886
@Dnguye92 for sure!

[2020-10-14 08:20] Dnguye92 opened #915 "Fix input size on home page"
**Describe the bug**
The size of the button and/or input is broken (shown below).

**To Reproduce**
Where the bug occurring? Examples:
- This is happening on the homepage and it seems like its happening only on chrome (Version 86.0.4240.75)

**Expected behavior**
- Input + button size should be consistent on all browsers and viewports

**Screenshots**
![image](https://user-images.githubusercontent

[2020-10-14 09:05] puf17640 commented on #915
Yeah, you don't use pixels for padding in responsive designs, I wouldn't have used vh and vw but it should be some relative value

[2020-10-14 13:07] ebwinters commented on #915
@Dnguye92 are you planning to fix this? Can't repro - I use FF

[2020-10-14 18:52] Dnguye92 commented on #915
@ebwinters yeah I can fix it if you'd be kind enough to add a `hacktoberfest` tag on it :). I see it only on chrome desktop.

[2020-10-14 18:54] ebwinters commented on #915
Make a PR and it will be added automatically @Dnguye92

[2020-10-14 19:17] Dnguye92 commented on #915
PR fix is [here](https://github.com/disease-sh/API/pull/916)

[2020-10-14 19:43] Dnguye92 commented on #886
@ebwinters I have the collection file ready assuming you guys would be the ones to publish it

[2020-10-14 23:33] ebwinters commented on #886
tbh i dont know how that works do we need a postman acct?

[2020-10-14 23:39] Dnguye92 commented on #886
@ebwinters yeah I believe so. I could just send you guys the collection file and you guys publish it or click "View in web" when you load the collection in postman and see how it looks then publish from there.

![image](https://user-images.githubusercontent.com/17717354/96056589-dc7d7180-0e3b-11eb-9f52-71d1511b0a0b.png)

[2020-10-14 23:49] ebwinters commented on #886
Can you make a PR with the file included

[2020-10-14 23:56] Dnguye92 commented on #886
@ebwinters sure thing PR is here https://github.com/disease-sh/API/pull/917

[2020-10-15 06:54] puf17640 commented on #886
👍

[2020-10-18 15:23] #915 closed

[2020-10-19 04:46] rohansp commented on #887
I would like to contribute to an enhancement or a bug or feature? I am experienced in ASP.NET, C#, JavaScript, SQL Server and Oracle.Any positive suggestions are welcome.

[2020-10-19 10:56] puf17640 commented on #887
there currently aren't any free issues to work on, but you can have a look at the codebase and if there is something you would want to enhance, you can create an issue and we can discuss 👍

[2020-10-19 13:15] ebwinters commented on #887
You can make a Nuget package as a Wrapper?

[2020-10-20 02:38] rohansp commented on #887
@ebwinters Is this message for @ryanlsmith4 or me?

[2020-10-20 02:43] ebwinters commented on #887
You lmao

[2020-10-20 05:20] rohansp commented on #887
@ebwinters @puf17640 @ryanlsmith4  What is the package repository url? What files need to be in the package? Can you be more specific what needs to be done?

[2020-10-20 14:03] ebwinters commented on #887
I don't really know what needs to be done, I've never written a NuGet package. We have other wrappers for Python and Node, so this is what I was thinking

[2020-10-20 14:05] rohansp commented on #887
Okay. Will work on this item.

[2020-10-27 14:11] mohkhz2001 opened #928 "newRecovered Data"
plz add  todayRecovered  to the API.
or tell me how can I use them.
thanks

[2020-10-28 12:27] ebwinters commented on #928
@mohkhz2001 For what endpoint?

[2020-10-29 04:05] vutuanlinh2k2 opened #930 "All the todayCases, todayRecovered and todayDeaths for a specific country are 0 while they still appear when looking for all countries. Please check back!"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Where the bug occurring? Examples:
- Live URL for endpoint?
- Server side?
- Development environment?

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other cont

[2020-10-29 04:16] vutuanlinh2k2 commented on #930
<img width="498" alt="Screen Shot 2020-10-29 at 11 14 06 AM" src="https://user-images.githubusercontent.com/69841784/97524826-1c199100-19d8-11eb-8931-dd561c80e57f.png">
<img width="434" alt="Screen Shot 2020-10-29 at 11 14 39 AM" src="https://user-images.githubusercontent.com/69841784/97524838-1e7beb00-19d8-11eb-8f23-26eb34c37c1d.png">

[2020-10-29 04:18] vutuanlinh2k2 commented on #930
<img width="534" alt="Screen Shot 2020-10-29 at 11 17 12 AM" src="https://user-images.githubusercontent.com/69841784/97524983-68fd6780-19d8-11eb-8b9a-9b71d97a3fa6.png">
<img width="525" alt="Screen Shot 2020-10-29 at 11 17 33 AM" src="https://user-images.githubusercontent.com/69841784/97524984-6a2e9480-19d8-11eb-930e-e2d7479bec10.png">

[2020-10-29 12:18] ebwinters commented on #930
if you actually visit the live endpoint, not the swagger example, you will see real data: https://disease.sh/v3/covid-19/countries/af?strict=true

Swagger is for documentation, the 0 simply represents that you can expect an `int` for that field.

[2020-10-29 12:18] #930 closed

[2020-10-29 12:58] mohkhz2001 commented on #928
sorry I asked you that question by mistakes
https://disease.sh/v2/v2/historical/${arg} ==> how can I use this or https://disease.sh/v2/v2/historical ??

[2020-10-29 13:13] nibble0101 opened #931 "Id for Sudan is incorrect"
**Describe the bug**
When I fetch data for all countries using `https://disease.sh/v2/countries` and inspect the data  for Sudan, I get something like the following.
[code]
You will notice that the value of `sudan.countryInfo._id` is `736`. My understanding is that this is [`ISO numeric code`](https://en.wikipedia.org/wiki/ISO_3166-1_numeric) for Sudan (Correct me if I am wrong). `736` is  the num

[2020-10-29 13:38] EliteDaMyth commented on #931
https://github.com/disease-sh/API/blob/master/utils/countries.js is the file to be edited, you're open to make a PR. If not I'll fix it in about an hour :)

[2020-10-29 13:45] neo7337 commented on #931
I would be changing the ISO numeric code to 729 for Sudan. I will raise the PR

[2020-10-29 13:48] nibble0101 commented on #931
@neo7337  It is okay. Go ahead and make a PR.

[2020-10-29 13:52] neo7337 commented on #928
@mohkhz2001  You can use the Docs for using the API:
https://disease.sh/docs/

https://disease.sh/v3/covid-19/historical  --> for historical this would be the endpoint!

[2020-10-29 14:07] EliteDaMyth commented on #931
#932 fixed.

[2020-10-29 14:07] #931 closed

[2020-10-29 14:23] nibble0101 commented on #931
@EliteDaMyth  How long will it take for this to be deployed?

[2020-10-29 17:40] EliteDaMyth commented on #931
@nibble-4bits should be pretty much instant, the cache might make it take a bit longer, but it should be deployed and working by now

[2020-10-29 17:51] nibble0101 commented on #931
Thanks. It has been deployed.

[2020-10-30 11:54] mohkhz2001 commented on #928
@neo7337 thank you.

[2020-10-30 13:23] EliteDaMyth commented on #928
Assuming this is resolved. closing! if you have an other issues re-open or join our discord!

[2020-10-30 13:23] #928 closed

[2020-11-10 14:12] Stijndes opened #937 "[BUG]Specific country search data doesn't match all country data"
When i request the data for Belgium from the specific endpoint i get this
![image](https://user-images.githubusercontent.com/36887748/98684669-bda0cb00-2366-11eb-8647-9dcf98a514ef.png)
which is correct as far as i know
but when requesting all countries you get this for Belgium, you can see the data doesn't match
![image](https://user-images.githubusercontent.com/36887748/98684751-d5784f00-2366-11e

[2020-11-11 14:32] ebwinters commented on #937
The responses are matching now, sometimes there are anomalies with the data due to caching. We update this data every 10 minutes, so it is possible one endpoint was behind the other, but now are fine:
https://disease.sh/v3/covid-19/countries/
https://disease.sh/v3/covid-19/countries/belgium

[2020-11-11 14:32] #937 closed

[2020-11-11 18:10] SuperMnr opened #938 "[BUG] Recovered values for Canada"
**Describe the bug**

In historical statistics, all the recovered values for Canada are at 0.

**To Reproduce**

- Live URL for endpoint : https://disease.sh/v3/covid-19/historical/Canada?lastdays=30

[2020-11-13 13:59] ebwinters commented on #938
This was by design, due to how JHUCSSSE format's their data for Canada only. You can see here, we are getting cases data from [this](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv) file:
<img width="1191" alt="image" src="https://user-images.githubusercontent.com/4297028/99079192-96781280-258d-11eb-8e55-4

[2020-11-13 16:10] bhaidar opened #940 "Worldometer cells -"
Hi,
While going through the code for the worldometer scraper, I noticed the following:

[code]

Every row in the worldometer table has 14 columns only. Starting with index 0 to 14. However, the code above checks for cell number 15.

Is there something hidden in here or it needs a quick fix?

Thanks
Bilal

[2020-11-13 17:08] ebwinters commented on #940
yes, it is for the continent name. If you want to PR a comment in the code to avoid future confusion, go ahead though.

![image](https://user-images.githubusercontent.com/4297028/99099816-f7f9aa80-25a8-11eb-8326-9e83f00b2f10.png)

[2020-11-13 17:08] #940 closed

[2020-11-14 06:02] bhaidar commented on #940
Hi @ebwinters I can't see more than 15 columns hence index 15 is out of bounds. Maybe there is something I am not seeing in here.

![Screenshot 2020-11-14 at 7 59 34 AM](https://user-images.githubusercontent.com/1163421/99141035-845ea880-264f-11eb-8f7d-76d4598775b0.png)

[2020-11-14 06:36] ebwinters commented on #940
Display none ...

[2020-11-14 13:02] bhaidar commented on #940
Hi @ebwinters On the Worldometer page, there is a Columns selectbox. There are a few columns not selected by default. When selected, they appear inside the table. It seems Cheerio is bringing all those columns even if not selected inside the selectbox. Hence, it makes sense now.

[2020-11-14 16:37] ebwinters commented on #940
@bhaidar if you want to make a comment in the code on this, feel free

[2020-11-14 16:38] ebwinters commented on #938
@SuperMnr do you want to work on this or nah?

[2020-11-14 16:38] #886 closed

[2020-11-14 20:32] bhaidar commented on #940
@ebwinters Sure I will.

[2020-11-16 06:27] nibble0101 commented on #938
@ebwinters . It appears nobody else is interested in fixing this issue. Can I work on it?

[2020-11-16 06:38] puf17640 commented on #938
Sure! I'll assign you, are you a member of our discord server? If not, you might wanna join so you can ask stuff if something isn't clear. :+1:

[2020-11-16 17:24] nibble0101 commented on #938
@ebwinters  @puf17640  Can you guide me on how to proceed here?

[2020-11-17 13:38] ebwinters commented on #938
First you need to set up your local env (steps in the readme). Then you'll need to mess around with the `historical.js` file to make an edge case for canada when we are matching recovered data with cases data. We match them up in a loop like this:
[code]
Right now there is no country/province in the recovered data, there is just canada with no province.

[2020-11-17 15:33] nibble0101 commented on #938
@ebwinters  Thanks.

[2020-11-17 23:50] tazz4843 opened #943 "[Feature Req] Allow getting data for all US counties from /v3/covid-19/historical/usacounties/all endpoint"
**Is your feature request related to a problem? Please describe.**
Currently, you have to iterate over all the states in `v3/covid-19/historical/usacounties` and make a request for each of those. This is ~60 extra requests to the API.

**Describe the solution you'd like**
Add a new endpoint: `v3/covid-19/historical/usacounties/all` that would return all of the US states data, as if you had made al

[2020-11-18 13:50] ebwinters commented on #943
It's a good idea, but the data is too large to return over one endpoint, we tried this before actually. Not only is the endpoint extremely slow, but we are unable to test it as well

[2020-11-18 13:50] #943 closed

[2020-11-19 23:56] winnyschuster opened #945 "[BUG] government data for DE is outdated by 4 weeks"
**Describe the bug**
data seems not have been updated since Oct 21st(field: updated), cases reported are old too. The site used in the scraper however shows actual data as of today

**To Reproduce**
Where the bug occurring? Examples:
- ttps://disease.sh/v3/covid-19/gov/de
- Server side? happening in Browser
- Development environment? n/a

thanks!

**Expected behavior**
endpoint should show actual

[2020-11-20 14:11] ebwinters commented on #945
We stopped maintaining the gov endpoints since at least one was failing almost every day. If you would like to examine wh it is failing, make a fix, and PR, we will gladly accept it.

[2020-11-20 14:11] #945 closed

[2020-11-20 14:55] winnyschuster commented on #945
code is working great if run in my own environment, looks like a (caching?) failure on disease.sh. thanks anyway

[2020-11-26 15:47] ebwinters opened #949 "Refactor RAPS scraping methods by placing reused code in utils"
The do while block and cookie jars need to be moved

[2020-12-01 18:20] jaspreetsethi opened #951 "[BUG]"
When trying to call the API from a java program keep getting this error
java.io.IOException: Server returned HTTP response code: 403 for URL: https://disease.sh/v3/covid-19/all

Expect the program to output the JSON response for the URL endpoint.

[2020-12-02 02:04] ebwinters commented on #951
can you put your java code in the issue, as well as what country you are in? The endpoint is clearly working correctly in the US..

[2020-12-09 04:23] meirroth opened #953 "Israel Gov API braking changes"
**Describe the bug**
It seems like the the the [API](https://datadashboard.health.gov.il/COVID-19/general) for Israel data has been modified so some data is missing at the [endpoint](https://disease.sh/v3/covid-19/gov/israel).

**To Reproduce**
Where the bug occurring? Examples:
- https://disease.sh/v3/covid-19/gov/israel
data missing for healthPersonnel

**Additional context**
I will look into it

[2020-12-09 08:04] jaspreetsethi commented on #951
Hi, thanks for the reply. I am trying to access it from Dubai, UAE. Here is the code:

package webscraper;

import java.io.BufferedReader;
import java.io.InputStreamReader;
import java.net.HttpURLConnection;
import java.net.URL;
import java.util.Scanner;
import org.json.simple.JSONArray;
import org.json.simple.JSONObject;
import org.json.simple.parser.JSONParser;

public class webData {
    public

[2020-12-09 13:13] ebwinters commented on #953
Cool assigning to you

[2020-12-09 13:14] ebwinters commented on #951
Try this URL instead: https://corona.lmao.ninja/v3/covid-19/all

[2020-12-10 13:18] #953 closed

[2020-12-10 13:18] ebwinters commented on #951
closing unless that didn't work

[2020-12-10 13:18] #951 closed

[2020-12-12 18:28] ShowMeYourSkil opened #959 "[QUESTION] Daily cases"
Hey,

users of my covid dashboard have asked if it is possible to display the cases or deaths within 24 hours. Do you have a solution from your side how I can implement it?

[2020-12-12 23:56] ebwinters commented on #959
Yeah can you send a link to your dashboard it would help me understand your question better. I think we have multiple solutions baked in though 🤠

[2020-12-13 08:14] ShowMeYourSkil commented on #959
https://covid.progen-bot.de

I want to create a new category called ,,Daily Cases". It will show the new cases in 24hours.

[2020-12-13 12:38] ebwinters commented on #959
First of all here is a link to our docs: https://disease.sh/docs

Solution #1: `all?yesterday=true` will give you a row of data called `todayCases` which has the data. See here: https://disease.sh/v3/covid-19/all?yesterday=true

Solution #2: `historical/all?lastdays=2` will give you the last two days of cases/deaths/recoveries globally. Just subtract the previous day from the last entry. See here:

[2020-12-13 12:38] #959 closed

[2020-12-15 19:12] martoiu opened #960 "[Feature Req] Worldometers specific/all dates"
It would be very handy if the Worldometers API could return all available dates. Or alternatively to be able to query a specific date in the past.

I store the values in a database and would like to see how the epidemic evolves, but I miss the historic data and sometimes I forget to update for more than two days.

Many thanks in advance,

Mihai

[2020-12-16 02:32] ebwinters commented on #960
A couple things.
1. Worldometers TOS prohibits the storing of their data, which I guess we technically do, but it's more caching since we just reflect what's on their site, and update that value ever ~10min. We can't officially do this in our API, but it's open source, so if you want to deploy to your own server (probably free tier on Azure/AWS) feel free.
2. We have historical endpoints that you

[2020-12-16 02:32] #960 closed

[2020-12-18 10:20] josmanperez opened #961 "About meaning of some fileds"
Hello!,

I want to know where I could find info about the meaning of some fields. For example, what is the difference between "cases" and "active":

`{
"cases": 1805633,
"active": 1756856,
}`

Thank you so much

[2020-12-18 16:26] ebwinters commented on #961
What endpoint are you talking about? We have our sources posted in the docs/readme, so if you check those sources you will get a better idea (my guess is active is the number that is currently not recovered or dead).

Also, if you want to extend this info into our docs by making a PR, that would be greatly appreciated

[2020-12-18 21:05] josmanperez commented on #961
Hello,

I'm talking about the `countries` endpoint, but also the `all` has that too. I search the docs on this page: https://corona.lmao.ninja/docs/#/COVID-19%3A%20Worldometers/get_v3_covid_19_all maybe I'm not going to the actual page... If you point me out in the right direction I would love to contribute :)

Also, doing some test, it the **all** endpoint, the `updated` filed (this endpoint: `ht

[2020-12-18 21:47] jmariani commented on #961
“updated" field is a JS timestamp

Sent with Unibox

[2020-12-19 05:26] nibble0101 commented on #961
What service are you using to convert that date? When I run the code below, I get `Fri, 18 Dec 2020 20:59:16 GMT`.
[code]

[2020-12-19 14:31] ebwinters commented on #961
@josmanperez we get the all and countries data from [here](https://www.worldometers.info/coronavirus/), so check their column descriptions to be sure.

It looks like @nibble0101 was able to turn the date into a valid date string.

As for contributing, it looks like Swagger has a way to update descriptions for returned fields:
<img width="790" alt="image" src="https://user-images.githubusercontent.

[2020-12-19 14:31] #961 closed

[2020-12-21 09:34] josmanperez commented on #961
I was using **UNIX timestamp converter.** Since this is a JS timestamp (as you said). The UNIX timestamp is an integer that represents the number of seconds elapsed since January 1, 1970. The timestamp in JavaScript is expressed in milliseconds.

Thank you so much!

[2020-12-24 09:37] olafsozanski opened #962 "[Feature Req] todayTests field on COVID-19 stats"
It would be great if COVID-19 API contains todayTests field. 😃

[2020-12-24 13:26] ebwinters commented on #962
we don't have a source for that data. Do you? If so you can contribute it!

[2020-12-24 13:26] #962 closed

[2021-01-02 19:37] meirroth opened #966 "[Feature Req] Vaccine Related Stats"
**Is your feature request related to a problem? Please describe.**
This is more of a suggestion and less of a request.
Consider adding data on the number of people vaccinated worldwide and per country.

**Describe the solution you'd like**
Possible data source:
https://ourworldindata.org/covid-vaccinations

Thank you!

[2021-01-02 19:40] nibble0101 commented on #966
That is a good suggestion. I like it.

[2021-01-03 05:50] nibble0101 commented on #966
@ebwinters  @EliteDaMyth  If you decide to include this data, I am interested in taking it up.

[2021-01-03 06:38] EliteDaMyth commented on #966
sure! you are always open to make a PR!

[2021-01-03 20:26] ebwinters commented on #966
just saw this. Looks like a great thing to add. @nibble0101 I'd add it under a route /covid-19/vaccine/tracking or something

[2021-01-04 14:28] stijndcl commented on #966
If you decide to add per-country stats, could it be an idea to add it under `/covid-19/countries/[country_name]` instead? Just like the `cases` and `todayCases` fields, you'd have `vaccines` and `todayVaccines` or something similar. This way all stats of a country can still be retrieved in one go & are centralized in one place. It also makes it easier for people with applications to add this in (a

[2021-01-04 17:13] meirroth commented on #966
I like that idea of having country specific vaccine data added to the current covid-19 country endpoint.
However there still needs to be a new endpoint for worldwide vaccine data.

[2021-01-04 18:28] stijndcl commented on #966
Yes, one centralized place for vaccine-related info is definitely useful. I just thought that it would be cumbersome to get "country info", and then have to send another request to get another part of that country's info.

PS. Can't global vaccination stats (`total` and `today`) be added to `/covid-19/all`, considering that it also serves as a place to see global stats? In _addition to_ the new va

[2021-01-04 20:38] ebwinters commented on #966
While this is a good idea, it isn't how our API is set up. We have different endpoints serving from different sources of data, and I don't want to mix that up for vaccines, especially since we already have a vaccine endpoint.

[2021-01-05 09:15] DutchmanNL commented on #966
the current endpoints are not yet providing any vac data right ?
I have a source for Germany but that will not help for other countries :), can share if it helps ?

[2021-01-05 13:06] ebwinters commented on #966
No, only vaccine progress data, and I think the source is sort of broken. This work would be very helpful

I'd rather just stick to this global source instead of a German endpoint, but if you want to work with @nibble0101 on it that would be nice

[2021-01-10 09:04] ohlesl1e opened #972 "[BUG] Historical Recovered Numbers for USA"
Describe the bug

In historical statistics, the recovered numbers for USA are 0 since Dec 14th 2020.

To Reproduce

    Live URL for endpoint : https://disease.sh/v3/covid-19/historical/USA?lastdays=all

[2021-01-10 15:05] ebwinters commented on #972
Our source has made an announcement for why this happened:
Announcement: https://github.com/CSSEGISandData/COVID-19/issues/3464
Reasoning: https://covidtracking.com/about-data/faq#why-have-you-stopped-reporting-national-recoveries

[2021-01-10 15:05] #972 closed

[2021-01-11 14:05] #938 closed

[2021-01-11 14:05] ebwinters commented on #887
@rohansp any update

[2021-01-11 14:07] ebwinters opened #974 "Run only related tests on PR"
Would be cool if we had some way to run only the related testing files based on PR code changes. Sometimes PRs are blocked by unrelated testing failures, and this would be a cool devops item to look into.

[2021-01-12 07:08] puf17640 commented on #974
yeah that would actually be awesome but we would need some mechanism to choose which tests are going to be run which means we would need to make clear which test file is for which 'api file'

[2021-01-12 07:08] puf17640 commented on #974
if you have any ideas, go on, i probably dont have time to help much other than think it through with you but this is really a great idea

[2021-01-12 13:07] ebwinters commented on #974
@puf17640 this is literally my job, my team is called "intelligent testing" lol. I'm thinking we have some sort of JSON file or something simple that maps files to tests, nothing too crazy tbh

Then during the YAML pipeline we do a couple things:
1. Have a script that takes changed files as the input
2. Script generates a .txt file on the machine with list of correlating test files
3. Call `test`

[2021-01-12 14:22] puf17640 commented on #974
sounds sexy! if you need my help, you know where to find me 👍

[2021-01-13 20:44] ebwinters commented on #974
shouldn't be too hard, I already have a semi-working example on a feature branch. Basically
1. Get all changed files
2. Pass as a parameter to a short node script mapping files to test(s)
3. Write tests to a .txt file
4. Copy .txt file to docker image
5. If txt file is present in test image, pass it as input to the `mocha` command, similar to `test-single`

[2021-01-17 13:08] Gregory95 opened #976 "Cyprus"
Hello my name is Grigoris, i am junior software developer.  I would like to mention an issue that as a citizen of Cyprus bothers me.  First of all, you return Cyprus  as a country that belongs to Asia but its not.  Cyprus is an independent country and it belongs to European union since 2004.  North Cyprus is not recognized from UN as a legitimate state.  So please make sure that Cyprus belongs to

[2021-01-17 14:51] ebwinters commented on #976
Hello.

We listing Cyprus as a part of Asia because our source does so:
<img width="1258" alt="image" src="https://user-images.githubusercontent.com/4297028/104846643-8b04d880-58a9-11eb-95fe-860389966499.png">

If it is really bothering you, you can make a PR with some edge case code to re-write the continent as Europe

[2021-01-17 14:51] #976 closed

[2021-01-17 14:57] ebwinters commented on #974
closes with #975

[2021-01-17 14:57] #974 closed

[2021-01-17 23:19] meirroth opened #977 "[QUESTION] -5,992,171 Recovered on Monday, Dec 14"
A while ago I notice a big drop in recoveries on the daily stats graph (see screenshot) -5,992,171 Recovered on Monday, Dec 14.
On Worldometer it shows 479,426 new recoveries on that day.
I thought it was an error and it would be fixed by the source. But Its still there... any idea why the big drop?

I am sorry if this is not the place to report issues related to the actual data, I was not sure wh

[2021-01-17 23:23] meirroth commented on #977
Not sure how to remove label...

[2021-01-17 23:46] ebwinters commented on #977
I looked at your dashboard and you are using this endpoint: https://disease.sh/v3/covid-19/historical/all?lastdays=all

TBH, I think you are doing calculations on your side that's messing this up. The data:
[code]
The change between these two amounts happens to be 5992171, which you could've only gotten doing some data-transformation on your side

[2021-01-17 23:46] #977 closed

[2021-01-18 03:16] meirroth commented on #977
Hi,
The way I am doing it is by subtracting the previous day from the last entry, so here it would be:
New recoveries on 12/14/20 = (total recoveries to this date) 41327851 - (total recoveries the day before) 47320022
= -5992171.
I still don't understand...
Would you please explain it to me?

[2021-01-18 14:14] ebwinters commented on #977
ok then that's where the negative number is coming from. It's not an issue with our API, seems to be something with your own code, so not much else I can help you with there

[2021-01-18 19:10] lukehecht opened #978 "Feature Request - Change how Vaccine data is returned"
The daily vaccine data is returned with the date as the key (see below)
![image](https://user-images.githubusercontent.com/17548106/104954745-ba5a3900-59c0-11eb-83df-2c454c0b24b4.jpeg)
 but using numbers and special characters as JSON keys makes it a nightmare to work with.

May I suggest reformatting the response to give each set of data its own object within the main data object? I’ve included a

[2021-01-18 21:42] chcald commented on #978
Hello, I've fixed the problem, please let me access to commit

[2021-01-19 13:56] ebwinters commented on #978
@chcald make a pull request

[2021-01-19 13:57] #966 closed

[2021-01-19 14:32] chcald commented on #978
I do not have permission to push, I would need to push my branch to create the PR. Thanks

[2021-01-19 15:15] rohansp commented on #887
Sorry for late response. I am tied up job change preps and my current day job. Anybody else wants to take this up can do so.

[2021-01-19 19:10] ebwinters commented on #978
@chcald make a fork and push your changes there, then make a PR 😃

[2021-01-19 20:10] nibble0101 commented on #887
@ebwinters  You can assign it to me if no one is willing to take up this.

[2021-01-19 21:13] ebwinters commented on #887
@nibble0101 I'm not sure how useful this would be TBH, and I don't really even want it in our API. Going to close it thanks for offering to pick it up though. If more useful work comes along I will let you know

[2021-01-19 21:13] #887 closed

[2021-01-20 16:55] stijndcl opened #979 "[BUG] Incorrect/inconsistent vaccine data"
**TLDR**: same query with different result, same dates with different result, queries were seconds apart.

**Describe the bug**
I noticed my script that uses the API gave odd results, and decided to take a look at the output (directly from your site `disease.sh/docs/`): the API doesn't return the same data consistently. Depending on what query you use, you might get different dates, and even when

[2021-01-20 18:43] nibble0101 commented on #979
@stijndcl  I can't reproduce the problem otherwise I would have helped fix this. Have you tested this at different times and it keeps recurring because I don't see it on my end?

[2021-01-20 19:44] stijndcl commented on #979
@nibble0101 Do you have any idea of the timestamps on which you scrape the data? It's doable to check where this came from by going off of the commit history of the source for this endpoint (which the docs say is [this](https://github.com/owid/covid-19-data/commits/master/public/data/vaccinations/country_data/Belgium.csv)). I could provide timestamps & states of my requests as well.

[2021-01-20 20:13] nibble0101 commented on #979
@stijndcl  I did ask the fellows working on the data source while working on the vaccine data PR. They update 24 hourly though  sometimes more than once a day. I believe it is scraped 24 hourly on the server too. Essentially it looks like it was last scraped on `2021-01-18` or  the source updated for `2021-01-19` as highlighted [here](https://github.com/owid/covid-19-data/blob/master/public/data/v

[2021-01-21 13:41] ebwinters commented on #979
hey @stijndcl I'll get more time to look at this on the weekend, will update the issue then

[2021-01-23 14:45] ebwinters commented on #979
@stijndcl I just tested this out, and whatever issue you were having seems to be fixed:
https://disease.sh/v3/covid-19/vaccine/coverage/countries/belgium
https://disease.sh/v3/covid-19/vaccine/coverage/countries/belgium?lastdays=3

[2021-01-23 14:45] #979 closed

[2021-01-23 23:01] ebwinters commented on #978
@chcald bro?

[2021-01-23 23:02] ebwinters commented on #949
raps is bork anyways 😩

[2021-01-23 23:02] #949 closed

[2021-01-27 12:16] spekulatius opened #981 "Repo link?"
Hey,

great initiative! I wanted to leave you a hint on SEO / promoting your project further. The link in the repo settings is very beneficial for your SEO - maybe you want to add it in? Takes seconds, but is very good for your website!

![image](https://user-images.githubusercontent.com/8433587/105989669-e198c080-60ba-11eb-9c0a-6f9f3572dd51.png)

Cheers,
Peter

[2021-01-27 12:34] ebwinters commented on #981
done, thanks!

[2021-01-27 12:34] #981 closed

[2021-02-09 18:28] meirroth opened #984 "[BUG] Israel Gov timeline not updating"
**Describe the bug**
At the Israel gov endpoint: https://disease.sh/v3/covid-19/gov/israel
data.timeline does not have any new data since 2021-01-13
this is probably do to a change on the gov API.
I am looking into it.

[2021-02-10 13:39] ebwinters commented on #984
Nice, assigning this to you. We don't keep the gov endpoints in line, since usually people just contribute them and use them themselves. They also break frequently

[2021-02-13 07:34] nibble0101 commented on #872
@Collin-St  and @ebwinters . Has this been fixed? I don't see any activity here for quite some time. I am  new to redis but i would love to try fixing this if you don't mind.

[2021-02-13 15:00] ebwinters commented on #872
@nibble0101 It has not. I'll assign it to you!

[2021-04-05 14:07] AmrHE opened #987 "The numbers coming from the API for many countries are not accurate[BUG]"
**Describe the bug**
In other words, it returns zeros for today Cases, recovered, and deaths

**To Reproduce**
Where the bug occurring? Examples:

- Development environment

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the proble

[2021-04-05 18:19] ebwinters commented on #987
![image](https://user-images.githubusercontent.com/4297028/113609514-e2e5ec80-9619-11eb-80b9-1a1bcb0a0013.png)
You can see here, the source does not have this data in for many countries at the moment. We check it every 10 minutes, so when it appears, we will reflect those changes shortly after.

[2021-04-05 18:19] #987 closed

[2021-04-15 07:39] comster opened #990 "[Feature Req] Track US States Vaccine Coverage Data"
Like the Vaccine Coverage data for countries, we should include data from US States available from the same data source.

Data source: https://github.com/owid/covid-19-data/blob/master/public/data/vaccinations/us_state_vaccinations.csv

Example endpoint: `/v3/covid-19/vaccine/coverage/states/{state}`

[2021-04-15 07:47] comster commented on #978
Hmm, idk if this is the right thread but...

It would also be nice to include more data/fields which appears to be in the source like:

`total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million`

Total is nice, but since some

[2021-04-15 12:58] ebwinters commented on #990
This is a good idea, if I get some time over the weekend I'll give it a go

[2021-04-17 06:07] comster commented on #990
Sure, I'll give it a shot!

[2021-04-17 22:17] mahmood-kn opened #992 "Postman collection is not available for v3"
Hi and thank you for this great API.

Please made a Postman collection for version 3.

[2021-04-18 13:50] #990 closed

[2021-04-28 16:13] comster commented on #978
@nik-suri I see that #993 somewhat addresses this, but unfortunately I see that it's still missing useful data provided, namely `people_fully_vaccinated`.  Any chance of getting that included in the `fullData` response?

[2021-04-29 05:57] nik-suri commented on #978
@comster I see, this would require updates to the scraper `getVaccine.js` to include those data points in Redis as well. Since this issue is closed with the 2 PRs above, you may want to open the scraper enhancement as a new issue.

[2021-05-03 09:41] asallay opened #995 "[Feature Req] Worldometers Weekly Trends data source"
There is a new table for the weekly trends data in the Worldometer Coronavirus updates page:

https://www.worldometers.info/coronavirus/weekly-trends/#countries

It would be nice to get this data in the API too, as a separate endpoint, or merged into the regular worldometers based one.
Especially since the EU's recommendation for the restriction of free movement in response to the COVID-19 pandemi

[2021-05-03 12:51] ebwinters commented on #995
I agree this is useful information. The work that is needed here involves:
1. Writing a scraper that reuses some code to parse this HTML table and throw the data into Redis
2. Writing tests
3. Writing API docs

We won't be calculating anything further than the data that is there, since we are just a source. I don't have time to work on this right now, but let me post in Discord and see if anyone i

[2021-05-06 08:43] maltejur opened #996 "New website"
Hello everyone,

Since the current website could still need some improvements, I've made a new website for this project. Let me know what you think about it. The newsletter thing still isn't integrated, so that's why I didn't open a pr and it currently ist still a bit broken on mobile.

https://github.com/maltejur/disease.sh
https://maltejur.github.io/disease.sh/

[2021-05-06 14:18] puf17640 commented on #996
Hey this looks really cool! Might need some polishing on the features section to not make it look a bit empty but I'm loving the general look of it! Great work!

Are you a member of our Discord Server? If so, please contact us there so we can talk about integrating your version of the website! 👍🏻  If not, please join so we can do what I just said haha

[2021-05-06 14:18] puf17640 commented on #996
@ebwinters check this out mate!

[2021-05-06 14:21] puf17640 commented on #995
Ayy this is really interesting!!! I'm not gonna promise anything but if I ever get time to work on a new feature again, this will be it!

[2021-05-06 14:21] puf17640 commented on #984
Any update on this? :)

[2021-05-06 14:22] puf17640 commented on #872
@nibble0101 any updates on this?

[2021-05-06 14:23] puf17640 commented on #978
can we close this?

[2021-05-06 16:03] ebwinters commented on #996
This looks really good @maltejur. Once you fix mobile and some smaller things, we can help with the email stuff

[2021-05-06 17:27] maltejur commented on #996
Okay, I've fixed the mobile version and polished some things.

Hmm that's true. I am not really sure what to do there, but I'll probably just write some more text for the ones that still have a lot of white space. If you have any other things like this one that you don't like, just let me know.

[2021-05-06 20:53] meirroth commented on #984
Hi @puf17640,
I'm fixing this now, will create PR by tomorrow.

[2021-05-07 16:57] AndrejMeszarosDS opened #998 "No popup when clicked on marker"
Try on homepage  https://react-leaflet.js.org with Safari.
Chrome and Firefox OK.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Where the bug occurring? Examples:
- Live URL for endpoint?
- Server side?
- Development environment?

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add s

[2021-05-08 06:29] nik-suri commented on #978
@puf17640 Yes, this should be closed since the specific issue - reformatting the vaccine data response - has been merged in.

@comster Can you please open a new issue requesting the additional vaccine data fields?

[2021-05-08 15:00] maltejur commented on #996
I've updated the feature section so that the text are all roughly the same size. I'm ready to integrate the newsletter, just tell me how to do it here or on the discord.

[2021-05-08 16:23] ebwinters commented on #998
What is this? There's no context

[2021-05-08 16:24] #978 closed

[2021-05-08 16:28] ebwinters commented on #996
@maltejur is there a PR for this work?

Dealing with adding mail is straight forward. See this script section here: https://github.com/disease-sh/API/blob/5e1eaade8c6c778bef7c97702fc2297cd605ed76/public/index.ejs#L212

In this case, we're validating, parsing, an then calling an internal private endpoint. All you need to do is keep or move that logic to call the endpoint somewhere.

[2021-05-08 20:13] AndrejMeszarosDS commented on #998
Hi
Sorry for this.

Best regards

Andrej

Používateľ Ethan Winters ***@***.***> sobota 8. mája 2021
napísal:

https://ci4.googleusercontent.com/proxy/bhLX7TGKMBdbl2TjF2Ho4FtR2ynqQD_0Px1xXqpWvtypVN9rvMKDjILo16MPD9a_HiEAkR5gzDU2fvAx5juH2c7-Vny85I-ZAEbRqM_UcoNqrhGNQddOt2ie79kda3TwkNTaMSGFhdZPhJ5RTitmEHwB-T4ivZEQs5R_ifNeFGwuTQCgFTF7uGk2gNqU2CmfdITXw_nzAglFzdPVpGms1PClurXF2wKKvnxiA_5fjA=s0-d-e1-ft#http

[2021-05-10 14:01] puf17640 commented on #998
I really don't get what is going on here so I will close this issue until there is any context to what you are having trouble with, I would appreciate if you could take a few seconds to write a few sentences instead of just sending in a link of an empty gif.

[2021-05-10 14:01] #998 closed

[2021-05-10 14:06] puf17640 commented on #872
alright! I was just checking in to see if you are still going to work on this!
i currently do not have any time to work on features for this project unfortunately, but the codebase is mostly @ebwinters and my code anyway 😉 looking forward to reviewing your code as soon as you find time to work on it, no stress! 👍🏻

[2021-05-15 18:25] nnguyen52 opened #1003 "[BUG] https://disease.sh/v3/covid-19/continents/oceania doesn't work"
Can you fix this endpoint (https://disease.sh/v3/covid-19/continents/oceania )

Thank you!  <3

[2021-05-16 09:46] puf17640 commented on #1003
I'm currently looking into it but please bear with me, I'm hungover and my laptop has 4% battery left.

[2021-05-16 10:31] puf17640 commented on #1003
hm, seems we never wrote tests to check if all continent endpoints are actually working... I'll post the issue in the discord server, maybe someone has time to fix this properly!

[2021-05-16 12:42] neo7337 commented on #1003
For this issue, it is found that here strict checking is not working properly
https://github.com/disease-sh/API/blob/master/utils/nameUtils.js#L87

in case of strict `checking==true` we should be doing fuzzySearch() otherwise we can go with the logic present here : `stringUtils.wordsStandardize(ctry[selector]) === standardizedName`

lemme know if this feels right?

in case of australia/oceania str

[2021-05-16 12:56] neo7337 commented on #1003
if `strict` flag is set to `false` it works fine for oceania or australia as well.

[2021-05-17 07:06] nnguyen52 commented on #1003
yes @neo7337, strict = false make this endpoint works. Thank you kindly! < 3

[2021-05-17 12:47] ebwinters commented on #1003
real issue is here: https://github.com/disease-sh/API/pull/1004#issuecomment-842295774

[2021-05-18 13:57] ebwinters opened #1005 "[BUG] don’t publish if unit tests fail"
**Describe the bug**
We should not run the publish action if unit tests are failing

[2021-05-18 18:32] puf17640 commented on #1003
this has been fixed by the latest PR and some commits I pushed afterwards to extend the fix.

https://disease.sh/v3/covid-19/continents/australia-oceania,
https://disease.sh/v3/covid-19/continents/australia and
https://disease.sh/v3/covid-19/continents/oceania
should all work now and return the same data.

[2021-05-18 18:32] #1003 closed

[2021-05-18 19:45] #996 closed

[2021-05-18 19:59] dontlaugh opened #1006 "[BUG] Issues with the new site"
@maltejur Nice work on the new site!

Made an issue to shake out anything new in this transition. Looks good so far.

### Issues

* The docs link should go to https://disease.sh/docs/  (I believe)
* remove buy me a coffee link since it is being routed to someone who is unrelated to API dev for the last year

[2021-05-18 21:10] puf17640 commented on #1006
thanks coleman! i wanted to do the same thing tomorrow morning! these things need to be adressed asap 👍

[2021-05-18 21:17] puf17640 commented on #1005
resource: https://docs.github.com/en/actions/reference/events-that-trigger-workflows#workflow_run

[2021-05-19 14:01] maltejur opened #1008 "[BUG] Full vaccine data per country is showing 0"
**Describe the bug**

The fields `daily`, `totalPerHundred` and `dailyPerMillion` all have a value of 0 on the `vaccine/coverage/countries?fullData=true` Endpoint.

**To Reproduce**
Visit https://disease.sh/v3/covid-19/vaccine/coverage/countries?lastdays=1&fullData=true

**Expected behavior**
I expect to see daily cases, cases per hundred and daily cases per million in the respective fields.

**Sc

[2021-05-23 18:19] #1006 closed

[2021-05-28 11:23] JamieSlome opened #1012 "Potential Security Issue"
Hello,

We have received a potential vulnerability disclosure against your repository from @hakkk3r. I followed your `SECURITY.md` and have created this issue to notify you.

The report is private to the maintainers and discloser of the vulnerability and can be found [here](https://huntr.dev/bounties/1-other-disease-sh/API/). If you prefer to receive the details of the vulnerability via e-mail or

[2021-05-29 10:39] PrincessRavy commented on #1012
Hi!

I'll be taking care of this; sadly I can't access the actual vulnerability details.

[2021-05-29 11:21] JamieSlome commented on #1012
Hello @PrincessRavy - I have granted you access now, apologies!

-- Jamie

[2021-05-29 11:43] ebwinters commented on #1012
@JamieSlome I can't see the report either! Also FYI nobody is going to pay you $40, you'll have to pay whoever found the "vulnerability" the money lol

[2021-05-29 11:49] PrincessRavy commented on #1012
I've responded on the advisory on huntr; tl;dr what ethan said, this is used in frontend to show a preview of out API and doesn't affect the consumer or us in any way, hence low severity. Not sure whether this will be accepted as a valid issue here, we'll look into it with our frontend dev.

[2021-05-29 16:56] JamieSlome commented on #1012
@ebwinters @PrincessRavy - I am one of the staff members from huntr.dev! I am purely facilitating on behalf of @hakkk3r, the original discloser.

If the report is invalid in your eyes, feel free to let me know and I can mark the report accordingly, otherwise you can do this yourself on the platform.

I will get you access to the advisory now @ebwinters - we are currently in the process of re-build

[2021-05-29 16:59] JamieSlome commented on #1012
@ebwinters - just checked, you should have access to the report? By default, we responsibly disclosed, so we do not allow any public or authed user to view your reports, hence we currently require sign-in to view the details.

However, if you are anti-signing up, more than happy to send the report to a preferred e-mail address of your choosing?

Here to help!

[2021-05-30 14:43] ebwinters commented on #1012
makes sense the advisory is blocked to the public lol. Going to close this issue as it is not user impacting in anyway! Thanks for submitting

[2021-05-30 14:43] #1012 closed

[2021-06-10 06:47] tmkasun opened #1015 "[BUG] OAS validation errors in swagger_v3.json"
**Describe the bug**

The [swagger_v3.json](https://github.com/disease-sh/API/blob/master/public/apidocs/swagger_v3.json) contains about 90 errors when it's validated against OAS 3 spec.

**To Reproduce**
Where is the bug occurring? Examples:

- [Live URL in swaggerhub](https://app.swaggerhub.com/apis/tmkasun/disease-sh_docs_an_open_api_for_disease_related_statistics/3.0.0)
- Server-side? No in AP

[2021-07-14 15:35] nibble0101 commented on #1008
@maltejur  and @ebwinters I don't think it is a bug. The only thing we try to calculate is the total from daily if there are missing values. The rest are left as reported by the source.  If  reported as `0` then the source is missing those values. You can check [here](https://github.com/disease-sh/API/blob/master/scrapers/covid-19/getVaccine.js#L164-L167).

[2021-07-15 14:51] ebwinters commented on #1008
@nibble0101 good catch. Closing the issue, thanks

[2021-07-15 14:51] #1008 closed

[2021-07-18 14:50] mrnonz opened #1017 "[BUG] undefined in countries API"
**Describe the bug**
`undefined` return key should be omitted

**To Reproduce**
- `curl -X GET "https://disease.sh/v3/covid-19/countries/UK" -H "accept: application/json"`
- You will got like this
[code]

**Expected behavior**
Should not contain `undefined` key

[2021-07-18 17:22] mrnonz commented on #1017
Fixed in #1018

[2021-07-18 17:22] #1017 closed

[2021-07-30 14:46] ebwinters opened #1019 "[Feature Req] Variant tracking"
Would love to be able to see how many new cases/hsopitalizations/deaths are coming from each variant on a given day. This would allow for plotting of interesting trend lines

[2021-08-23 04:43] DhiaDjobbi opened #1020 "[BUG] Why the historical/all does not return the recovered numbers anymore?"
I don't know why the number is recovered people is not updated since the **8/5/21** .
You find it here https://corona.lmao.ninja/v2/historical/all
The API returns the number of deaths and cases but doesn't return anymore the number of recovered people and shows 0.

![image](https://user-images.githubusercontent.com/40583006/130390948-7f76b5c0-271b-401a-887b-792d74d89baf.png)

[2021-08-23 14:11] ebwinters commented on #1020
Hi there. Johns Hopkins (the source for the timeline data) has stopped entering recovery data as of 8/5/21. The data is public, you can seen [here](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv) if you check any country's data since 8/5 it is all zeroed out 😞

Also, please use https://corona.lmao.ninja/v

[2021-08-23 14:11] #1020 closed

[2021-10-03 20:15] balloonguy opened #1021 "just saw 19,481 "Critical" yet 35 deaths today USA. It's you doing it"
Maybe there's a reason worldometers, just your source that you know better than, lists it as "Serious OR Critical (that's a type of logic gate btw" and in the table as "Serious, Critical". You tech boys are having fun doing all this tech stuff, heart after heart, you are so passionate about things such as mere logic gates except the logic that is displayed directly to the public.

[2021-10-04 01:05] ebwinters commented on #1021
We are serving the exact data from the source:
<img width="1162" alt="image" src="https://user-images.githubusercontent.com/4297028/135780023-adb62e02-957c-4e23-a6d4-59f1c23c0a8b.png">

<img width="464" alt="image" src="https://user-images.githubusercontent.com/4297028/135780031-2a0d9019-38ca-45fc-a618-49b2d9bbb7cc.png">

What is manipulated about what we are doing? There are no "logic gates" invo

[2021-10-04 01:05] #1021 closed

[2021-10-06 19:09] balloonguy opened #1022 "What is displayed to the public is missing this infographic [BUG]"
The bug is an incorrect labeling of "Critical OR Serious" and "Critical, Serious" as "Critical" and a customer being locked up on the issues page when trying to get customer support for the issue

To reproduce: Load a page that has the data fetched by the program, and then dare to complain

Expected Behavior: A seamless integration on the public display and for someone who already complained about

[2021-10-06 21:30] balloonguy commented on #1022
I was not aware of the limits of the scope, and thought it was a kind of API that could turn itself into a Twitter division on the page, thus putting in its labels. What is happening is people are being more misled than not because of these labels because they are not supposed to check through each source and think the label is shorthand for the content like on worldometers for some reason. Also r

[2021-10-06 21:51] ebwinters commented on #1022
we've already agreed this is a bug in our code. You can either fix it in the way I outlined above, or wait for someone else to get to it.

[2021-10-14 19:56] rdrrichards opened #1025 "502 Response calling API"
Getting 502 response when trying to use the API via the swagger page: https://corona.lmao.ninja/docs/#/

Or directly: https://corona.lmao.ninja/v3/covid-19/countries

502: Bad gateway

[2021-10-14 20:11] HasanKod commented on #1025
Try: https://disease.sh/v3/covid-19/countries

[2021-10-14 20:21] rdrrichards commented on #1025
That works. Thanks!

[2021-10-14 20:36] #1025 closed, assigned to nobody

[2021-10-15 02:18] anshbajpai opened #1026 "API not working"
Hi,
I am trying to access the following endpoint
(https://corona.lmao.ninja/v2/jhucsse)

but the API is responding with 502 bad gateway.

It's really important.
Thanks

[2021-10-15 09:16] ustaslive commented on #1026
@kajbo92 Thanks a lot! Worked for me

[2021-10-18 09:13] SharjeelSafdar opened #1027 "Recovered Cases are ZERO since 8/5/21 [BUG]"
**Describe the bug**
The number of recovered cases is zero since August 5, 2021. Even on this page [disease.sh](https://disease.sh/), the graph shows zero recovered cases after August 5, 2021.

**To Reproduce**
1.  Go to this [link](https://disease.sh/v3/covid-19/historical/all?lastdays=all).
2.  You will see the recovered cases are zero from 8/5/2021 and afterwards.

The same is true for every co

[2021-10-18 14:06] #1027 closed, assigned to nobody

[2021-11-10 19:47] PrincessRavy commented on #1026
Do note that that domain has been deprecated for over a year, so uptime cannot be guaranteed. It currently runs on a personal server with no active monitoring.

[2021-11-10 19:47] #1026 closed

[2021-11-10 19:49] PrincessRavy commented on #1015
hey @aneeshafedo, want to help out with this?

[2021-12-29 21:35] yosoycentli commented on #1019
Hi there,
I would like to work on this issue, if everyone is ok with that I'll be working on this.
:)

[2021-12-30 20:50] ebwinters commented on #1019
@yosoycentli  totally. Where are you planning to get the data?

[2021-12-31 00:42] yosoycentli commented on #1019
Hi, @ebwinters,
I was thinking of getting information from this site (https://covid.cdc.gov/covid-data-tracker/#variant-proportions), apparently, they update it every week, I intend to continue looking for more sources of information but for now, I would start here.

I would like to know if the issue can be divided into two, I would like to take care of the scrapper part of the information, but I

[2021-12-31 19:39] ebwinters commented on #1019
Sound good. Keep in mind their use of agency metrial policy summarized below:

1) Attribution to the agency that developed the material must be provided in your use of the materials.  Such attribution should clearly state the materials were developed by CDC ATSDR and/or HHS (e.g., “Source: CDC”; “Materials developed by CDC”);

2) You must utilize a disclaimer which clearly indicates that your use

[2022-01-15 00:03] yosoycentli commented on #1019
Hi @ebwinters

I just did a PR, I'm still working on some details like the swagger documentation, the scraper test, and the removal of a dependency that I added, but the feature can be reviewed.

Stay tuned for any comments.

😃

https://github.com/disease-sh/API/pull/1030

[2022-01-20 15:43] ebwinters opened #1033 "[BUG] Add Influenza Tests Back"
**Describe the bug**
CDC only serves the data for weeks where flu cases are being reported. This means accessing by week will not work for certain weeks. Also update URL to 2022-2023.

[2022-02-01 21:00] dontlaugh opened #1034 "Ship an additional, lexically-sortable docker tag"
We are upgrading the version of flux we use to deploy our APIs. Moving from flux1 to flux2.

Flux2 changes it's automatic image detection. It now requires either semver, lexical sorting, or numeric sorting.

* semver (get the latest within a range)
* alphabetical (asc/desc)
* numerical (asc/desc)

Here is the main docker repo https://hub.docker.com/r/novelcovid/novelcovid-api/tags

Note that tags

[2022-02-03 15:35] ebwinters commented on #1034
Right now we are using the [build push publish action](https://github.com/docker/build-push-action). It looks like it supports semver out of the box. Would {Major}.{Minor} work?

<img width="568" alt="image" src="https://user-images.githubusercontent.com/4297028/152374659-7cbdc661-33f4-4cfb-82aa-210f88e2a8e6.png">

[2022-02-03 17:46] bcmendoza commented on #1034
@ebwinters Yes, that would work. But it seems like the deployment strategy is using the SHA tags -- likely to track with the latest changes vs just version releases. If you want the latest images auto-deployed, we'll need to move to CalVer.

[2022-02-03 17:56] bcmendoza commented on #1034
This seems to be the tagging strategy we want to go with: https://github.com/docker/metadata-action#typeschedule

[2022-02-04 15:13] ebwinters commented on #1034
so we want the tags to look like `2021-02-04-23-53` instead of `sha-49a86a6`

[2022-02-04 15:17] ebwinters commented on #1034
@PrincessRavy will this change affect your webhook for pulling latest image?

[2022-02-04 15:19] ebwinters commented on #1034
@bcmendoza linked PR check it out, seems that format is supported out of the box with the action we are using

[2022-02-04 15:52] PrincessRavy commented on #1034
don't think so, webhook builds from source

[2022-02-04 16:34] bcmendoza commented on #1034
@ebwinters Thanks for the PR! I left a comment there. We'll need to support both tag formats for the meantime until we can fully migrate over to Flux 2.

[2022-02-07 17:46] #1034 closed

[2022-04-03 15:08] Djordjenp opened #1047 "Historical data for continents"
Is there a way to retrieve historical data for continents?

[2022-05-17 18:45] bummoblizard opened #1051 "[BUG] DPRK does not have an iso2 code in `v3/covid-19/countries`"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

[2022-05-18 14:13] #1051 closed, assigned to ebwinters

[2022-05-23 14:03] Dooks123 opened #1053 "[Feature Req] Monkeypox Api please?"
**Is your feature request related to a problem? Please describe.**
Nope, no problem.

**Describe the solution you'd like**
An endpoint for Monkeypox cases please

**Additional context**
Same output as Covid apis, All, Countries yesterday and today

[2022-08-22 19:15] ebwinters commented on #1053
Great idea. Let's see if I can get some traction on this from community. Give me a bit

[2022-10-25 18:21] samtaitai opened #1056 "[BUG] the link for one of badges broken in readme.md"
**Describe the bug**
Hi, first I'd like to say that this is a really cool project!
I happened to find that the badge called 'Visits' has a broken link in README.md

**To Reproduce**
the broken link is this: https://badges.pufler.dev/visits/disease-sh/api?style=for-the-badge
it said that web server is down (error code 521).

**Expected behavior**
Recovering the link would be nice.

**Screenshots**

[2022-10-25 18:40] puf17640 commented on #1056
thanks for noticing, this is my server. but I currently just don't have the time to keep it up and maintain it. it will be back up again some time

[2022-11-01 17:26] Ahmed-UPEC opened #1057 "[BUG] JHUCSSE Recovered data are not trustworthy"
I am currently building a PyQT App for my Master and I have to create a Covid traker APP. After fetching data from https://disease.sh/v3/covid-19/historical/ end-point. I can see in my plots that the recovered data are not trustworthy.
Is it me or the recovered data should be neglected.

![image](https://user-images.githubusercontent.com/56971722/199298030-f02afa66-95f8-459b-af91-7d1d7a7f1994.png)

[2022-11-03 17:27] ebwinters commented on #1057
https://github.com/CSSEGISandData/COVID-19/issues/4465

JHU stopped maintaining recovered data on Aug 4 2021 , as seen above

[2022-11-03 17:27] #1057 closed